<a href="https://colab.research.google.com/github/CoWoGeo/PUS2022_CWolk/blob/main/ClassDemoBusTimes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

mean = 34
std = 2.5 min
p-value = 2 sigma
You need two more values. Value for z

In [1]:
# Need to know whether the new trip value is statistically the same as the old trip value

In [20]:
import pandas as pd
import numpy as pd
popmu = 34
popsig = 2.5

In [15]:
newsample = pd.read_csv("https://raw.githubusercontent.com/fedhere/PUS2022_FBianco/main/classdemo/times.txt", header=None)

In [16]:
newsample.describe()

                0
count  100.000000
mean    34.466162
std      7.137280
min     16.527267
25%     30.020542
50%     34.693057
75%     39.603456
max     48.749877

In [17]:
# Mean of new sample is 34.466162

In [18]:
len(newsample)

100

In [19]:
# To get Z value, Z = (mu - x_bar) / (sigma / sqrt(N))

In [26]:
def z(mu, sig, x)

SyntaxError: ignored

In [ ]:
# I was transcribing the last bit of code at the end of class and got an error message. I had trouble figuring out the code and understanding the statistics at the same time.