<a href="https://colab.research.google.com/github/CoWoGeo/PUS2022_CWolk/blob/main/ProjectLanthamWolk/LIViolations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to L&I Violations Notebook

This notebook uses the Philadelphia License and Inspections Code Violations dataset: https://www.opendataphilly.org/dataset/licenses-and-inspections-violations

For our analysis, we retrieved all L&I code violations for locations with junkyards from 2017 through the present. The junkyard locations were retrieved in the Business License notebook.

Code violations range from paperwork-y things such as using a site without the license for it (selling food from your house or not having a rental license, for example) or not having materials safety data sheets (MSDS) available to imminent physical hazards such as fire code violations or imminently dangerous buildings. Some of this is given by the prefix in the violation code: FC is Fire Code, for example.

After finding all locations of junkyard licenses in another notebook, we are pulling all L&I violations in the past ~5 years for the location. This is not a perfect method. For example, a site can change owners or use, even turning into luxury condos, and some junkyard sites have non-junkyard businesses at the same location. But that's a problem to solve in a future version of this project if necessary.

# Installing Libraries

In [1]:
!apt install python3-rtree

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources
Suggested packages:
  python3-setuptools
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources python3-rtree
0 upgraded, 5 newly installed, 0 to remove and 20 not upgraded.
Need to get 671 kB of archives.
After this operation, 3,948 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-pkg-resources all 39.0.1-2 [98.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-rtree all 0.8.3+ds-1 [16.9 kB]
Fetched 671 kB in 1s (544 kB/s)
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 124013 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-pkg-resources.
Preparing to unpack .../python3-pkg-resources_39.0.1-2_all.deb ...
Unpacking python3-pkg-resources (39.0.1-2) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-rtree.
Preparing to unpack .../python3-rtree_0.8.3+ds-1_all.deb ...
Unpacking python3-rtree (0.8.3+ds-1) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up python3-pkg-resources (39.0.1-2) ...
/usr/lib/python3.8/subprocess.py:842: RuntimeWarning: line buffering (buffering=1) isn't supported in binary mode, the default buffer size will be used
  self.stdin = io.open(p2cwrite, 'wb', bufsize)
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up python3-rtree (0.8.3+ds-1) ...
/usr/lib/python3.8/subprocess.py:842: RuntimeWarning: line buffering (buffering=1) isn't supported in binary mode, the default buffer size will be used
  self.stdin = io.open(p2cwrite, 'wb', bufsize)
Processing triggers for libc-bin (2.27-3ubuntu1.6) ...

In [2]:
!pip install geopandas
import geopandas as gpd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 9.2 MB/s
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.8.5.post1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.6 MB)
     |████████████████████████████████| 16.6 MB 159 kB/s
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     |████████████████████████████████| 7.8 MB 40.1 MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from geopandas) (21.3)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2022.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->geopandas) (3.0.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.0

In [3]:
!pip install cartoframes

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cartoframes
  Downloading cartoframes-1.2.4-py2.py3-none-any.whl (245 kB)
     |████████████████████████████████| 245 kB 9.0 MB/s
Requirement already satisfied: jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from cartoframes) (2.11.3)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.8/dist-packages (from cartoframes) (1.3.5)
Collecting semantic-version<3,>=2.8.0
  Downloading semantic_version-2.10.0-py2.py3-none-any.whl (15 kB)
Collecting unidecode<2.0,>=1.1.0
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 40.5 MB/s
Collecting carto<2.0,>=1.11.3
  Downloading carto-1.11.3.tar.gz (27 kB)
Requirement already satisfied: appdirs<2.0,>=1.4.3 in /usr/local/lib/python3.8/dist-packages (from cartoframes) (1.4.4)
Requirement already satisfied: geopandas<1.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from cartoframes) (0.12.2)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.8/dist-packages (from carto<2.0,>=1.11.3->cartoframes) (2.23.0)
Collecting pyrestcli==0.6.11
  Downloading pyrestcli-0.6.11.tar.gz (9.1 kB)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.8/dist-packages (from pyrestcli==0.6.11->carto<2.0,>=1.11.3->cartoframes) (2.8.2)
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.8/dist-packages (from pyrestcli==0.6.11->carto<2.0,>=1.11.3->cartoframes) (0.16.0)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.8/dist-packages (from geopandas<1.0,>=0.6.0->cartoframes) (1.8.22)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from geopandas<1.0,>=0.6.0->cartoframes) (21.3)
Requirement already satisfied: pyproj>=2.6.1.post1 in /usr/local/lib/python3.8/dist-packages (from geopandas<1.0,>=0.6.0->cartoframes) (3.4.0)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.8/dist-packages (from geopandas<1.0,>=0.6.0->cartoframes) (1.8.5.post1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (57.4.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (0.7.2)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (7.1.2)
Requirement already satisfied: munch in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (2.5.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (2022.9.24)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (22.1.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (1.1.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.0,>=2.10.1->cartoframes) (2.0.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.0->cartoframes) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.0->cartoframes) (1.21.6)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->carto<2.0,>=1.11.3->cartoframes) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->carto<2.0,>=1.11.3->cartoframes) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->carto<2.0,>=1.11.3->cartoframes) (1.24.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->geopandas<1.0,>=0.6.0->cartoframes) (3.0.9)
Building wheels for collected packages: carto, pyrestcli
  Building wheel for carto (setup.py) ... done
  Created wheel for carto: filename=carto-1.11.3-py3-none-any.whl size=35088 sha256=396691957498584263c4a73321b757d5d24cbceb74f27cab7248802e5a79c6c5
  Stored in directory: /root/.cache/pip/wheels/6b/a3/41/90fa4334cd280f91d17226f36db7a34b12902f7e5b281afb84
  Building wheel for pyrestcli (setup.py) ... done
  Created wheel for pyrestcli: filename=pyrestcli-0.6.11-py3-none-any.whl size=8496 sha256=86f37aadc00e73d60bb079cc6a3d5b0864e457ac0319b56ab54087bc1f82d5df
  Stored in directory: /root/.cache/pip/wheels/92/fc/98/2e46573b8e1bbe953345578314c765d3ecdc9532450bb90d79
Successfully built carto pyrestcli
Installing collected packages: pyrestcli, unidecode, semantic-version, carto, cartoframes
Successfully installed carto-1.11.3 cartoframes-1.2.4 pyrestcli-0.6.11 semantic-version-2.10.0 unidecode-1.3.6

In [4]:
import cartoframes as cf

In [5]:
! pip install shapely
! conda install -c conda-forge fiona

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: shapely in /usr/local/lib/python3.8/dist-packages (1.8.5.post1)
/bin/bash: conda: command not found

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
import matplotlib.pyplot as plt

# Importing and Cleaning L&I Violations Data

I did manage to modify the link to get the years I want all in one go! I would like to be able to cut out some of the useless columns before importing, but oh well.

In [9]:
violations = gpd.GeoDataFrame.from_file("https://phl.carto.com/api/v2/sql?filename=violations&format=shp&skipfields=cartodb_id&q=SELECT%20*%20FROM%20violations%20WHERE%20violationdate%20%3E=%20%272017-01-01%27")

In [10]:
violations.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 578593 entries, 0 to 578592
Data columns (total 31 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   objectid    578593 non-null  int64
 1   addressobj  577043 non-null  object
 2   parcel_id_  276725 non-null  object
 3   casenumber  578593 non-null  object
 4   casecreate  575848 non-null  object
 5   casecomple  433514 non-null  object
 6   casetype    278587 non-null  object
 7   casestatus  578593 non-null  object
 8   caserespon  575301 non-null  object
 9   casepriori  575839 non-null  object
 10  violationn  578593 non-null  object
 11  violationd  578593 non-null  object
 12  violationc  578263 non-null  object
 13  violatio_1  578210 non-null  object
 14  violations  574440 non-null  object
 15  violationr  179017 non-null  object
 16  violatio_2  179022 non-null  object
 17  mostrecent  561375 non-null  object
 18  opa_accoun  567834 non-null  object
 19  address     576505 non-null  object
 20  unit_type   7018 non-null    object
 21  unit_num    8828 non-null    object
 22  zip         576492 non-null  object
 23  censustrac  576434 non-null  object
 24  opa_owner   567693 non-null  object
 25  systemofre  578593 non-null  object
 26  geocode_x   575881 non-null  float64
 27  geocode_y   575881 non-null  float64
 28  council_di  276148 non-null  object
 29  posse_jobi  278808 non-null  object
 30  geometry    575881 non-null  geometry
dtypes: float64(2), geometry(1), int64(1), object(27)
memory usage: 136.8+ MB

This is a big dataset. Unfortunately, there isn't an obvious set of rows to trim. I might go back in and remove some of the city-owned properties such as the School District of Philadelphia or Philadelphia Housing Authority, but knowing Philly, there could be licensed junkyards there, too. However, I can at least cut some columns!

In [11]:
# removing useless or less useful columns
violations = violations.drop(columns=["addressobj", "parcel_id_", "opa_accoun", 
                                      "unit_type", "council_di", "posse_jobi"], 
                             axis=1)

In [12]:
violations.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 578593 entries, 0 to 578592
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   objectid    578593 non-null  int64
 1   casenumber  578593 non-null  object
 2   casecreate  575848 non-null  object
 3   casecomple  433514 non-null  object
 4   casetype    278587 non-null  object
 5   casestatus  578593 non-null  object
 6   caserespon  575301 non-null  object
 7   casepriori  575839 non-null  object
 8   violationn  578593 non-null  object
 9   violationd  578593 non-null  object
 10  violationc  578263 non-null  object
 11  violatio_1  578210 non-null  object
 12  violations  574440 non-null  object
 13  violationr  179017 non-null  object
 14  violatio_2  179022 non-null  object
 15  mostrecent  561375 non-null  object
 16  address     576505 non-null  object
 17  unit_num    8828 non-null    object
 18  zip         576492 non-null  object
 19  censustrac  576434 non-null  object
 20  opa_owner   567693 non-null  object
 21  systemofre  578593 non-null  object
 22  geocode_x   575881 non-null  float64
 23  geocode_y   575881 non-null  float64
 24  geometry    575881 non-null  geometry
dtypes: float64(2), geometry(1), int64(1), object(21)
memory usage: 110.4+ MB

In [13]:
# removing rows without geometry. Looking at the API, a lot of those were
# redundant kind of notes entries anyway, not new records
violations = violations[violations["geometry"].notna()]

In [14]:
violations.head()

,objectid,casenumber,casecreate,casecomple,casetype,casestatus,caserespon,casepriori,violationn,violationd,...,mostrecent,address,unit_num,zip,censustrac,opa_owner,systemofre,geocode_x,geocode_y,geometry
0,26,568801,2017-01-05,None,NOTICE OF VIOLATION,IN VIOLATION,CSU INVESTIGATOR,UNSAFE,211935409,2017-01-05,...,2022-11-14,3405 HARTVILLE ST,None,19134-1112,192,CACERES LUCAS,ECLIPSE,2.705493e+06,254039.265185,POINT (-75.11898 40.00056)
1,27,568801,2017-01-05,None,NOTICE OF VIOLATION,IN VIOLATION,CSU INVESTIGATOR,UNSAFE,211935410,2017-01-05,...,2022-11-14,3405 HARTVILLE ST,None,19134-1112,192,CACERES LUCAS,ECLIPSE,2.705493e+06,254039.265185,POINT (-75.11898 40.00056)
2,28,568801,2017-01-05,None,NOTICE OF VIOLATION,IN VIOLATION,CSU INVESTIGATOR,UNSAFE,211935531,2017-01-05,...,2022-11-14,3405 HARTVILLE ST,None,19134-1112,192,CACERES LUCAS,ECLIPSE,2.705493e+06,254039.265185,POINT (-75.11898 40.00056)
3,29,568809,2017-01-06,None,NOTICE OF VIOLATION,IN VIOLATION,BUILDING COURTS,STANDARD,211935411,2017-01-06,...,None,913 FILLMORE ST,None,19124-2402,292,MCSHEA TIMOTHY,ECLIPSE,2.712380e+06,263513.267975,POINT (-75.09339 40.02599)
4,30,568809,2017-01-06,None,NOTICE OF VIOLATION,IN VIOLATION,BUILDING COURTS,STANDARD,211935412,2017-01-06,...,None,913 FILLMORE ST,None,19124-2402,292,MCSHEA TIMOTHY,ECLIPSE,2.712380e+06,263513.267975,POINT (-75.09339 40.02599)

In [15]:
violations.iloc[:,8:].head()

,violationn,violationd,violationc,violatio_1,violations,violationr,violatio_2,mostrecent,address,unit_num,zip,censustrac,opa_owner,systemofre,geocode_x,geocode_y,geometry
0,211935409,2017-01-05,PM15-304.1G,EXTERIOR STRUCT UNSAFE COND 7,OPEN,None,None,2022-11-14,3405 HARTVILLE ST,None,19134-1112,192,CACERES LUCAS,ECLIPSE,2.705493e+06,254039.265185,POINT (-75.11898 40.00056)
1,211935410,2017-01-05,PM15-305.1,INTERIOR UNSAFE,OPEN,None,None,2022-11-14,3405 HARTVILLE ST,None,19134-1112,192,CACERES LUCAS,ECLIPSE,2.705493e+06,254039.265185,POINT (-75.11898 40.00056)
2,211935531,2017-01-05,PM15-108.1,UNSAFE STRUCTURE,OPEN,None,None,2022-11-14,3405 HARTVILLE ST,None,19134-1112,192,CACERES LUCAS,ECLIPSE,2.705493e+06,254039.265185,POINT (-75.11898 40.00056)
3,211935411,2017-01-06,A-301.1/55,PERMP- ALTER/REPAIR/REPL PLUMB,OPEN,None,None,None,913 FILLMORE ST,None,19124-2402,292,MCSHEA TIMOTHY,ECLIPSE,2.712380e+06,263513.267975,POINT (-75.09339 40.02599)
4,211935412,2017-01-06,A-301.1/51,PERME- INST/REPL/REPAIR WIRE,OPEN,None,None,None,913 FILLMORE ST,None,19124-2402,292,MCSHEA TIMOTHY,ECLIPSE,2.712380e+06,263513.267975,POINT (-75.09339 40.02599)

In [16]:
#violations_save = violations.copy()

In [17]:
violations = violations[['caserespon', 'casepriori',        
            'violationc', 'violatio_1',  'geometry']]

In [18]:
len(violations.violationc.unique())

2305

Earlier, I looked at the contents of more columns and addressobj and parcels are in a different format than in business licenses, woohoo! It's still unclear what addressobj actually means. The parcels in this dataset were closer to the real parcel format but still not uniform.

## Importing Junkyard Locations

The whole set of licenses attached to each junkyard is in a different file. There is data cleaning in this notebook because I realized that a. I hadn't flattened this to one row per target object b. I wanted to preserve the number of different business names that have had junkyard licenses there as an object.

In [19]:
junklocations = gpd.GeoDataFrame.from_file("https://github.com/CoWoGeo/PUS2022_CWolk/raw/main/ProjectLanthamWolk/PhillyJunkyardLocations.geojson")

In [20]:
junklocations.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          356 non-null    object
 1   map_section      384 non-null    object
 2   map_parcel       383 non-null    object
 3   parcel_full      384 non-null    object
 4   PWD_review       65 non-null     object
 5   DOR_review       65 non-null     object
 6   address_licdata  384 non-null    object
 7   unit_type        56 non-null     object
 8   unit_num         56 non-null     object
 9   zip              384 non-null    object
 10  opa_accoun       322 non-null    object
 11  opa_owner        322 non-null    object
 12  licensenum       384 non-null    object
 13  licensetyp       384 non-null    object
 14  initialiss       384 non-null    object
 15  mostrecent       384 non-null    object
 16  expiration       384 non-null    object
 17  inactiveda       259 non-null    object
 18  licensesta       384 non-null    object
 19  legalfirst       144 non-null    object
 20  legallastn       144 non-null    object
 21  legalname        384 non-null    object
 22  legalentit       384 non-null    object
 23  business_n       384 non-null    object
 24  business_m       384 non-null    object
 25  geocode_x        384 non-null    float64
 26  geocode_y        384 non-null    float64
 27  geometry         384 non-null    geometry
dtypes: float64(2), geometry(1), object(25)
memory usage: 84.1+ KB

In [21]:
junklocations = junklocations[["address", "map_section", "map_parcel", 
                                       "parcel_full", "business_n", "geocode_x", 
                                       "geocode_y", "geometry"]]

In [22]:
junklocations.head(20)

,address,map_section,map_parcel,parcel_full,business_n,geocode_x,geocode_y,geometry
0,None,047S11,0010,047S110010,CHRIS AUTO PARTS II,2.678437e+06,218972.547295,"POLYGON ((2679160.849 219790.732, 2679137.703 ..."
1,None,047S17,0035,047S170035,CHRIS AUTO PARTS II,2.678437e+06,218972.547295,"POLYGON ((2678435.960 218926.501, 2678379.218 ..."
2,None,047S17,0026,047S170026,CHRIS AUTO PARTS II,2.678437e+06,218972.547295,"POLYGON ((2679159.954 219790.563, 2679136.835 ..."
3,6101 W PASSYUNK AVE,047S21,0023,047S210023,GIANNA SALVAGE CORP,2.680928e+06,223375.011346,"POLYGON ((2680829.298 223301.310, 2680808.700 ..."
4,6101 W PASSYUNK AVE,047S21,0044,047S210044,GIANNA SALVAGE CORP,2.680928e+06,223375.011346,"POLYGON ((2680825.903 223299.337, 2680819.922 ..."
5,2731 FRANKFORD AVE,021N04,0195,021N040195,MELENDEZ WILBERTO,2.705116e+06,249176.525141,"POLYGON ((2704960.012 249347.583, 2705052.744 ..."
6,631 W FISHER AVE,133N08,0174,133N080174,ARPOL INC,2.700823e+06,265612.568861,"POLYGON ((2700956.026 265722.004, 2700936.794 ..."
7,631 W FISHER AVE,133N08,0174,133N080174,POLAM AUTO WORLD INC,2.700823e+06,265612.568861,"POLYGON ((2700956.026 265722.004, 2700936.794 ..."
8,2100 S 61ST ST,029S07,0134,029S070134,T & J AUTO BODY REPAIR & PAINT INC,2.674739e+06,227311.740363,"POLYGON ((2674950.680 227343.633, 2674774.687 ..."
9,2100 S 61ST ST,030S16,0230,030S160230,T & J AUTO BODY REPAIR & PAINT INC,2.674739e+06,227311.740363,"POLYGON ((2674774.687 227284.231, 2674739.423 ..."
10,2100 S 61ST ST,029S07,0134,029S070134,TKK INC,2.674739e+06,227311.740363,"POLYGON ((2674950.680 227343.633, 2674774.687 ..."
11,2100 S 61ST ST,030S16,0230,030S160230,TKK INC,2.674739e+06,227311.740363,"POLYGON ((2674774.687 227284.231, 2674739.423 ..."
12,4501 RISING SUN AVE,122N08,0126,122N080126,"RODRIGUEZ AUTO PARTS, REPAIRS & AUTO SALVAGE INC",2.703120e+06,260749.227014,"POLYGON ((2703078.019 260704.669, 2703078.168 ..."
13,4501 RISING SUN AVE,122N08,0112,122N080112,"RODRIGUEZ AUTO PARTS, REPAIRS & AUTO SALVAGE INC",2.703120e+06,260749.227014,"POLYGON ((2703131.541 260598.560, 2703082.652 ..."
14,4501 RISING SUN AVE,122N08,0126,122N080126,MIMIS USED AUTO PARTS INC,2.703120e+06,260749.227014,"POLYGON ((2703078.019 260704.669, 2703078.168 ..."
15,4501 RISING SUN AVE,122N08,0112,122N080112,MIMIS USED AUTO PARTS INC,2.703120e+06,260749.227014,"POLYGON ((2703131.541 260598.560, 2703082.652 ..."
16,4501 RISING SUN AVE,122N08,0126,122N080126,JOSEPH AUTO SALES & DETAILING,2.703120e+06,260749.227014,"POLYGON ((2703078.019 260704.669, 2703078.168 ..."
17,4501 RISING SUN AVE,122N08,0112,122N080112,JOSEPH AUTO SALES & DETAILING,2.703120e+06,260749.227014,"POLYGON ((2703131.541 260598.560, 2703082.652 ..."
18,4501 RISING SUN AVE,122N08,0126,122N080126,JOSEPH AUTO SALES & DETAILING,2.703120e+06,260749.227014,"POLYGON ((2703078.019 260704.669, 2703078.168 ..."
19,4501 RISING SUN AVE,122N08,0112,122N080112,JOSEPH AUTO SALES & DETAILING,2.703120e+06,260749.227014,"POLYGON ((2703131.541 260598.560, 2703082.652 ..."

## Making a Column of Unique Business Names Per Location and Deleting Duplicate Locations

In [23]:
junklocations.groupby("parcel_full").head()

,address,map_section,map_parcel,parcel_full,business_n,geocode_x,geocode_y,geometry
0,None,047S11,0010,047S110010,CHRIS AUTO PARTS II,2.678437e+06,218972.547295,"POLYGON ((2679160.849 219790.732, 2679137.703 ..."
1,None,047S17,0035,047S170035,CHRIS AUTO PARTS II,2.678437e+06,218972.547295,"POLYGON ((2678435.960 218926.501, 2678379.218 ..."
2,None,047S17,0026,047S170026,CHRIS AUTO PARTS II,2.678437e+06,218972.547295,"POLYGON ((2679159.954 219790.563, 2679136.835 ..."
3,6101 W PASSYUNK AVE,047S21,0023,047S210023,GIANNA SALVAGE CORP,2.680928e+06,223375.011346,"POLYGON ((2680829.298 223301.310, 2680808.700 ..."
4,6101 W PASSYUNK AVE,047S21,0044,047S210044,GIANNA SALVAGE CORP,2.680928e+06,223375.011346,"POLYGON ((2680825.903 223299.337, 2680819.922 ..."
...,...,...,...,...,...,...,...,...
379,6213 W PASSYUNK AVE,047S20,0080,047S200080,VENICE AUTO PARTS,2.679718e+06,223471.726706,"POLYGON ((2680390.397 223711.413, 2680288.056 ..."
380,6247 W PASSYUNK AVE,047S20,0071,047S200071,MATTHEWS ALL FOREIGN AUTO PARTS INC,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ..."
381,6247 W PASSYUNK AVE,047S20,0071,047S200071,JIM'S AUTO RECYCLING,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ..."
382,6247 W PASSYUNK AVE,047S20,0071,047S200071,LUONG ANH NGOC,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ..."
383,2201-09 SPRING GARDEN ST,004N24,0112,004N240112,LINNETT'S GULF INC,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ..."

Note that there are parcels without any address!

In [24]:
junklocations.nunique()

address        129
map_section     84
map_parcel     111
parcel_full    168
business_n     241
geocode_x      124
geocode_y      124
geometry       167
dtype: int64

In [25]:
junklocations["business_count"] = junklocations.groupby("parcel_full")["business_n"].transform('nunique')

This has duplicates: each business_n for a parcel will have the total count of unique businesses per parcel. But that's okay.

In [26]:
junklocations.tail()

,address,map_section,map_parcel,parcel_full,business_n,geocode_x,geocode_y,geometry,business_count
379,6213 W PASSYUNK AVE,047S20,0080,047S200080,VENICE AUTO PARTS,2.679718e+06,223471.726706,"POLYGON ((2680390.397 223711.413, 2680288.056 ...",5
380,6247 W PASSYUNK AVE,047S20,0071,047S200071,MATTHEWS ALL FOREIGN AUTO PARTS INC,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ...",3
381,6247 W PASSYUNK AVE,047S20,0071,047S200071,JIM'S AUTO RECYCLING,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ...",3
382,6247 W PASSYUNK AVE,047S20,0071,047S200071,LUONG ANH NGOC,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ...",3
383,2201-09 SPRING GARDEN ST,004N24,0112,004N240112,LINNETT'S GULF INC,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",1

In [27]:
numbiz = junklocations.groupby("business_n")
print("The number of unique businesses overall is", numbiz.ngroups)

The number of unique businesses overall is 241

One thing I'm curious about in the data but not for this model is how total of unique businesses assessed by location differs or doesn't from unique businesses overall. (If a business name changed location or has two, it would be counted repeatedly in the former but not the latter.)

In [28]:
#dropping duplicate rows
junklocations1 = junklocations.drop_duplicates(subset=["parcel_full"], keep='first')

In [29]:
junklocations1.nunique()

address           129
map_section        84
map_parcel        111
parcel_full       168
business_n        117
geocode_x         121
geocode_y         121
geometry          167
business_count     10
dtype: int64

In [30]:
junklocations1.tail()

,address,map_section,map_parcel,parcel_full,business_n,geocode_x,geocode_y,geometry,business_count
373,3111 GRAYS FERRY AVE,009S06,0032,009S060032,UC TECH INC,2.684602e+06,231312.000000,"POLYGON ((2684634.992 231397.724, 2684640.581 ...",1
374,5247-57 UNRUH AVE,111N22,0010,111N220010,ORTHODOX AUTO CO INC,2.727557e+06,261081.029566,"POLYGON ((2727858.623 261131.420, 2727876.458 ...",1
375,6213 W PASSYUNK AVE,047S20,0080,047S200080,TANGS AUTO PARTS,2.679718e+06,223471.726706,"POLYGON ((2680390.397 223711.413, 2680288.056 ...",5
380,6247 W PASSYUNK AVE,047S20,0071,047S200071,MATTHEWS ALL FOREIGN AUTO PARTS INC,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ...",3
383,2201-09 SPRING GARDEN ST,004N24,0112,004N240112,LINNETT'S GULF INC,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",1

In [31]:
junklocations1 = junklocations1[["address", "map_section", "map_parcel", 
                                 "parcel_full", "business_count", 
                                 "geocode_x", "geocode_y", "geometry"]]

In [32]:
junklocations1.tail()

,address,map_section,map_parcel,parcel_full,business_count,geocode_x,geocode_y,geometry
373,3111 GRAYS FERRY AVE,009S06,0032,009S060032,1,2.684602e+06,231312.000000,"POLYGON ((2684634.992 231397.724, 2684640.581 ..."
374,5247-57 UNRUH AVE,111N22,0010,111N220010,1,2.727557e+06,261081.029566,"POLYGON ((2727858.623 261131.420, 2727876.458 ..."
375,6213 W PASSYUNK AVE,047S20,0080,047S200080,5,2.679718e+06,223471.726706,"POLYGON ((2680390.397 223711.413, 2680288.056 ..."
380,6247 W PASSYUNK AVE,047S20,0071,047S200071,3,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ..."
383,2201-09 SPRING GARDEN ST,004N24,0112,004N240112,1,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ..."

In [33]:
#resetting index to be 0-(n-1)
junklocations1.reset_index(inplace=True, drop=True)

In [34]:
junklocations1.tail()

,address,map_section,map_parcel,parcel_full,business_count,geocode_x,geocode_y,geometry
163,3111 GRAYS FERRY AVE,009S06,0032,009S060032,1,2.684602e+06,231312.000000,"POLYGON ((2684634.992 231397.724, 2684640.581 ..."
164,5247-57 UNRUH AVE,111N22,0010,111N220010,1,2.727557e+06,261081.029566,"POLYGON ((2727858.623 261131.420, 2727876.458 ..."
165,6213 W PASSYUNK AVE,047S20,0080,047S200080,5,2.679718e+06,223471.726706,"POLYGON ((2680390.397 223711.413, 2680288.056 ..."
166,6247 W PASSYUNK AVE,047S20,0071,047S200071,3,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ..."
167,2201-09 SPRING GARDEN ST,004N24,0112,004N240112,1,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ..."

# Merge Violations with Junkyard  Business License Locations and Data

In [36]:
print("The CRS of Junk Locations is", junklocations1.crs)

The CRS of Junk Locations is epsg:2272

In [37]:
#checking violations CRS
print("The CRS of the Junkyard Violations is" , violations.crs)

The CRS of the Junkyard Violations is epsg:4326

In [38]:
#changing the CRS of violations to match
violations_proj = violations.to_crs(2272)

In [ ]:
#spatial join, keeping extra columns in case I want to compare them
junkviolations = gpd.sjoin(junklocations1,violations_proj, how="left", lsuffix="lic", rsuffix="viol")

In [ ]:
junkviolations.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2153 entries, 0 to 167
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   address         1900 non-null   object
 1   map_section     2153 non-null   object
 2   map_parcel      2152 non-null   object
 3   parcel_full     2153 non-null   object
 4   business_count  2153 non-null   int64
 5   geocode_x       2153 non-null   float64
 6   geocode_y       2153 non-null   float64
 7   geometry        2153 non-null   geometry
 8   index_viol      2122 non-null   float64
 9   caserespon      2122 non-null   object
 10  casepriori      2122 non-null   object
 11  violationc      2122 non-null   object
 12  violatio_1      2122 non-null   object
dtypes: float64(3), geometry(1), int64(1), object(8)
memory usage: 235.5+ KB

In [ ]:
junkviolations["violatio_1"].nunique()

312

In [ ]:
#we decided to drop this because it's the exact violation code. Maybe for future analysis!
junkviolations.drop("violationc", axis=1, inplace=True)

In [ ]:
junkviolations.drop(["index_viol", "map_section", "geocode_x", "geocode_y", 
                     "address", "address", "map_parcel"], axis=1, inplace=True)

In [ ]:
junkviolations.shape

(2153, 7)

In [ ]:
junkviolations.reset_index(drop=True)

,parcel_full,business_count,geometry,caserespon,casepriori,violationc,violatio_1
0,047S110010,1,"POLYGON ((2679160.849 219790.732, 2679137.703 ...",AUDITS AND INVESTIGATIONS BUILDING CERTS,STANDARD,PM15-314,PIERS & WATERFRONT STRUCTURES INSPECTION REQUIRED
1,047S110010,1,"POLYGON ((2679160.849 219790.732, 2679137.703 ...",AUDITS AND INVESTIGATIONS BUILDING CERTS,STANDARD,PM15-314,PIERS & WATERFRONT STRUCTURES INSPECTION REQUIRED
2,047S110010,1,"POLYGON ((2679160.849 219790.732, 2679137.703 ...",CSU INVESTIGATOR,UNSAFE,PM15-314,PIERS AND WATERFRT STRUCT INSP
3,047S110010,1,"POLYGON ((2679160.849 219790.732, 2679137.703 ...",CSU INVESTIGATOR,UNSAFE,PM15-108.1,UNSAFE STRUCTURE
4,047S110010,1,"POLYGON ((2679160.849 219790.732, 2679137.703 ...",AUDITS AND INVESTIGATIONS BUILDING CERTS,STANDARD,PM15-314,PIERS & WATERFRONT STRUCTURES INSPECTION REQUIRED
...,...,...,...,...,...,...,...
2148,047S200071,3,"POLYGON ((2679266.293 223243.072, 2679413.183 ...",CI,STANDARD,FC-13-304.1,WASTE MATERIAL
2149,047S200071,3,"POLYGON ((2679266.293 223243.072, 2679413.183 ...",FIRE SAFETY INVESTIGATOR,STANDARD,FC-13-2701.5,HAZMAT LICENSE REQUIRED
2150,004N240112,1,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",CI,STANDARD,LO-1,OBTAIN LIC INDICATED
2151,004N240112,1,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",CI,STANDARD,LR-1,RENEW LIC INDICATED
2152,004N240112,1,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",CI,STANDARD,FC-13-105611,REPAIR GARAGES/MOTOR FUEL

In [ ]:
junkviolations["violatio_1"].unique()

array(['PIERS & WATERFRONT STRUCTURES INSPECTION REQUIRED',
       'PIERS AND WATERFRT STRUCT INSP', 'UNSAFE STRUCTURE',
       'ARCHITECT/ENGINEER SERVICES', nan,
       'RUBBISH/GARBAGE EXTERIOR-OWNER', 'OBTAIN LIC INDICATED',
       'NEW USE', 'CLIP VIOLATION NOTICE', 'HIGH WEEDS-CUT',
       'EGRESS READILY OPENABLE', 'WASTE CANS',
       'MECHANICAL- MECHANICAL EQUIPMENT',
       'PORTABLE HEATING/COOKING EQUIP', 'PROTECTION FROM VEHICLES',
       'SMOKING PROHIBITED', 'TIRE STORAGE', 'CONTAINER CONTENTS',
       'MARKING OF CONTAINERS', 'ILLUMINATION EMERGENCY POWER',
       'SAFETY DATA SHEETS/CONTAINER', 'VEGETATION',
       'HAZMAT LICENSE REQUIRED', 'MARKING', 'FAIL OBTAIN LICENSE\n',
       'SECURING COMPRESSED CYLINDERS', 'NFPA 704 SIGNS',
       'ELECTRICAL- HAZARD', 'FIRE APPARATUS ROADS', 'MULTIPLUG ADAPTORS',
       'HAZARDOUS MATERIAL STORAGE REQUIREMENTS',
       'FIRE EXTINGUISHERS TAGGED', 'OPEN JUNCTION BOXES',
       'WASTE MATERIAL', 'STORAGE MEANS OF EGRESS',
       'STORAGE IN BUILDINGS', 'SIZE & DISTRIBUTION',
       'OUT-OF-SERVICE TAG', 'PORTABLE FIRE EXTINGUISHERS',
       'FLAMMABLE & COMBUSTIBLE LIQUIDS', 'VENTILATION- DRYER EXHAUST',
       'FIRE SUPPRESSION CERTIFICATION', 'EXTERIOR STRUCT UNSAFE COND 7',
       'CERTIFICATION', 'PERM Z- NEW USE', 'MEANS OF EGRESS MAINTENANCE',
       'DRAPERIES/CURTAINS', 'FIRE ALARM TESTED/CERTIFIED',
       'LEDGES/PLATFORMS/ELEVATORS', 'GENERAL REQ.- CITE CODE SECTIO',
       'LOCATION NEAR COMBUSTIBLES', 'EXTINGUISHER MOUNTED', 'STORAGE',
       'EXTERIOR AREA WEEDS', 'EXTERIOR AREA SANITATION', 'EXIT SIGNS',
       'DUST/HOUSEKEEPING', 'VACANT LOT STANDARD', 'HAZARDOUS MATERIALS',
       'COMBUSTIBLE STORAGE', 'COMBUSTIBLE WASTE/VEGETATION',
       'CUTTING & WELDING (HOT WORK)', 'FIRE BREAKS/VEGETATION',
       'WORKING SPACE/CLEARANCE', 'VIOL C&I MESSAGE',
       'OUTSIDE STORAGE/PROPERTY LINE', 'EXTINGUISHER- CONSPICUOUS LOC.',
       'HAZARDOUS MATERIAL- USE, DISPENSING, & H&LING',
       'OPEN FLAME COOKING DEVICES', 'SIZE AND DISTRIBUTION',
       'CORROSIVE MATERIALS', 'CAL LO', 'EXTENSION CORDS',
       'FLAM/FIN-APRV WASTE CANS REQ', 'RENEW LIC INDICATED',
       'VEGETATION\r\n', 'FIRE EXTINGUISHERS REQUIRED\r\n',
       'WASTE MATERIAL\r\n', 'FIRE EXTINGUISHERS\r\n',
       'WASTE HANDLING\r\n', 'MARKING OF CONTAINERS\r\n',
       'FIRE EXTING-INSTALL MAX 75FT', 'FIRE EXTING-NEEDS INSP/TAG',
       'NO SMOKING HAZ MAT', 'EXTERIOR AREA ACCESSORY STRUCT',
       'EXTINGUISHER - CONSPICUOUS LOC', 'WELDING-PERMIT REQ?D',
       'CLEARANCE FROM COMBUSTIBLES', 'VEHICLE REPAIR IN THE ROW',
       'EXTINGUISHERS REQRD (SPECIFY)', 'CUTTING/WELDING PROHIBITED',
       'CO- NEW USE OCCUPIED PRE-CO', 'EXCEEDS PERMIT-SIGN',
       'SMOKING PROHIBITED \r\n', 'UNAPPROVED CONDITIONS\r\n',
       'STORAGE\r\n', 'TIRE DEALER LICENSE', 'NO SMOKING SIGNS',
       'ELECTRICAL -HAZARD', 'CONTROL OF COMBUSTIBLES',
       'EXIT SIGN ILLUMINATION', 'EXT A-VACANT LOT CLEAN/MAINTAI',
       'VACANT WATERFRONT STRUCTURE FAILURE TO POST',
       'FIRE SYSTEMS MAINTAINED', 'FDC LOCKING CAPS',
       'VACANT WATERFRONT STRUCTURE FAILURE TO PROVIDE BARRIER',
       'VACANT WATERFRONT STRUCTURE', 'HYDRANT CERTIFICATION',
       'EXTERIOR STRUCT  IDENTIF', 'SEPARATION OF PILES',
       'VIOL NONE FOUND', 'AISLES', 'BOLT LOCKS', 'EXIT SIGNS REQUIRED',
       'MEANS OF EGRESS OBSTRUCTION', 'EXTINGUISHER UNOBSTRUCTED',
       'HYDRANT OPERATING STEM/THREAD', "SUPPRESSION SYSTEM REQ'D",
       'HAZMAT-LIC REQ?D', 'OBSTRUCTIONS\r\n',
       'HAZMAT-EMERG INFO CONTAINER', 'SECURING COMPRESSED CYLINDERS\r\n',
       'EXT RUBBISH/EXCESS STORAGE', 'EXTENSION CORDS\r\n',
       'FIRE LANE CLEAR', 'VEHICLE IMPACT PROTECTION',
       'HAZARD IDENTIFICATION SIGNS\r\n', 'HAZMAT-INDIV CARTON ETC LABEL',
       'CONTROL OF COMBUSTIBLES\r\n',
       'FIRE EXTINGUISHER HANGERS & BRACKETS\r\n', 'COMPR GAS-SEC CYL',
       "PREMISES IDENTIFICATION REQ'D", 'ACCESS ROAD OBSTRUCTIONS\r\n',
       'EXTERIOR STRUCT UNSAFE COND 2', 'INTERIOR SURFACES',
       'VEHICLE SALVAGE, TIRE REBUILDING, & TIRE STORAGE',
       'UNLAWFUL STRUCTURE', 'TIRE STORAGE\r\n',
       'ADDRESS IDENTIFICATION\r\n', 'CHANGE IN OCCUPANCY',
       'POWER TAP INSTALLATION\r\n', 'EXTERIOR STRUCT UNSAFE COND 8',
       'REPAIR GARAGES/MOTOR FUEL', 'NO SMOKING SIGNS\r\n',
       'PERSON CONTINUES TO OCCUPY', 'DISPOSAL OF OILY WASTE\r\n',
       'MEANS OF EGRESS\r\n', 'ACCESS FOR FIRE FIGHTING',
       'CYLINDER TANK VALVES', 'DISPOSAL OF OILY WASTE', 'DIMENSIONS',
       'RUBBISH & GARBAGE', 'VACANT LOT LICENSE',
       'EXTERIOR STRUCT UNSAFE COND 9', 'ID STRUCTURE',
       'VACANT STRUCTURE LICENSE', 'VACANT STRUCTURE AND LAND',
       'EXTERIOR AREA MOTOR VEHICLE', 'ADMINISTRATION GENERAL',
       'INCOMPATIBLE MATERIALS', 'MASONRY FENCE WALL',
       'ALTER INTERIOR PORTION', 'PARTIAL DEMOLITION', 'ELECTRIC HAZARD',
       'OPEN BURNING PROHIBITED', 'BLDG PERMIT REQUIRED',
       'EXTERIOR STRUCT UNSAFE COND 4', 'VACANT STRUCTURE & LAND',
       'LARGE VACANT PROPERTIES- OPENINGS IN GOOD REPAIR',
       'EXTERIOR AREA GRAFFITI', 'ELECTRICAL- WATER DAMAGED',
       'FUEL FIRED APPLIANCE(S)', 'SPECIAL ASSEMBLY OCC LO',
       'TEMPORARY LIGHTING', 'FDC SIGNAGE REQUIRED',
       'MEANS OF EGRESS ILLUMINATION', 'MAINTENANCE OF EXITS/LIGHTING',
       'LICENSES REQUIRED\r\n', 'FIRE LANE MARKED',
       'RENEW LICENSE INDICATED', 'INDIVIDUAL PILES',
       'DISTANCE FROM LOT LINES', 'EXTERIOR STRUCTURALLY UNSAFE',
       'RELEASE OF HAZARDOUS MATERIALS', 'EXTERIOR WALLS',
       'MOTOR VEHICLE PARKING/STORAGE', 'HEATERS PROHIBITED AREAS',
       'SPONTANEOUS IGNITION', 'HOUSEKEEPING',
       'REQUIRED GRAFFITI REMOVAL', 'NUISANCE-PREVENT', 'SMOKING',
       'SPRAY BOOTHS FIRE PROTECTION', 'CLEARANCE FROM COMBUSTIBLES\r\n',
       'RELEASE OF HAZARDOUS MATERIALS \r\n',
       'STORAGE OF SAFETY DATA SHEETS\r\n', 'CEILING CLEARANCE\r\n',
       'SIGNS\r\n', 'REMOVAL\r\n', 'STORAGE IN BUILDINGS\r\n',
       'ABATEMENT OF ELECTRICAL HAZARDS\r\n',
       'VIOLATED CEASE OPERATIONS ORDER', 'SMOKING PROHIBITED\r\n',
       'EXT-STORG MAX HEIGHT', 'HAZMAT-NO SMK HAZ RM/<25? AREA',
       'FIRE-ELECT EXT CORDS PROHIB', 'HEIGHT',
       'FIRE DEPARTMENT CONNECTIONS', 'FIRE PROTECTION WATER SUPPLIES',
       'FIRE DOORS CLOSE/LATCH', 'DEAD ENDS', 'RUBBISH AND GARBAGE',
       'HAZMAT-REM DEF CON+TNK REP/DIS', 'GROUNDING', 'COMPRESSED GASES',
       'LITTER ON VACANT LOTS', 'SAFETY DATA SHEETS\r\n',
       'SUPPRESSION SYSTEM TESTING & MAINTENANCE\r\n',
       'EXIT SIGN ILLUMINATION\r\n', 'EMERGENCY LIGHTING POWER TEST\r\n',
       'CLEARANCE TO COMBUSTIBLES\r\n', 'FACADES', 'ROOF DEFICIENCIES',
       'EXIT DOORS\r\n', 'WASTE CANS\r\n', 'FIRE ACCESS ROADS\r\n',
       'DEFECTIVE CONTAINERS/TANKS', 'PORTABLE FIRE EXTINGUISHERS\r\n',
       'CORRIDORS & AISLES VIOLATION', 'OBTAIN LICENSE INDICATED',
       'ELECTRICAL- LIGHTING', 'EMERGENCY LIGHTING TESTED',
       'STORAGE EQUIPMENT ROOMS', 'EXIT SIGNS\r\n',
       'MULTIPLUG ADAPTORS\r\n', 'EXTERIOR AREA ACCESSORY STRUCTURES',
       'EXTERIOR STRUCTURE ROOF DRAINAGE',
       'SELF- OR AUTOMATIC-CLOSING DOORS\r\n',
       'EXTERIOR AREA MOTOR VEHICLE WITHIN THE PROPERTY LINE',
       'OPEN FLAMES & SPARKS', 'HAZMAT-PROTEC FROM VEH TRAFFIC',
       'INSPECTION, TESTING & MAINTENANCE\r\n', 'OCCUPIED W/O TCO OR CO',
       'MEANS OF EGRESS DOOR OPERATION & LOCKS\r\n',
       'ILLUMINATION EMERGENCY POWER\r\n', 'PERIODIC TESTING\r\n',
       'ALTER ELECTRICAL WIRING', 'OBTAIN LICENSE INDICATED.',
       'WASTE ACCUMULATION PROHIBITED\r\n', 'NON-REGULATED LACKS PERMIT',
       'EXT A-MOTOR VEH MUST BE REMOV', 'WET CHEMICAL SYSTEM TEST',
       'EXIT DOORS SELF CLOSING/LATCHING',
       'FIRE EXTINGUISHERS DISPENSERS', 'LO SIGN', 'LICENSE OBTAIN',
       'SWO- CONSTR W/O BLDG PERMIT', 'PERMB- INSTALL DUCTWORK',
       'IGNITION SOURCE VIOLATION', 'DEMOL- NOTICE REMOVED TOO SOON',
       'DEMOL- STARTED BEFORE MIN POST', 'PERMB- WK DONE W/O NOTIFY INSP',
       'PERMB- REV ALTERAT NOT IN ORIG', 'PERMB- INSTALL INT PARTITIONS',
       'OPERATIONS/CONSTRUCTION PERMIT', 'HAZARDOUS MATERIALS\r\n',
       'OPEN FLAMES AND SPARKS', 'CONDITION OF PERMIT VIOLATED',
       'FIRE EXTING-INST FUELING AREA', 'HOT WORK/FIRE EXTINGUISHER',
       'FIRE-ELECT CLEARANCE REQ', 'RECORDS\r\n',
       'REPAIR GARAGES/MOTOR FUEL\r\n', 'AUTO WRECKING LICENSE',
       'MOTOR VEHICLE REPAIR', 'MOTOR VEHICLE REPAIR SPACES\r\n',
       'EXTENSION CORD GROUNDING\r\n',
       'FIRE EXTINGUISHER CONSPICUOUS LOCATION\r\n',
       'CUTTING & WELDING (HOT WORK)\r\n', 'LIQUID STORAGE CABINETS\r\n',
       'VENTILATION\r\n', 'WET CHEMICAL SYSTEM TEST\r\n',
       'OBSTRUCTION OF FIRE APPARATUS ACCESS ROADS\r\n',
       'DRY CHEMICAL SYSTEM TEST', 'PULL STATION SIGNS',
       'FDC CLEAR SPACE', 'FILL EXTERIOR OPENINGS',
       'SANITARY PIPING SYSTEM', 'HAZMAT-MAINT MSDS/ON PREMISES',
       'UNIT STORAGE BATTERY SYS TEST', 'RESPONSIBILITY FOR CLEANUP',
       'HAZ-MAT DEFECTIVE CONTAINERS/TANKS', 'FLOOD HAZARD',
       'TESTING/MAINTENANCE', 'DEFECTIVE CONTAINERS/TANKS\r\n',
       'COMBUSTIBLE WASTE MATERIAL ACCUMULATION\r\n',
       'FIRE DEPARTMENT ACCESS LOCATION\r\n', 'PILE DIMENSIONS\r\n',
       'LABEL OR PLACARD\r\n',
       'OUTDOOR STORAGE DISTANCE FROM STORAGE TO EXPOSURES\r\n',
       'OUTDOOR STORAGE PILE SIZE LIMITS\r\n',
       'STATIONARY COMPRESSED GAS CONTAINERS, CYLINDERS & TANKS\r\n',
       'CLEAR MEANS OF EGRESS\r\n', 'LEAKING TANK DISPOSITION\r\n',
       'COMBUSTIBLE WASTE/VEGETATION\r\n', 'DISTANCE BETWEEN PILES',
       'AUTO WRECKING/SALVAGE LICENSE', 'SOURCES OF IGNITION\r\n',
       'RESPONSIBILITY FOR CLEANUP\r\n', 'COMBUSTIBLE VEGETATION\r\n',
       'CONTAINER & PORTABLE TANK STORAGE\r\n',
       'MEANS OF EGRESS MAINTENANCE\r\n', 'COMPRESSED GASES\r\n'],
      dtype=object)

In [ ]:
junkviolations["violatio_1"].replace(r'\r\n','', regex=True, inplace=True)

In [ ]:
junkviolations["violatio_1"].replace(r'\n','', regex=True, inplace=True)

In [ ]:
junkviolations.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2153 entries, 0 to 167
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   parcel_full     2153 non-null   object
 1   business_count  2153 non-null   int64
 2   geometry        2153 non-null   geometry
 3   caserespon      2122 non-null   object
 4   casepriori      2122 non-null   object
 5   violationc      2122 non-null   object
 6   violatio_1      2122 non-null   object
dtypes: geometry(1), int64(1), object(5)
memory usage: 134.6+ KB

In [ ]:
junkviolations["violatio_1"].nunique()

284

In [ ]:
junkviolations["violatio_1"].unique()

array(['PIERS & WATERFRONT STRUCTURES INSPECTION REQUIRED',
       'PIERS AND WATERFRT STRUCT INSP', 'UNSAFE STRUCTURE',
       'ARCHITECT/ENGINEER SERVICES', nan,
       'RUBBISH/GARBAGE EXTERIOR-OWNER', 'OBTAIN LIC INDICATED',
       'NEW USE', 'CLIP VIOLATION NOTICE', 'HIGH WEEDS-CUT',
       'EGRESS READILY OPENABLE', 'WASTE CANS',
       'MECHANICAL- MECHANICAL EQUIPMENT',
       'PORTABLE HEATING/COOKING EQUIP', 'PROTECTION FROM VEHICLES',
       'SMOKING PROHIBITED', 'TIRE STORAGE', 'CONTAINER CONTENTS',
       'MARKING OF CONTAINERS', 'ILLUMINATION EMERGENCY POWER',
       'SAFETY DATA SHEETS/CONTAINER', 'VEGETATION',
       'HAZMAT LICENSE REQUIRED', 'MARKING', 'FAIL OBTAIN LICENSE',
       'SECURING COMPRESSED CYLINDERS', 'NFPA 704 SIGNS',
       'ELECTRICAL- HAZARD', 'FIRE APPARATUS ROADS', 'MULTIPLUG ADAPTORS',
       'HAZARDOUS MATERIAL STORAGE REQUIREMENTS',
       'FIRE EXTINGUISHERS TAGGED', 'OPEN JUNCTION BOXES',
       'WASTE MATERIAL', 'STORAGE MEANS OF EGRESS',
       'STORAGE IN BUILDINGS', 'SIZE & DISTRIBUTION',
       'OUT-OF-SERVICE TAG', 'PORTABLE FIRE EXTINGUISHERS',
       'FLAMMABLE & COMBUSTIBLE LIQUIDS', 'VENTILATION- DRYER EXHAUST',
       'FIRE SUPPRESSION CERTIFICATION', 'EXTERIOR STRUCT UNSAFE COND 7',
       'CERTIFICATION', 'PERM Z- NEW USE', 'MEANS OF EGRESS MAINTENANCE',
       'DRAPERIES/CURTAINS', 'FIRE ALARM TESTED/CERTIFIED',
       'LEDGES/PLATFORMS/ELEVATORS', 'GENERAL REQ.- CITE CODE SECTIO',
       'LOCATION NEAR COMBUSTIBLES', 'EXTINGUISHER MOUNTED', 'STORAGE',
       'EXTERIOR AREA WEEDS', 'EXTERIOR AREA SANITATION', 'EXIT SIGNS',
       'DUST/HOUSEKEEPING', 'VACANT LOT STANDARD', 'HAZARDOUS MATERIALS',
       'COMBUSTIBLE STORAGE', 'COMBUSTIBLE WASTE/VEGETATION',
       'CUTTING & WELDING (HOT WORK)', 'FIRE BREAKS/VEGETATION',
       'WORKING SPACE/CLEARANCE', 'VIOL C&I MESSAGE',
       'OUTSIDE STORAGE/PROPERTY LINE', 'EXTINGUISHER- CONSPICUOUS LOC.',
       'HAZARDOUS MATERIAL- USE, DISPENSING, & H&LING',
       'OPEN FLAME COOKING DEVICES', 'SIZE AND DISTRIBUTION',
       'CORROSIVE MATERIALS', 'CAL LO', 'EXTENSION CORDS',
       'FLAM/FIN-APRV WASTE CANS REQ', 'RENEW LIC INDICATED',
       'FIRE EXTINGUISHERS REQUIRED', 'FIRE EXTINGUISHERS',
       'WASTE HANDLING', 'FIRE EXTING-INSTALL MAX 75FT',
       'FIRE EXTING-NEEDS INSP/TAG', 'NO SMOKING HAZ MAT',
       'EXTERIOR AREA ACCESSORY STRUCT', 'EXTINGUISHER - CONSPICUOUS LOC',
       'WELDING-PERMIT REQ?D', 'CLEARANCE FROM COMBUSTIBLES',
       'VEHICLE REPAIR IN THE ROW', 'EXTINGUISHERS REQRD (SPECIFY)',
       'CUTTING/WELDING PROHIBITED', 'CO- NEW USE OCCUPIED PRE-CO',
       'EXCEEDS PERMIT-SIGN', 'SMOKING PROHIBITED ',
       'UNAPPROVED CONDITIONS', 'TIRE DEALER LICENSE', 'NO SMOKING SIGNS',
       'ELECTRICAL -HAZARD', 'CONTROL OF COMBUSTIBLES',
       'EXIT SIGN ILLUMINATION', 'EXT A-VACANT LOT CLEAN/MAINTAI',
       'VACANT WATERFRONT STRUCTURE FAILURE TO POST',
       'FIRE SYSTEMS MAINTAINED', 'FDC LOCKING CAPS',
       'VACANT WATERFRONT STRUCTURE FAILURE TO PROVIDE BARRIER',
       'VACANT WATERFRONT STRUCTURE', 'HYDRANT CERTIFICATION',
       'EXTERIOR STRUCT  IDENTIF', 'SEPARATION OF PILES',
       'VIOL NONE FOUND', 'AISLES', 'BOLT LOCKS', 'EXIT SIGNS REQUIRED',
       'MEANS OF EGRESS OBSTRUCTION', 'EXTINGUISHER UNOBSTRUCTED',
       'HYDRANT OPERATING STEM/THREAD', "SUPPRESSION SYSTEM REQ'D",
       'HAZMAT-LIC REQ?D', 'OBSTRUCTIONS', 'HAZMAT-EMERG INFO CONTAINER',
       'EXT RUBBISH/EXCESS STORAGE', 'FIRE LANE CLEAR',
       'VEHICLE IMPACT PROTECTION', 'HAZARD IDENTIFICATION SIGNS',
       'HAZMAT-INDIV CARTON ETC LABEL',
       'FIRE EXTINGUISHER HANGERS & BRACKETS', 'COMPR GAS-SEC CYL',
       "PREMISES IDENTIFICATION REQ'D", 'ACCESS ROAD OBSTRUCTIONS',
       'EXTERIOR STRUCT UNSAFE COND 2', 'INTERIOR SURFACES',
       'VEHICLE SALVAGE, TIRE REBUILDING, & TIRE STORAGE',
       'UNLAWFUL STRUCTURE', 'ADDRESS IDENTIFICATION',
       'CHANGE IN OCCUPANCY', 'POWER TAP INSTALLATION',
       'EXTERIOR STRUCT UNSAFE COND 8', 'REPAIR GARAGES/MOTOR FUEL',
       'PERSON CONTINUES TO OCCUPY', 'DISPOSAL OF OILY WASTE',
       'MEANS OF EGRESS', 'ACCESS FOR FIRE FIGHTING',
       'CYLINDER TANK VALVES', 'DIMENSIONS', 'RUBBISH & GARBAGE',
       'VACANT LOT LICENSE', 'EXTERIOR STRUCT UNSAFE COND 9',
       'ID STRUCTURE', 'VACANT STRUCTURE LICENSE',
       'VACANT STRUCTURE AND LAND', 'EXTERIOR AREA MOTOR VEHICLE',
       'ADMINISTRATION GENERAL', 'INCOMPATIBLE MATERIALS',
       'MASONRY FENCE WALL', 'ALTER INTERIOR PORTION',
       'PARTIAL DEMOLITION', 'ELECTRIC HAZARD', 'OPEN BURNING PROHIBITED',
       'BLDG PERMIT REQUIRED', 'EXTERIOR STRUCT UNSAFE COND 4',
       'VACANT STRUCTURE & LAND',
       'LARGE VACANT PROPERTIES- OPENINGS IN GOOD REPAIR',
       'EXTERIOR AREA GRAFFITI', 'ELECTRICAL- WATER DAMAGED',
       'FUEL FIRED APPLIANCE(S)', 'SPECIAL ASSEMBLY OCC LO',
       'TEMPORARY LIGHTING', 'FDC SIGNAGE REQUIRED',
       'MEANS OF EGRESS ILLUMINATION', 'MAINTENANCE OF EXITS/LIGHTING',
       'LICENSES REQUIRED', 'FIRE LANE MARKED', 'RENEW LICENSE INDICATED',
       'INDIVIDUAL PILES', 'DISTANCE FROM LOT LINES',
       'EXTERIOR STRUCTURALLY UNSAFE', 'RELEASE OF HAZARDOUS MATERIALS',
       'EXTERIOR WALLS', 'MOTOR VEHICLE PARKING/STORAGE',
       'HEATERS PROHIBITED AREAS', 'SPONTANEOUS IGNITION', 'HOUSEKEEPING',
       'REQUIRED GRAFFITI REMOVAL', 'NUISANCE-PREVENT', 'SMOKING',
       'SPRAY BOOTHS FIRE PROTECTION', 'RELEASE OF HAZARDOUS MATERIALS ',
       'STORAGE OF SAFETY DATA SHEETS', 'CEILING CLEARANCE', 'SIGNS',
       'REMOVAL', 'ABATEMENT OF ELECTRICAL HAZARDS',
       'VIOLATED CEASE OPERATIONS ORDER', 'EXT-STORG MAX HEIGHT',
       'HAZMAT-NO SMK HAZ RM/<25? AREA', 'FIRE-ELECT EXT CORDS PROHIB',
       'HEIGHT', 'FIRE DEPARTMENT CONNECTIONS',
       'FIRE PROTECTION WATER SUPPLIES', 'FIRE DOORS CLOSE/LATCH',
       'DEAD ENDS', 'RUBBISH AND GARBAGE',
       'HAZMAT-REM DEF CON+TNK REP/DIS', 'GROUNDING', 'COMPRESSED GASES',
       'LITTER ON VACANT LOTS', 'SAFETY DATA SHEETS',
       'SUPPRESSION SYSTEM TESTING & MAINTENANCE',
       'EMERGENCY LIGHTING POWER TEST', 'CLEARANCE TO COMBUSTIBLES',
       'FACADES', 'ROOF DEFICIENCIES', 'EXIT DOORS', 'FIRE ACCESS ROADS',
       'DEFECTIVE CONTAINERS/TANKS', 'CORRIDORS & AISLES VIOLATION',
       'OBTAIN LICENSE INDICATED', 'ELECTRICAL- LIGHTING',
       'EMERGENCY LIGHTING TESTED', 'STORAGE EQUIPMENT ROOMS',
       'EXTERIOR AREA ACCESSORY STRUCTURES',
       'EXTERIOR STRUCTURE ROOF DRAINAGE',
       'SELF- OR AUTOMATIC-CLOSING DOORS',
       'EXTERIOR AREA MOTOR VEHICLE WITHIN THE PROPERTY LINE',
       'OPEN FLAMES & SPARKS', 'HAZMAT-PROTEC FROM VEH TRAFFIC',
       'INSPECTION, TESTING & MAINTENANCE', 'OCCUPIED W/O TCO OR CO',
       'MEANS OF EGRESS DOOR OPERATION & LOCKS', 'PERIODIC TESTING',
       'ALTER ELECTRICAL WIRING', 'OBTAIN LICENSE INDICATED.',
       'WASTE ACCUMULATION PROHIBITED', 'NON-REGULATED LACKS PERMIT',
       'EXT A-MOTOR VEH MUST BE REMOV', 'WET CHEMICAL SYSTEM TEST',
       'EXIT DOORS SELF CLOSING/LATCHING',
       'FIRE EXTINGUISHERS DISPENSERS', 'LO SIGN', 'LICENSE OBTAIN',
       'SWO- CONSTR W/O BLDG PERMIT', 'PERMB- INSTALL DUCTWORK',
       'IGNITION SOURCE VIOLATION', 'DEMOL- NOTICE REMOVED TOO SOON',
       'DEMOL- STARTED BEFORE MIN POST', 'PERMB- WK DONE W/O NOTIFY INSP',
       'PERMB- REV ALTERAT NOT IN ORIG', 'PERMB- INSTALL INT PARTITIONS',
       'OPERATIONS/CONSTRUCTION PERMIT', 'OPEN FLAMES AND SPARKS',
       'CONDITION OF PERMIT VIOLATED', 'FIRE EXTING-INST FUELING AREA',
       'HOT WORK/FIRE EXTINGUISHER', 'FIRE-ELECT CLEARANCE REQ',
       'RECORDS', 'AUTO WRECKING LICENSE', 'MOTOR VEHICLE REPAIR',
       'MOTOR VEHICLE REPAIR SPACES', 'EXTENSION CORD GROUNDING',
       'FIRE EXTINGUISHER CONSPICUOUS LOCATION',
       'LIQUID STORAGE CABINETS', 'VENTILATION',
       'OBSTRUCTION OF FIRE APPARATUS ACCESS ROADS',
       'DRY CHEMICAL SYSTEM TEST', 'PULL STATION SIGNS',
       'FDC CLEAR SPACE', 'FILL EXTERIOR OPENINGS',
       'SANITARY PIPING SYSTEM', 'HAZMAT-MAINT MSDS/ON PREMISES',
       'UNIT STORAGE BATTERY SYS TEST', 'RESPONSIBILITY FOR CLEANUP',
       'HAZ-MAT DEFECTIVE CONTAINERS/TANKS', 'FLOOD HAZARD',
       'TESTING/MAINTENANCE', 'COMBUSTIBLE WASTE MATERIAL ACCUMULATION',
       'FIRE DEPARTMENT ACCESS LOCATION', 'PILE DIMENSIONS',
       'LABEL OR PLACARD',
       'OUTDOOR STORAGE DISTANCE FROM STORAGE TO EXPOSURES',
       'OUTDOOR STORAGE PILE SIZE LIMITS',
       'STATIONARY COMPRESSED GAS CONTAINERS, CYLINDERS & TANKS',
       'CLEAR MEANS OF EGRESS', 'LEAKING TANK DISPOSITION',
       'DISTANCE BETWEEN PILES', 'AUTO WRECKING/SALVAGE LICENSE',
       'SOURCES OF IGNITION', 'COMBUSTIBLE VEGETATION',
       'CONTAINER & PORTABLE TANK STORAGE'], dtype=object)

In [ ]:
junkviolations_smol = junkviolations.drop(columns="violatio_1")

# One-Hot Encoding Violation Data

In [ ]:
jv_1he = pd.get_dummies(junkviolations_smol[["caserespon","casepriori"]]).reset_index().drop("index", axis=1)
jv_1he

,caserespon_AUDITS AND INVESTIGATIONS BUILDING CERTS,caserespon_BU,caserespon_BUILDING COURTS,caserespon_BUILDING INVESTIGATOR,caserespon_CI,caserespon_CLIP,caserespon_CLIP - VACANT LOT INVESTIGATOR,caserespon_CODE ENFORCEMENT COURTS,caserespon_CODE ENFORCEMENT INVESTIGATOR,caserespon_CSU,...,caserespon_HCEU,caserespon_NP,caserespon_NPU AFTER HOURS INVESTIGATOR,caserespon_NPU INVESTIGATOR,casepriori_CONSTRUCTION SERVICES,casepriori_HAZARDOUS,casepriori_IMMINENTLY DANGEROUS,casepriori_STANDARD,casepriori_UNLAWFUL,casepriori_UNSAFE
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2148,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2149,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2150,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2151,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2152,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
tmp_ = junkviolations[["parcel_full"]].reset_index().drop("index", axis=1).join(jv_1he)
tmp_.shape

(2153, 26)

In [ ]:
tmp_[tmp_.parcel_full == "155N090023"]

,parcel_full,caserespon_AUDITS AND INVESTIGATIONS BUILDING CERTS,caserespon_BU,caserespon_BUILDING COURTS,caserespon_BUILDING INVESTIGATOR,caserespon_CI,caserespon_CLIP,caserespon_CLIP - VACANT LOT INVESTIGATOR,caserespon_CODE ENFORCEMENT COURTS,caserespon_CODE ENFORCEMENT INVESTIGATOR,...,caserespon_HCEU,caserespon_NP,caserespon_NPU AFTER HOURS INVESTIGATOR,caserespon_NPU INVESTIGATOR,casepriori_CONSTRUCTION SERVICES,casepriori_HAZARDOUS,casepriori_IMMINENTLY DANGEROUS,casepriori_STANDARD,casepriori_UNLAWFUL,casepriori_UNSAFE
1611,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1612,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1613,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1614,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1615,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1616,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1617,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1618,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1619,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1620,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1621,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1622,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1623,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1624,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1625,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1626,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1627,155N090023,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1628,155N090023,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1629,155N090023,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1630,155N090023,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1631,155N090023,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1632,155N090023,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1633,155N090023,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1634,155N090023,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
tmp_.groupby("parcel_full").sum()

,caserespon_AUDITS AND INVESTIGATIONS BUILDING CERTS,caserespon_BU,caserespon_BUILDING COURTS,caserespon_BUILDING INVESTIGATOR,caserespon_CI,caserespon_CLIP,caserespon_CLIP - VACANT LOT INVESTIGATOR,caserespon_CODE ENFORCEMENT COURTS,caserespon_CODE ENFORCEMENT INVESTIGATOR,caserespon_CSU,...,caserespon_HCEU,caserespon_NP,caserespon_NPU AFTER HOURS INVESTIGATOR,caserespon_NPU INVESTIGATOR,casepriori_CONSTRUCTION SERVICES,casepriori_HAZARDOUS,casepriori_IMMINENTLY DANGEROUS,casepriori_STANDARD,casepriori_UNLAWFUL,casepriori_UNSAFE
parcel_full,,,,,,,,,,,,,,,,,,,,,
004N240112,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
009S060029,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,2,0,0
009S060032,0,0,0,0,5,0,0,0,0,0,...,0,0,0,0,0,2,0,5,0,0
009S060037,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,2,0,0
009S060043,0,0,0,0,5,0,0,0,0,0,...,0,0,0,0,0,2,0,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150N240018,0,7,0,0,2,0,0,0,3,3,...,0,0,0,0,5,0,0,19,0,3
150N240031,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150N240050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150N240056,0,0,0,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,4,0,0
155N090023,0,0,0,0,7,0,0,0,17,0,...,0,0,0,0,0,0,0,24,0,0

In [ ]:
junkviolations_oh = junkviolations[["parcel_full","business_count","geometry"]
               ].groupby("parcel_full").first().join(tmp_.groupby("parcel_full").sum())

In [ ]:
junkviolations_oh

,business_count,geometry,caserespon_AUDITS AND INVESTIGATIONS BUILDING CERTS,caserespon_BU,caserespon_BUILDING COURTS,caserespon_BUILDING INVESTIGATOR,caserespon_CI,caserespon_CLIP,caserespon_CLIP - VACANT LOT INVESTIGATOR,caserespon_CODE ENFORCEMENT COURTS,...,caserespon_HCEU,caserespon_NP,caserespon_NPU AFTER HOURS INVESTIGATOR,caserespon_NPU INVESTIGATOR,casepriori_CONSTRUCTION SERVICES,casepriori_HAZARDOUS,casepriori_IMMINENTLY DANGEROUS,casepriori_STANDARD,casepriori_UNLAWFUL,casepriori_UNSAFE
parcel_full,,,,,,,,,,,,,,,,,,,,,
004N240112,1,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,3,0,0
009S060029,1,"POLYGON ((2684793.810 231346.359, 2684722.606 ...",0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,0
009S060032,1,"POLYGON ((2684634.992 231397.724, 2684640.581 ...",0,0,0,0,5,0,0,0,...,0,0,0,0,0,2,0,5,0,0
009S060037,1,"POLYGON ((2684793.810 231346.359, 2684722.606 ...",0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,0
009S060043,1,"POLYGON ((2684634.992 231397.724, 2684708.683 ...",0,0,0,0,5,0,0,0,...,0,0,0,0,0,2,0,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150N240018,1,"POLYGON ((2672176.106 266044.413, 2672100.590 ...",0,7,0,0,2,0,0,0,...,0,0,0,0,5,0,0,19,0,3
150N240031,1,"POLYGON ((2671287.317 266579.049, 2671213.614 ...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150N240050,1,"POLYGON ((2671285.560 266581.577, 2671198.612 ...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150N240056,1,"POLYGON ((2672430.931 265735.444, 2672374.887 ...",0,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,4,0,0
155N090023,1,"POLYGON ((2733578.817 292692.283, 2733477.479 ...",0,0,0,0,7,0,0,0,...,0,0,0,0,0,0,0,24,0,0

# Exporting L&I Violations for Our Model

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
drive.mount("content")

Mounted at content

In [ ]:
cd /content/content/MyDrive/Colab Notebooks

/content/content/MyDrive/Colab Notebooks

In [ ]:
junkviolations_oh.to_file("/content/content/MyDrive/Colab Notebooks/JunkyardViolationsLess_OHE.geojson", driver="GeoJSON")

## Just testing that it worked

In [ ]:
cd /content/content/MyDrive/Colab Notebooks

/content/content/MyDrive/Colab Notebooks

In [ ]:
ls

 09_26Class_Geopandas.ipynb
 09_28_Class_MoreGeoPandas.ipynb
 10_03_Class_LinearRegression.ipynb
 AutocorrelationCensus.ipynb
'Carl Jung.jpg'
 ClassDemoBusTimes.ipynb
'Copy of MidtermLathamWolk DEPDataNotebook.ipynb'
'HW3 HW3.ipynb'
'HW4 HW4.ipynb'
'HW5 HW5_TimeSeriesClustering.ipynb'
'HW6\HW6_RandomForestsChicago (1).ipynb'
'HW6\HW6_RandomForestsChicago.ipynb'
'HW6\HW6_RandomForestsDC.ipynb'
'HW6\HW6_RandomForestsDC Take 2.ipynb'
'HW7 HW7_deepdream.ipynb'
'HW HW5_timeSeriesClustering.ipynb'
 JunkyardViolationsLess_OHE.geojson
 JunkyardViolations_OHE.geojson
 kaggle.json
'MidtermLathamWolk 311 Requests Notebook.ipynb'
'MidtermLathamWolk DEPDataNotebook.ipynb'
'MidtermLathamWolk JunkyardFireModel.ipynb'
'MidtermLathamWolk LanthamWolkMidtermData.ipynb'
'MidtermLathamWolk LIBusinessLicenses.ipynb'
'MidtermLathamWolk LIViolations.ipynb'
 PhillyBusinessLicensesOHE.geojson
 PhillyDEPlandrecycling.geojson
 PhillyDEPwater.geojson
 PhillyJunkLicensesLocations.csv
 PhillyJunkLicensesLocations.geojson
 PhillyJunkyardLocations.geojson
 PUS2022_1031_MoransINYCWomens.ipynb
 PUS22_Class2and3.ipynb
 TitanicKaggleFraggleRockData/
 TitanicRandomForestsClassDemo.ipynb
 titanic.zip
 Untitled
 Untitled0.ipynb
'Untitled (1)'
 Untitled1.ipynb
 Wolk_testnotebook.ipynb

# Cleaning up the Junkyard Violations for the Model

In [ ]:
junkviolations.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2152 entries, 0 to 167
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   map_section     2152 non-null   object
 1   parcel_full     2152 non-null   object
 2   business_count  2152 non-null   int64
 3   geometry        2152 non-null   geometry
 4   caserespon      2121 non-null   object
 5   casepriori      2121 non-null   object
 6   violatio_1      2121 non-null   object
dtypes: geometry(1), int64(1), object(5)
memory usage: 134.5+ KB

I'm just going to make my life easier now that I've done that and drop some more columns.

In [ ]:
junkviolations = junkviolations.drop(columns=["geocode_x_viol", 
                                              "geocode_y_viol", "index_viol", 
                                              "objectid", "censustrac"], axis=1)

In [ ]:
#dropping identifiers bc Fed said to
junkviolations.drop(columns=["address_lic", "map_parcel"])

In [ ]:
#looks like this is useless? It's sort of a date plus code thing?
print(junkviolations["violationn"].tolist())

['211947484', '211947482', 'VI-2021-034274', 'VI-2021-043645', 'VI-2021-043644', 'VI-2021-034267', '211947483', '211947484', '211947482', 'VI-2021-034274', 'VI-2021-043645', 'VI-2021-043644', 'VI-2021-034267', '211947483', '211947484', '211947482', 'VI-2021-034274', 'VI-2021-043645', 'VI-2021-043644', 'VI-2021-034267', '211947483', nan, nan, '4541650', '4541649', '4541648', 'VI-2021-038382', '4850280', 'VI-2020-041731', 'VI-2020-041726', 'VI-2020-041721', 'VI-2020-041720', '4935901', 'VI-2021-086560', 'VI-2021-086554', '4896024', 'VI-2020-041791', 'VI-2020-041816', '4935899', 'VI-2020-041788', 'VI-2020-041815', 'VI-2020-041735', 'VI-2020-041703', 'VI-2020-041701', 'VI-2020-041696', 'VI-2020-041680', 'VI-2020-041664', 'VI-2020-041754', 'VI-2021-086557', '4935902', 'VI-2020-041820', 'VI-2021-086559', 'VI-2020-041743', 'VI-2021-086558', 'VI-2020-041669', '4935903', 'VI-2020-041657', 'VI-2021-086555', 'VI-2020-041648', 'VI-2020-041643', 'VI-2020-041639', 'VI-2021-086556', '4935898', 'VI-2020-041706', 'VI-2020-041783', '4935904', '4935900', 'VI-2021-086561', '4622042', '4622043', '4597849', '4622037', '4622036', '4622040', '4621998', '4622035', '4597850', '4622041', '4622039', '4622038', '4622042', '4622043', '4597849', '4622037', '4622036', '4622040', '4621998', '4622035', '4597850', '4622041', '4622039', '4622038', 'VI-2020-046747', '4841325', '4529309', 'VI-2021-004886', 'VI-2021-004885', '4841324', '4529308', '4841323', '4529310', 'VI-2020-046748', '4529311', 'VI-2021-004888', 'VI-2021-004887', '211982504', '211982505', 'VI-2020-046747', '4841325', '4529309', 'VI-2021-004886', 'VI-2021-004885', '4841324', '4529308', '4841323', '4529310', 'VI-2020-046748', '4529311', 'VI-2021-004888', 'VI-2021-004887', '211949844', '211949845', '211949844', '211949845', '211949844', '211949845', '5015235', '5296932', '5296965', '5015234', '4564242', '4699764', '4699765', '4564241', '211995186', 'VI-2021-052898', '4832960', '4832959', '4832958', '4850301', 'VI-2021-052897', 'VI-2021-052893', 'VI-2021-052892', 'VI-2021-052895', '4832956', 'VI-2021-052894', 'VI-2021-052896', '4832964', '4452333', '4850300', '4781019', '4850302', '4781018', '4739366', '4452331', '4452334', '4739370', '4739369', '4832957', '4832961', '4452332', '211995159', '211995160', '211995184', '4739368', '4739367', '4832955', '4452330', '4832954', '4832963', '4832962', '211995186', 'VI-2021-052898', '4832960', '4832959', '4832958', '4850301', 'VI-2021-052897', 'VI-2021-052893', 'VI-2021-052892', 'VI-2021-052895', '4832956', 'VI-2021-052894', 'VI-2021-052896', '4832964', '4452333', '4850300', '4781019', '4850302', '4781018', '4739366', '4452331', '4452334', '4739370', '4739369', '4832957', '4832961', '4452332', '211995159', '211995160', '211995184', '4739368', '4739367', '4832955', '4452330', '4832954', '4832963', '4832962', 'VI-2021-026810', 'VI-2021-026809', 'VI-2021-026810', 'VI-2021-026809', '4765607', 'VI-2020-041699', 'VI-2020-041698', '4385854', '4795395', '4795396', 'VI-2022-074109', 'VI-2022-074113', 'VI-2022-074104', 'VI-2022-074087', 'VI-2022-074093', 'VI-2022-074107', 'VI-2022-074097', '4430116', '4865368', '4679004', '4371288', '4865367', '4679005', '5066376', '4801407', '4371289', 'VI-2022-074109', 'VI-2022-074113', 'VI-2022-074104', 'VI-2022-074087', 'VI-2022-074093', 'VI-2022-074107', 'VI-2022-074097', '4430116', '4865368', '4679004', '4371288', '4865367', '4679005', '5066376', '4801407', '4371289', '4781637', '4781641', '5080517', '4771886', '5080516', '4781642', '4781643', '4838376', '5080518', '5005469', '4781639', '4781638', '4838373', '4838375', '4838374', '4781640', '4719569', '4719572', '4968705', '4514041', '4968704', '4514068', '4719565', '4719564', '4719563', '4719562', '4523381', '4514042', '4523380', '4523379', '4719566', '4719567', '4523378', '4514067', '4836943', '4514066', '4895779', '4836944', '4719568', '4941620', '4719571', 'VI-2020-023416', 'VI-2020-023417', 'VI-2022-078874', 'VI-2020-023415', 'VI-2022-078859', 'VI-2020-023414', 'VI-2022-078860', 'VI-2022-078861', 'VI-2020-023413', 'VI-2022-078879', 'VI-2022-078880', 'VI-2021-062428', 'VI-2021-018718', 'VI-2021-018719', 'VI-2021-018720', 'VI-2021-062425', 'VI-2021-062427', 'VI-2021-062426', '4645561', '4645556', '4838702', '4838701', '4838700', '4645560', '4645557', '4645559', '4838699', '4645558', '4838698', '4645562', '4645555', 'VI-2021-062428', 'VI-2021-018718', 'VI-2021-018719', 'VI-2021-018720', 'VI-2021-062425', 'VI-2021-062427', 'VI-2021-062426', '4645561', '4645556', '4838702', '4838701', '4838700', '4645560', '4645557', '4645559', '4838699', '4645558', '4838698', '4645562', '4645555', '4493064', '4864743', '4493065', '4864742', '211951386', '211951527', '211951387', '4954700', '4954701', '4954702', '4954703', '4954704', 'VI-2020-020144', '4400949', '5149719', 'VI-2020-020142', 'VI-2020-020143', 'VI-2020-016209', 'VI-2020-020145', '4521111', '4521112', '4521113', '4521114', '4326370', '4326373', '4521219', '4521118', '4326369', '4326372', '4521116', '4326368', '4326367', '4766337', 'VI-2020-028238', '4766336', '4588987', '4521117', '4326365', '4326371', '4521220', '4326366', '5147792', '5147789', '5147796', '5147795', '5147790', 'VI-2021-027668', 'VI-2021-027669', 'VI-2021-027670', '5147793', '5147788', '211986150', '211986151', '5147794', '5147791', '4800031', 'VI-2020-020144', '4400949', '5149719', 'VI-2020-020142', 'VI-2020-020143', 'VI-2020-016209', 'VI-2020-020145', 'VI-2022-041959', 'VI-2022-041962', '4589117', 'VI-2022-041977', 'VI-2022-041983', '4474257', '4474256', 'VI-2022-041987', 'VI-2022-041989', 'VI-2022-041957', '4589114', '4788643', '4198157', '4198162', '4850848', '4850846', '4850845', '4589115', '4198161', '4474255', '4198160', '4788642', '4614905', '4614904', '4614903', '4198159', '4198158', '4614902', 'VI-2022-041970', '4614901', '4589116', '4198163', '4474254', '4614900', '4850847', 'VI-2022-041959', 'VI-2022-041962', '4589117', 'VI-2022-041977', 'VI-2022-041983', '4474257', '4474256', 'VI-2022-041987', 'VI-2022-041989', 'VI-2022-041957', '4589114', '4788643', '4198157', '4198162', '4850848', '4850846', '4850845', '4589115', '4198161', '4474255', '4198160', '4788642', '4614905', '4614904', '4614903', '4198159', '4198158', '4614902', 'VI-2022-041970', '4614901', '4589116', '4198163', '4474254', '4614900', '4850847', 'VI-2022-024127', 'VI-2022-024132', '211960336', '211968234', '211968240', 'VI-2020-037899', 'VI-2022-024129', 'VI-2020-037900', 'VI-2022-024128', '211968238', 'VI-2020-045075', 'VI-2022-024131', 'VI-2020-040171', 'VI-2022-024130', 'VI-2020-037903', 'VI-2020-037901', 'VI-2020-037902', 'VI-2020-027732', 'VI-2022-024124', 'VI-2022-024123', 'VI-2022-024122', 'VI-2020-043646', 'VI-2022-024125', 'VI-2022-024126', 'VI-2020-027733', 'VI-2020-027734', 'VI-2020-037904', 'VI-2020-040167', '211968236', 'VI-2020-045074', '211960338', '211960337', 'VI-2021-033360', '4278458', 'VI-2021-033370', 'VI-2021-033371', 'VI-2021-033357', 'VI-2021-033356', 'VI-2021-033302', 'VI-2021-033372', '4278457', 'VI-2021-033301', 'VI-2021-033358', nan, nan, '4717641', '4717635', '4717642', '4717643', '4717638', '4717639', '4717637', '4717649', '4717636', '4717640', '4717652', '4717653', 'VI-2021-075586', 'VI-2021-075585', '4717650', 'VI-2021-075587', '4717651', 'VI-2020-014304', 'VI-2020-014303', 'VI-2020-014295', '4809933', 'VI-2020-014294', '4809938', '4809936', '4809937', '4809939', '4809934', '4809935', 'VI-2021-072623', '4809905', '4809907', '4809906', '4809908', 'VI-2020-014304', 'VI-2020-014303', 'VI-2020-014295', '4809933', 'VI-2020-014294', '4809938', '4809936', '4809937', '4809939', '4809934', '4809935', 'VI-2021-072623', '4809905', '4809907', '4809906', '4809908', 'VI-2020-014295', '4809933', 'VI-2020-014294', '4809938', '4809936', '4809937', '4809939', '4809934', '4809935', '4958783', '211959781', '4958783', '211959781', '4269363', '4269362', '4376486', '4376487', '4269364', '4705285', nan, nan, '4745456', '4745455', '4938314', '4938315', '4938314', '4938315', nan, nan, '4394464', '4394463', '4921380', '4921379', '4394462', '4394464', '4394463', '4921380', '4921379', '4394462', 'VI-2020-038820', 'VI-2020-038819', 'VI-2020-038826', 'VI-2020-038821', 'VI-2021-005120', 'VI-2021-005122', 'VI-2020-038827', '4698454', 'VI-2020-038822', '4698453', '4698452', '4698455', '5001280', '4698451', 'VI-2021-005121', 'VI-2021-005118', '5001281', 'VI-2021-005119', 'VI-2020-038824', 'VI-2020-038825', 'VI-2020-038823', '211978208', '211978211', '211978210', '4307145', '4307144', '5239772', '4307143', '4307146', '4307147', '4307148', '4307149', '211978209', 'VI-2021-012974', '5086253', '5239773', 'VI-2021-012975', '5239774', '4307150', '4307151', '4307152', 'VI-2021-064171', '211978212', '4307142', '5239771', '5239770', '5086254', '5022456', '4851953', 'VI-2021-085962', 'VI-2021-085958', '4851952', 'VI-2021-085961', '4851951', '4851950', 'VI-2021-085959', '5092379', '211951506', '211951511', '211951510', 'VI-2021-085950', '211951507', '211951508', '211951505', 'VI-2021-085980', '5223175', '5022457', 'VI-2021-085957', '5223177', '5223176', '5092380', 'VI-2021-085955', '211951341', '5092378', '5092377', '5022458', '4898398', '4898399', '4898400', '5092376', '4840498', 'VI-2021-048284', 'VI-2021-048282', '4562819', 'VI-2021-048290', 'VI-2021-048285', '4841305', 'VI-2021-048287', '4841309', '4841306', '211936971', '4562817', '4841307', '4841308', 'VI-2021-048286', '211935750', '211935749', 'VI-2021-004268', '4562818', 'VI-2022-016646', 'VI-2021-048288', '4840496', 'VI-2022-016648', 'VI-2022-016647', '4562821', '211935751', '5297187', 'VI-2021-048289', 'VI-2021-048283', '4562820', '5297186', '4562822', '5297188', '4840497', 'VI-2021-078960', 'VI-2021-078954', 'VI-2021-078952', 'VI-2021-078951', 'VI-2021-078948', 'VI-2021-078946', 'VI-2021-078945', 'VI-2021-078955', 'VI-2021-078960', 'VI-2021-078954', 'VI-2021-078952', 'VI-2021-078951', 'VI-2021-078948', 'VI-2021-078946', 'VI-2021-078945', 'VI-2021-078955', 'VI-2022-011911', '211974477', '4838988', '5263853', '211981498', '211974476', '5263856', '211974474', '5263850', '211981497', 'VI-2022-011906', '5263852', '211975158', 'VI-2022-011912', 'VI-2022-011913', 'VI-2022-011914', '5263844', '5263845', '5263849', 'VI-2022-011916', 'VI-2022-011917', '5263848', '5263847', '211981496', '5263855', '5254778', '5263846', 'VI-2022-011910', 'VI-2022-038371', '211974479', '5263851', '211974478', '5254779', '211975156', '4838989', '5263854', '4511266', '4511265', '4511264', '4802734', nan, nan, nan, '4710464', '4562588', '4272845', '4597173', '4995400', '4838237', '4745281', '4272846', '4457606', '4457607', '4780839', '4811941', '4811940', '4780838', '5035642', '211992784', 'VI-2020-026977', 'VI-2020-026979', 'VI-2020-026978', '4607941', '4685344', '4767800', '4685345', '4607940', '4767794', '4767799', '4767798', '4767797', '4767796', '4767793', '4767795', '4995561', '4875644', '211992784', 'VI-2020-026977', 'VI-2020-026979', 'VI-2020-026978', '4607941', '4685344', '4767800', '4685345', '4607940', '4767794', '4767799', '4767798', '4767797', '4767796', '4767793', '4767795', '4995561', '4875644', '211992784', 'VI-2020-026977', 'VI-2020-026979', 'VI-2020-026978', '4607941', '4685344', '4767800', '4685345', '4607940', '4767794', '4767799', '4767798', '4767797', '4767796', '4767793', '4767795', '4995561', '4875644', 'VI-2021-009654', 'VI-2021-009655', 'VI-2021-009653', '4861488', '4533352', '4533354', '4533353', '4861489', '4861496', '4861497', '4861498', '4666639', '4861492', '4861487', '4861493', '4861494', '4861495', '4861491', '4533355', '4666638', '4533357', '4533356', 'VI-2021-009654', 'VI-2021-009655', 'VI-2021-009653', '4861488', '4533352', '4533354', '4533353', '4861489', '4861496', '4861497', '4861498', '4666639', '4861492', '4861487', '4861493', '4861494', '4861495', '4861491', '4533355', '4666638', '4533357', '4533356', '4881163', 'VI-2021-021027', '4881164', '4971557', 'VI-2021-021023', '5017342', 'VI-2022-009177', '4560329', 'VI-2022-009176', '4881161', '4881162', 'VI-2021-036308', 'VI-2021-021026', 'VI-2021-021024', 'VI-2021-021025', '4443205', '5026746', '5026747', '4847522', '4847521', '4847520', '4847519', '5026749', '4847512', '4847513', '4847518', '4847514', '4847515', '4847516', '4847517', '4443206', '5026748', 'VI-2020-048123', 'VI-2020-048122', '4443205', '5026746', '5026747', '4847522', '4847521', '4847520', '4847519', '5026749', '4847512', '4847513', '4847518', '4847514', '4847515', '4847516', '4847517', '4443206', '5026748', 'VI-2020-048123', 'VI-2020-048122', '4841790', '4841791', '4841792', '4841789', 'VI-2022-040062', 'VI-2022-040065', 'VI-2021-069855', 'VI-2022-040078', 'VI-2022-040074', '4809578', '4809582', '4809583', 'VI-2022-040059', '4809581', 'VI-2022-040061', '4809580', '4809579', '4809576', '4809584', '4809577', 'VI-2022-040054', 'VI-2022-040055', 'VI-2022-040056', 'VI-2022-040057', 'VI-2022-040058', 'VI-2022-040053', 'VI-2022-040047', 'VI-2022-040048', 'VI-2022-040049', 'VI-2022-040050', 'VI-2022-040042', 'VI-2022-040051', 'VI-2022-040052', '211972735', 'VI-2021-069852', 'VI-2022-040043', 'VI-2022-040044', 'VI-2022-040045', 'VI-2022-073903', '211972790', '211972792', '211972741', '211972739', '211972737', 'VI-2021-059415', 'VI-2021-069854', 'VI-2021-069853', 'VI-2021-069847', 'VI-2021-069848', 'VI-2021-069849', 'VI-2021-069850', 'VI-2021-069851', 'VI-2022-073902', 'VI-2022-073901', 'VI-2022-039707', 'VI-2021-059414', 'VI-2022-040060', 'VI-2022-040046', 'VI-2022-039705', '211936707', '211937874', '211937873', '211937872', '211936706', '211937875', '211936707', '211937874', '211937873', '211937872', '211936706', '211937875', 'VI-2020-051293', 'VI-2022-009434', 'VI-2020-036809', 'VI-2020-051295', 'VI-2020-051294', 'VI-2022-009435', 'VI-2020-036806', 'VI-2022-009433', 'VI-2022-014082', 'VI-2022-009458', 'VI-2020-036818', 'VI-2022-009448', 'VI-2022-009464', 'VI-2022-009466', 'VI-2022-009469', 'VI-2020-036807', 'VI-2020-036808', 'VI-2022-009459', 'VI-2022-009473', '4754480', '4701519', '4772972', '4701522', '4661226', '4701520', '4754479', '4810569', '4888244', '4754482', '4661228', '4754483', '4888245', '4661227', '4888243', '4754481', '4754484', '4810570', '4661225', '4772971', '4888248', '4810571', '4661223', '4701518', '4888246', '4888247', '4772973', '4701521', '4810572', '4888242', '4661224', 'VI-2021-070136', '5137994', 'VI-2021-070181', 'VI-2021-070157', 'VI-2021-070246', 'VI-2021-070125', '5137995', 'VI-2021-070139', 'VI-2021-070184', 'VI-2021-070202', 'VI-2021-070210', '4350888', '4589464', '4640331', 'VI-2021-070147', '4640332', 'VI-2021-070242', '5022792', '4640336', '4847764', '4847765', 'VI-2021-070129', '5138000', 'VI-2021-070126', '5138001', '5137993', 'VI-2021-070146', '4640334', '4640333', 'VI-2021-070229', 'VI-2021-081517', 'VI-2021-005047', 'VI-2020-050339', 'VI-2022-069058', '4385915', 'VI-2020-049787', '4385916', '4385917', '4385918', 'VI-2022-069305', 'VI-2022-069371', 'VI-2022-069374', 'VI-2022-069042', '5061029', '5061033', '4385920', 'VI-2022-069055', '5072533', 'VI-2022-069405', 'VI-2022-069041', 'VI-2022-069304', 'VI-2022-069311', 'VI-2022-069375', 'VI-2022-069376', 'VI-2022-069404', '5072535', '5072531', '4452489', '5072534', '4385921', '4385922', '4452483', '4452484', 'VI-2020-050337', '4385926', 'VI-2022-068669', '4385924', 'VI-2022-068671', '5072536', 'VI-2022-069332', '5072537', '5072538', 'VI-2022-069036', 'VI-2022-069037', 'VI-2022-069330', 'VI-2022-082929', 'VI-2020-050336', 'VI-2020-050335', 'VI-2022-069328', 'VI-2022-069323', 'VI-2022-069038', '4452482', 'VI-2022-069039', '5061031', 'VI-2022-069297', 'VI-2022-069298', 'VI-2022-069302', '4385928', 'VI-2022-026250', '4385927', '5061032', 'VI-2022-068670', 'VI-2022-068665', '4385925', '4385930', 'VI-2022-026251', '4385923', '4452488', '4452485', '4385929', 'VI-2022-068666', '4452487', '4452486', '4385919', 'VI-2020-050338', 'VI-2020-049786', '5072532', 'VI-2020-050339', 'VI-2022-069058', '4385915', 'VI-2020-049787', '4385916', '4385917', '4385918', 'VI-2022-069305', 'VI-2022-069371', 'VI-2022-069374', 'VI-2022-069042', '5061029', '5061033', '4385920', 'VI-2022-069055', '5072533', 'VI-2022-069405', 'VI-2022-069041', 'VI-2022-069304', 'VI-2022-069311', 'VI-2022-069375', 'VI-2022-069376', 'VI-2022-069404', '5072535', '5072531', '4452489', '5072534', '4385921', '4385922', '4452483', '4452484', 'VI-2020-050337', '4385926', 'VI-2022-068669', '4385924', 'VI-2022-068671', '5072536', 'VI-2022-069332', '5072537', '5072538', 'VI-2022-069036', 'VI-2022-069037', 'VI-2022-069330', 'VI-2022-082929', 'VI-2020-050336', 'VI-2020-050335', 'VI-2022-069328', 'VI-2022-069323', 'VI-2022-069038', '4452482', 'VI-2022-069039', '5061031', 'VI-2022-069297', 'VI-2022-069298', 'VI-2022-069302', '4385928', 'VI-2022-026250', '4385927', '5061032', 'VI-2022-068670', 'VI-2022-068665', '4385925', '4385930', 'VI-2022-026251', '4385923', '4452488', '4452485', '4385929', 'VI-2022-068666', '4452487', '4452486', '4385919', 'VI-2020-050338', 'VI-2020-049786', '5072532', 'VI-2020-050339', 'VI-2022-069058', '4385915', 'VI-2020-049787', '4385916', '4385917', '4385918', 'VI-2022-069305', 'VI-2022-069371', 'VI-2022-069374', 'VI-2022-069042', '5061029', '5061033', '4385920', 'VI-2022-069055', '5072533', 'VI-2022-069405', 'VI-2022-069041', 'VI-2022-069304', 'VI-2022-069311', 'VI-2022-069375', 'VI-2022-069376', 'VI-2022-069404', '5072535', '5072531', '4452489', '5072534', '4385921', '4385922', '4452483', '4452484', 'VI-2020-050337', '4385926', 'VI-2022-068669', '4385924', 'VI-2022-068671', '5072536', 'VI-2022-069332', '5072537', '5072538', 'VI-2022-069036', 'VI-2022-069037', 'VI-2022-069330', 'VI-2022-082929', 'VI-2020-050336', 'VI-2020-050335', 'VI-2022-069328', 'VI-2022-069323', 'VI-2022-069038', '4452482', 'VI-2022-069039', '5061031', 'VI-2022-069297', 'VI-2022-069298', 'VI-2022-069302', '4385928', 'VI-2022-026250', '4385927', '5061032', 'VI-2022-068670', 'VI-2022-068665', '4385925', '4385930', 'VI-2022-026251', '4385923', '4452488', '4452485', '4385929', 'VI-2022-068666', '4452487', '4452486', '4385919', 'VI-2020-050338', 'VI-2020-049786', '5072532', 'VI-2022-007824', 'VI-2022-007299', 'VI-2022-007825', 'VI-2022-007828', 'VI-2022-007827', 'VI-2021-078966', 'VI-2021-078965', 'VI-2021-078964', '4564468', 'VI-2022-007290', '4442996', '4442995', 'VI-2022-007300', 'VI-2022-007289', '4746359', '4746364', 'VI-2022-007822', 'VI-2022-007298', 'VI-2022-007821', 'VI-2022-007297', 'VI-2022-007296', 'VI-2022-007826', 'VI-2022-007294', 'VI-2022-007295', '5042925', 'VI-2022-007302', '4746360', '4746361', '4746362', 'VI-2022-007823', '4746363', 'VI-2022-007288', 'VI-2022-007292', 'VI-2022-085082', 'VI-2022-085073', '211952451', 'VI-2022-085054', 'VI-2022-085074', 'VI-2022-085080', 'VI-2022-085066', '211952453', 'VI-2022-085067', 'VI-2022-085068', 'VI-2022-085070', 'VI-2022-085072', 'VI-2022-085170', 'VI-2022-085083', 'VI-2022-085081', nan, 'VI-2021-086268', 'VI-2021-086269', '4956522', '4956523', '4956521', 'VI-2021-086268', 'VI-2021-086269', '4956522', '4956523', '4956521', '4766744', 'VI-2022-044276', '4766743', '4766741', 'VI-2022-044277', 'VI-2022-044278', '4766742', 'VI-2022-044279', '4766745', 'VI-2022-044280', '4766740', '4766739', '4766744', 'VI-2022-044276', '4766743', '4766741', 'VI-2022-044277', 'VI-2022-044278', '4766742', 'VI-2022-044279', '4766745', 'VI-2022-044280', '4766740', '4766739', '4766744', 'VI-2022-044276', '4766743', '4766741', 'VI-2022-044277', 'VI-2022-044278', '4766742', 'VI-2022-044279', '4766745', 'VI-2022-044280', '4766740', '4766739', 'VI-2022-013334', 'VI-2022-013333', 'VI-2021-026459', 'VI-2021-026447', 'VI-2021-026457', 'VI-2022-013416', 'VI-2022-013341', 'VI-2022-013340', 'VI-2022-013339', 'VI-2022-013338', 'VI-2021-026431', 'VI-2022-013335', 'VI-2022-013336', 'VI-2022-013337', 'VI-2021-081574', 'VI-2021-081573', '4969624', 'VI-2021-081572', '4820616', 'VI-2021-081577', 'VI-2021-081578', '211950609', 'VI-2021-081576', 'VI-2021-081575', 'VI-2021-081574', 'VI-2021-081573', '4969624', 'VI-2021-081572', '4820616', 'VI-2021-081577', 'VI-2021-081578', '211950609', 'VI-20

In [ ]:
# ok, so this is violation code and could be chopped to type
print(junkviolations["violationc"].tolist())

['PM15-108.1', 'A-304.1/1', 'PM15-314', 'PM15-314', 'PM15-314', 'PM15-314', 'PM15-314', 'PM15-108.1', 'A-304.1/1', 'PM15-314', 'PM15-314', 'PM15-314', 'PM15-314', 'PM15-314', 'PM15-108.1', 'A-304.1/1', 'PM15-314', 'PM15-314', 'PM15-314', 'PM15-314', 'PM15-314', nan, nan, 'CP-312A', 'CP-305', 'CP-01', 'A-301.1/65', 'LO-1', 'FC-13-503', 'FC-13-3401', 'FC-13-315.2', 'FC-13-315.2.2', 'FC-13-2703.5', 'FC-13-906.2', 'FC-13-2701.5', 'LO-1', 'PM15-604.3', 'PM15-403.5', 'FC-13-2701.8', 'FC-13-901.7.2', 'PM15-603.1', 'FC-13-605.4', 'FC-13-308.1.9', 'FC-13-304.1.2', 'FC-13-3003.5.3', 'FC-13-2703.5.1', 'FC-13-2701.8', 'FC-13-906.2', 'FC-13-2703.5.1', 'FC-13-270393', 'FC-13-2704', 'FC-13-605.4', 'FC-13-605.6', 'FC-13-308.1.9', 'FC-13-2703.5', 'FC-13-503', 'FC-13-2510.5', 'LR-1', 'FC-13-2703.7.1', 'FC-13-1503.4.3', 'FC-13-1003.4', 'LR-1', 'FC-13-1006.3', 'FC-13-304.1', 'FC-13-906', 'FC-13-503.3', 'FC-13-270181', 'FC-13-906.3', 'FC-13-915.1', 'FC-13-915.1A', 'PM15-108.1', 'FC-13-300373', 'FC-13-300353', 'FC-13-807.1', 'A-301.1/65', 'FC-13-1016.1', 'PM15-304.1G', 'FC-13-915', 'FC-13-308.15', 'FC-13-307', 'FC-13-915.1', 'FC-13-915.1A', 'PM15-108.1', 'FC-13-300373', 'FC-13-300353', 'FC-13-807.1', 'A-301.1/65', 'FC-13-1016.1', 'PM15-304.1G', 'FC-13-915', 'FC-13-308.15', 'FC-13-307', 'PM15-302.1', 'FC-13-503', 'FC-13-304.2', 'FC-13-2703.5.1', 'PM15-302.1', 'FC-13-304.2', 'FC-13-304.12', 'FC-13-2510.5', 'FC-13-503', 'PM15-302.4', 'FC-13-906.7', 'FC-13-1007', 'FC-13-1903.3.1', 'CP-305', 'CP-01', 'PM15-302.1', 'FC-13-503', 'FC-13-304.2', 'FC-13-2703.5.1', 'PM15-302.1', 'FC-13-304.2', 'FC-13-304.12', 'FC-13-2510.5', 'FC-13-503', 'PM15-302.4', 'FC-13-906.7', 'FC-13-1007', 'FC-13-1903.3.1', 'CP-01', 'PM-306.0/2', 'CP-01', 'PM-306.0/2', 'CP-01', 'PM-306.0/2', 'PM15-304.1G', 'LO-1', 'FC-13-105.69', 'PM15-108.1', 'PM15-304.1G', 'FC-13-2701', 'FC-13-2701.8', 'PM15-108.1', 'FC-13-2703.5', 'FC-13-2704', 'FC-13-605.5', 'FC-13-605.3', 'FC-13-308.14', 'FC-13-300372', 'FC-13-315', 'FC-13-2705', 'FC-13-2703.5', 'FC-13-906.5', 'FC-13-2505.5', 'FC-13-3003.5.3', 'FC-13-3101', 'LO-1', 'FC-13-906.7', 'FC-13-300353', 'FC-13-105.65', 'FC-13-315', 'A-000.0/10', 'FC-13-270351', 'FC-13-906.2', 'LO-1', 'FC-13-315.3', 'FC-13-315', 'FC-13-300353', 'FC-13-906.2', 'FC-13-906.3', 'FC-13-304.1', 'FC-13-503', 'FC-13-906.2', 'FC-13-304.12', 'FC-13-300353', 'FC-13-1504.3', '19-2602.1/1', 'FC-13-105.65', 'FC-13-906.7', 'FC-13-906.3', 'FC-13-2703.5', 'FC-13-2704', 'FC-13-605.5', 'FC-13-605.3', 'FC-13-308.14', 'FC-13-300372', 'FC-13-315', 'FC-13-2705', 'FC-13-2703.5', 'FC-13-906.5', 'FC-13-2505.5', 'FC-13-3003.5.3', 'FC-13-3101', 'LO-1', 'FC-13-906.7', 'FC-13-300353', 'FC-13-105.65', 'FC-13-315', 'A-000.0/10', 'FC-13-270351', 'FC-13-906.2', 'LO-1', 'FC-13-315.3', 'FC-13-315', 'FC-13-300353', 'FC-13-906.2', 'FC-13-906.3', 'FC-13-304.1', 'FC-13-503', 'FC-13-906.2', 'FC-13-304.12', 'FC-13-300353', 'FC-13-1504.3', '19-2602.1/1', 'FC-13-105.65', 'FC-13-906.7', 'FC-13-906.3', 'FC-13-915', 'FC-13-906.7', 'FC-13-915', 'FC-13-906.7', 'FC-1503.4/1', 'FC-13-906', 'FC-13-304.1.2', 'LR-1', 'PM15-108.1', 'PM15-304.1G', 'F-906.2', 'F-5003.5.1', 'A-301.1/65', 'F-304.1.2', 'F-304.1.1', 'F-906.1', 'F-105.6.6', 'FC-13-304.12', 'FC-13-315.3', 'CP-01', 'FC-906.1/1', 'FC-13-270351', 'CP-312A', 'FC-13-315', 'A-301.1/65', 'FC-906.2/2', 'F-906.2', 'F-5003.5.1', 'A-301.1/65', 'F-304.1.2', 'F-304.1.1', 'F-906.1', 'F-105.6.6', 'FC-13-304.12', 'FC-13-315.3', 'CP-01', 'FC-906.1/1', 'FC-13-270351', 'CP-312A', 'FC-13-315', 'A-301.1/65', 'FC-906.2/2', '9-207', 'FC-13-304.1', 'FC-13-906.5', 'FC-105.6/20', 'FC-13-105.65', 'FC-13-503', 'FC-13-906.5', 'PM15-302.7', 'LO-1', 'FC-13-2703.5', 'FC-13-2703.5', 'FC-13-2701.8', 'FC-13-2703.5', 'FC-13-270538', 'FC-13-2703.7', 'FC-13-270351', 'A-301.1/65', 'FC-13-2504.2', 'FC-13-2703.5', 'A-301.1/65', 'FC-13-2701.8', 'LO-1', 'FC-13-2703.7', 'FC-13-2703.5', 'FC-13-2701.8', 'FC-13-2601', 'FC-13-906.2', 'A-701.1/3', 'FC-13-2601', 'FC-13-2504.2', 'FC-13-270351', 'LO-1', 'A-301.1/65', 'FC-13-906.1', 'FC-13-304.12', 'FC-13-2701.5', '14-1704/41', 'FC-13-315.3', 'FC-906.2/2', 'LO-1', 'FC-13-1504.3', 'FC-13-906', 'FC-13-906.2', 'F-604.6', 'FC-13-906.5', 'F-304.2', 'FC-13-304.1.2', '9-621(2)(A)', 'F-906.2', 'FC-13-315', 'F-2803.5.3', 'PM15-604.3', 'FC-13-2703.5.1', 'FC-13-906.2', 'PM15-604.3', 'PM15-302.1', 'FC-13-310.3', 'FC-13-1007.2', 'FC-13-1016.1', 'FC-13-906.2', 'FC-13-1504.3', 'PM15-604.3', 'FC-13-605.6', 'FC-13-300353', 'FC-13-605.6', 'FC-13-221132', 'FC-13-300353', 'FC-13-2510.2', 'FC-13-270351', 'FC-13-105.65', 'FC-13-906.3', 'FC-13-105.65', 'FC-13-2703.5.1', 'FC-13-906.2', 'PM15-604.3', 'PM15-302.1', 'FC-13-310.3', 'FC-13-1007.2', 'FC-13-1016.1', 'FC-13-906.2', 'FC-13-1504.3', 'PM15-604.3', 'FC-13-605.6', 'FC-13-300353', 'FC-13-605.6', 'FC-13-221132', 'FC-13-300353', 'FC-13-2510.2', 'FC-13-270351', 'FC-13-105.65', 'FC-13-906.3', 'FC-13-105.65', 'CP-01', 'PM-302.2/4', 'PM-302.2/4', 'CP-01', 'A-301.1/65', 'LO-1', 'LO-1', 'FC-13-2701.8', 'FC-13-270181', 'FC-13-2703.5', 'LO-1', 'PM15-304.3', 'FC-13-105.6.5', 'A-000.0/1', 'A-301.1/65', 'FC-13-304.1.2', 'FC-13-2505.2', 'A-301.1/65', 'FC-13-2703.5.1', 'FC-13-270351', 'FC-13-507.53', 'FC-13-507514', 'FC-13-901.6', 'FC-13-108232', 'LO-1', 'A-301.1/65', 'FC-13-915.1A', 'FC-13-1007.1', 'FC-13-906.6', 'FC-13-903', 'FC-13-1005.2', 'FC-13-1003.3', 'CP-312A', 'PM15-302.4', 'CP-01', 'FC-13-901.6', 'FC-13-915.1', 'A-301.1/65', 'FC-13-300353', 'A-701.1/3', 'A-701.1/3', 'FC-13-906.3', 'FC-13-300353', 'FC-13-915.1A', 'FC-13-915', 'FC-13-507.53', '9-3906', '9-3906 (2)(B)', '9-3906 (2)(A)', 'FC-13-906.7', 'FC-13-270351', 'FC-13-915.1', 'FC-13-915.1A', 'FC-13-912.31', 'FC-13-901.6', 'FC-13-105.65', 'FC-13-105.6.5', 'A-000.0/1', 'A-301.1/65', 'FC-13-304.1.2', 'FC-13-2505.2', 'A-301.1/65', 'FC-13-2703.5.1', 'F-5003.5.1', 'F-906.7', 'FC-906.1/1', 'F-604.5', 'F-5303.5.3', 'FC-13-2703.5', 'PM15-302.4', 'F-1031.3', 'F-304.2', 'F-5003.5', 'FC-13-2703.5', 'FC-13-906.3', 'FC-2601.2/1', 'FC-906.1/1', 'LO-1', 'FC-13-304.12', 'FC-13-105.69', 'FC-13-304.2', 'FC-503.3/1', 'FC-2701.8/1', 'FC-304.1/2', 'FC-13-906.2', 'PM15-302.7', 'FC-13-505', 'FC-13-503.3', 'FC-3003.3/1', 'FC-2703.5/5', 'FC-13-300353', 'F-1106.2.1', 'FC-13-270371', 'FC-2701.5/1', 'LO-1', 'FC-13-270351', 'FC-13-2701.8', 'FC-13-312', 'F-5003.5.1', 'F-906.7', 'FC-906.1/1', 'F-604.5', 'F-5303.5.3', 'FC-13-2703.5', 'PM15-302.4', 'F-1031.3', 'F-304.2', 'F-5003.5', 'FC-13-2703.5', 'FC-13-906.3', 'FC-2601.2/1', 'FC-906.1/1', 'LO-1', 'FC-13-304.12', 'FC-13-105.69', 'FC-13-304.2', 'FC-503.3/1', 'FC-2701.8/1', 'FC-304.1/2', 'FC-13-906.2', 'PM15-302.7', 'FC-13-505', 'FC-13-503.3', 'FC-3003.3/1', 'FC-2703.5/5', 'FC-13-300353', 'F-1106.2.1', 'FC-13-270371', 'FC-2701.5/1', 'LO-1', 'FC-13-270351', 'FC-13-2701.8', 'FC-13-312', 'F-604.4.3', 'F-315.3.2', 'PM15-304.1B', 'A-301.1/65', 'PM15-305.3', '9-207', 'F-2311.2.3.2', 'FC-13-3003.5.3', 'F-503.4', 'FC-13-605.6', 'FC-13-105.6.11', 'F-505.1', 'A-301.1/65', 'F-310.3', 'FC-13-906.2', 'FC-13-105.6.11', 'FC-13-2703.5.1', 'PM15-108.1.4', 'F-5003.5.1', '9-621(2)(A)', 'F-906.2', 'FC-13-2501', 'F-304.2', 'F-1106.2.4', 'A-102.9/1', 'A-301.1/65', 'FC-13-315.2', 'A-505.8/1', 'A-701.1/3', 'FC-13-315', 'PM15-304.1H', 'PM15-108.1', 'FC-13-3003.6.1', 'FC-2703.5/5', 'FC-13-505', 'FC-13-906.5', 'FC-13-2211.2.3.2', 'FC-13-310.3', 'A-301.1/65', 'FC-13-1410', 'FC-13-906.2', 'FC-13-105.6.9', 'FC-13-315', nan, nan, 'FC-13-503.21', 'FC-13-1007.1', 'FC-13-906.5', 'LR-1', 'FC-13-270351', 'FC-13-300353', 'FC-13-2703.7', 'FC-13-2510.5', 'FC-13-2703.5', 'FC-13-300372', 'FC-13-300372', 'LO-1', 'FC-13-2701.8', 'FC-13-2703.5', 'FC-13-2703.7', 'FC-13-2701.8.1', 'FC-13-270351', 'PM15-308.1', 'PM15-302.4', 'PM15-308.1', 'FC-13-2701.8', 'PM15-302.4', 'FC-13-906.2', 'FC-13-270411', 'FC-13-503', 'FC-13-906.5', 'FC-13-270181', 'FC-13-270351', 'FC-13-2701.5', 'FC-13-105.65', 'FC-13-2703.7', 'FC-13-2701.8', 'FC-13-300353', 'PM15-308.1', 'PM15-302.4', 'PM15-308.1', 'FC-13-2701.8', 'PM15-302.4', 'FC-13-906.2', 'FC-13-270411', 'FC-13-503', 'FC-13-906.5', 'FC-13-270181', 'FC-13-270351', 'FC-13-2701.5', 'FC-13-105.65', 'FC-13-2703.7', 'FC-13-2701.8', 'FC-13-300353', 'PM15-308.1', 'FC-13-2701.8', 'PM15-302.4', 'FC-13-906.2', 'FC-13-270411', 'FC-13-503', 'FC-13-906.5', 'FC-13-270181', 'FC-13-270351', '9-3904', '9-3904', '9-3904', '9-3904', 'PM15-304.1H', 'PM15-110.1', 'CP-01', 'PM-302.2/4', 'PM15-304.1I', 'A-301.1/65', nan, nan, 'PM-302.2/4', 'CP-01', 'CP-01', 'CP-305', 'CP-01', 'CP-305', nan, nan, 'PM15-302.8', 'PM15-301', 'LO-1', 'FC-13-304.12', '9-3905', 'PM15-302.8', 'PM15-301', 'LO-1', 'FC-13-304.12', '9-3905', 'FC-13-906.2', 'FC-13-101', 'FC-13-315.3', 'FC-13-3003.6.1', 'FC-13-105.6.5', 'FC-13-105.6.11', 'FC-13-304.1.2', 'FC-13-304.1', 'FC-13-2703.7.1', 'FC-13-300371', 'FC-13-300353', 'FC-13-906.2', 'FC-13-1504.3', 'FC-13-105.65', 'FC-13-2703.5.1', 'FC-13-2701.8', 'FC-13-270351', 'FC-13-315', 'FC-13-605.6', 'FC-13-315', 'FC-13-315.2', 'FC-13-300353', 'FC-13-105.65', 'FC-13-2703.5', 'FC-13-2703.5', 'FC-13-270181', 'FC-13-2703.5', 'FC-13-105.69', 'FC-13-270351', 'FC-13-300353', 'FC-13-300372', 'FC-13-304.1', 'FC-13-308.15', 'A-301.1/6', 'FC-13-270181', 'FC-13-300353', 'A-301.1/4', 'FC-13-308.15', 'FC-13-605.6', 'FC-13-906.3', 'LO-1', 'A-301.1/67', 'FC-13-2510.5', 'FC-13-105.65', 'FC-13-2510.5', 'FC-13-105.65', 'FC-13-2703.5', 'PM15-110.1', 'LO-1', 'FC-13-304.1.2', 'FC-13-906.2', 'FC-13-300353', 'PM15-308.1', 'FC-13-270351', 'FC-13-2510.2', 'FC-13-1503.4.3', 'FC-13-608', 'FC-13-105.65', 'FC-13-606.1', 'FC-13-315.3', 'FC-13-505', 'FC-13-605.6', 'FC-13-270181', 'FC-13-906.3', 'FC-13-304.1', 'FC-13-221123', 'PM15-304.1G', 'FC-13-2701.5', 'FC-13-304.2', 'FC-13-300361', 'FC-13-906.6', 'FC-13-2703.5.1', 'LO-1', 'FC-13-300353', 'FC-13-2504.1', 'PM15-304.1H', 'PM15-110.1', 'PM15-304.1G', 'PM15-304.1H', 'FC-13-105.65', 'PM15-304.1D', 'FC-13-2703.5', 'FC-13-315', 'FC-13-2703.5', 'FC-13-310.3', 'FC-13-906.5', 'FC-13-2510.2', 'FC-13-2701.8', 'LR-1', 'FC-13-304.12', 'FC-13-915.1A', 'A-301.1/65', 'FC-13-503', 'FC-13-906.3', 'FC-13-304.1.2', 'PM15-304.1G', 'PM15-108.1', 'FC-13-915.1(A)', 'FC-13-2701.8', 'PM15-301', '9-207', 'A-501.1/1', 'PM15-902.1', 'PM15-302.9', 'FC-13-304.1', 'A-304.1/1', 'PM15-302.1', 'FC-13-2211.2.3.2', 'FC-13-505', 'FC-13-605.6', 'PM15-301', 'FC-13-304.12', 'PM15-302.4', 'PM15-108.1', 'FC-13-2701.8', 'FC-13-2701.5', 'FC-13-1903.5.3', 'FC-13-1503.4.3', 'FC-13-2703.5.1', 'FC-13-906.2', 'FC-13-105.6.11', 'FC-13-2703.5', 'FC-13-2701.8', 'FC-13-2701.5', 'FC-13-1903.5.3', 'FC-13-1503.4.3', 'FC-13-2703.5.1', 'FC-13-906.2', 'FC-13-105.6.11', 'FC-13-2703.5', 'FC-13-2510.5', '09-703.1/1', 'FC-13-105.65', 'FC-13-605.6', 'A-301.1/65', 'FC-13-605.5', 'FC-13-915.1A', 'FC-13-1016.2', 'FC-13-300353', 'LO-1', 'FC-13-603', 'FC-13-308.19', 'FC-13-1006.1', 'PM15-604.4', 'FC-13-3003.5.3', 'PM15-604.3', 'FC-13-1003.3', 'FC-13-221123', 'FC-13-270351', 'PM15-603.1', 'FC-13-605.4', 'FC-13-2703.7', 'FC-13-2703.5', 'A-701.1/3', 'FC-13-912.4', 'FC-13-105.65', 'FC-13-2701.8', 'FC-13-605.9', 'F-105.6', 'FC-13-605.6', 'FC-13-304.1', 'A-701.1/3', 'LO-1', 'A-301.1/65', 'LO-1', 'FC-13-912.31', 'PM15-304.1H', 'PM15-304.1G', 'PM15-108.1', 'FC-503.3/2', nan, nan, nan, 'FC-13-105.65', 'LR-1', 'FC-13-105.65', 'LR-1', 'FC-13-308.19', 'LR-1', 'FC-13-270398', 'FC-13-105.69', 'FC-13-505', 'FC-13-906.2', 'FC-13-605.6', 'FC-13-304.12', 'FC-13-2510.2', 'FC-13-1007.2', 'FC-13-906.5', 'FC-13-315.3', 'FC-13-3003.5.3', 'LR-1', 'FC-13-2701.5', 'PM15-304.1', 'FC-13-2510.5', 'FC-13-605.6', 'FC-13-304.12', 'PM15-108.1', 'FC-13-2505.1', 'FC-13-315', 'FC-13-304.1', 'FC-13-300353', 'FC-13-270351', 'FC-13-221123', 'FC-13-2505.4', 'FC-13-105.65', 'FC-13-315.3', 'FC-13-315.3', 'FC-13-3003.5.3', 'LR-1', 'FC-13-2701.5', 'PM15-304.1', 'FC-13-2510.5', 'FC-13-605.6', 'FC-13-304.12', 'PM15-108.1', 'FC-13-2505.1', 'FC-13-315', 'FC-13-304.1', 'FC-13-300353', 'FC-13-270351', 'FC-13-221123', 'FC-13-2505.4', 'FC-13-105.65', 'FC-13-315.3', 'FC-13-315.3', 'FC-13-3003.5.3', 'LR-1', 'FC-13-2701.5', 'PM15-304.1', 'FC-13-2510.5', 'FC-13-605.6', 'FC-13-304.12', 'PM15-108.1', 'FC-13-2505.1', 'FC-13-315', 'FC-13-304.1', 'FC-13-300353', 'FC-13-270351', 'FC-13-221123', 'FC-13-2505.4', 'FC-13-105.65', 'FC-13-315.3', 'FC-13-304.1.2', 'FC-13-315', 'FC-13-906.2', 'FC-13-270181', 'FC-13-270181', 'FC-13-270351', 'FC-13-2703.3', 'FC-13-2703.5', 'FC-13-315.3', 'FC-13-503', 'FC-13-605.5', 'CP-312A', 'FC-13-300353', 'FC-13-105.69', 'FC-13-304.1', 'FC-13-304.12', 'FC-13-312', 'FC-13-270351', 'FC-13-304.1', 'CP-01', 'FC-13-2703.5', 'FC-13-906.2', 'FC-13-304.1.2', 'FC-13-315', 'FC-13-906.2', 'FC-13-270181', 'FC-13-270181', 'FC-13-270351', 'FC-13-2703.3', 'FC-13-2703.5', 'FC-13-315.3', 'FC-13-503', 'FC-13-605.5', 'CP-312A', 'FC-13-300353', 'FC-13-105.69', 'FC-13-304.1', 'FC-13-304.12', 'FC-13-312', 'FC-13-270351', 'FC-13-304.1', 'CP-01', 'FC-13-2703.5', 'FC-13-906.2', 'FC-13-605104', 'A-301.1/65', 'FC-13-903', 'FC-13-221123', 'FC-13-605.6', 'FC-13-2701.5', 'PM15-304.1(G)', 'FC-13-1303.2', 'PM15-108.1', '09-601.3/1', 'FC-13-1206', 'FC-13-105.6.9', 'FC-13-2703.5.1', 'FC-13-906.7', 'FC-13-304.3.1', 'CP-01', 'CP-01', 'CP-305', 'LO-1', 'FC-13-605104', 'FC-13-605.6', 'FC-13-605.5', 'PM13-311.1', '09-601.3/1', '19-2602.4/2', 'FC-13-315.3', 'FC-13-221123', 'FC-13-2703.7', 'FC-13-270351', 'FC-13-300353', 'PM13-311.1', 'CP-312A', 'PM15-308.1', 'PM15-302.4', 'CP-01', 'CP-01', 'CP-305', 'LO-1', 'FC-13-605104', 'FC-13-605.6', 'FC-13-605.5', 'PM13-311.1', '09-601.3/1', '19-2602.4/2', 'FC-13-315.3', 'FC-13-221123', 'FC-13-2703.7', 'FC-13-270351', 'FC-13-300353', 'PM13-311.1', 'CP-312A', 'PM15-308.1', 'PM15-302.4', 'FC-13-304.12', 'FC-13-315.3', 'LO-1', 'FC-13-2701.5', 'F-1031.3', 'F-5003.3', 'FC-13-1903.5.3', 'F-5004.11', 'F-304.2', 'FC-13-2510.2', 'FC-13-503', 'FC-13-906.2', 'F-5003.5.1', 'FC-13-315.3', 'F-604.5', 'FC-13-304.12', 'FC-13-2703.5', 'FC-13-1005.2', 'FC-13-906.3', 'FC-13-105.65', 'F-906.7', 'F-5003.7.1', 'F-5003.4.1', 'F-5003.6', 'F-1106.2.4', 'F-315.3.1', 'F-5003.4.1', 'F-604.1', 'F-604.6', 'F-313.1.1', 'F-2311.3.2', 'F-604.5', 'F-1106.2.4', 'FC-13-270181', 'FC-13-3003.5.3', 'F-5303.5.3', 'F-2311.2.3.2', 'F-5003.5.1', 'A-304.1/1', 'FC-13-503', 'FC-13-2701.5', 'FC-13-300353', 'FC-13-906.2', 'FC-13-270351', 'FC-13-906.3', 'FC-13-906.2', 'FC-13-503', 'FC-13-105.6.11', 'FC-13-2701.5', 'FC-13-1504.4', 'FC-13-2703.5.1', 'FC-13-2701.8', 'PM15-304.1(G)', 'PM15-108.1', 'LR-1', 'FC-13-310.3', 'F-5303.5.3', 'F-315.3', 'A-505.8', 'FC-605.5/1', 'FC-906.1/1', 'FC-315.3/4', 'FC-2703.7/1', 'LR-1', 'FC-2703.5/5', 'FC-605.5/1', 'FC-906.1/1', 'FC-315.3/4', 'FC-2703.7/1', 'LR-1', 'FC-2703.5/5', 'FC-13-605.6', 'FC-13-906.2', 'FC-13-906.2', 'FC-13-1003.3', 'FC-13-2703.5.1', 'FC-13-703.2.3', 'FC-13-507.5.3', 'FC-13-1007.2', 'FC-13-315.3.2', 'FC-13-507', 'FC-13-105.6.9', 'FC-13-503', 'FC-13-912', 'FC-13-912', 'FC-13-912.4', 'FC-13-304.1.2', 'FC-13-315', 'FC-13-507.5.3', 'FC-13-2703.5.1', 'FC-13-270351', 'FC-13-105.65', 'FC-13-270351', 'FC-13-2704', 'FC-13-270351', 'FC-13-2510.5', 'FC-13-2701.8', 'FC-13-2510.5', 'FC-13-304.1', 'FC-13-304.1', 'FC-13-315', 'FC-13-906.2', 'FC-13-310.3', 'FC-13-300353', 'FC-13-2701.8', 'FC-13-300353', 'FC-13-906.5', 'FC-13-270351', 'FC-13-2701.8', 'FC-13-105.65', 'PM15-308.1', 'FC-13-503', 'FC-13-105.65', 'FC-13-1007.1', 'LO-1', 'PM15-302.4', 'FC-13-304.1', 'FC-13-2703.7', 'FC-13-503.25', 'FC-13-105.65', 'FC-13-2510.5', 'FC-13-2703.5.1', 'FC-13-605.3', 'FC-13-2510.5', 'FC-13-2704.11', 'FC-13-315.2', 'FC-13-2705', 'FC-13-906.7', 'FC-13-2701.8', 'FC-13-3003.5.3', 'FC-13-3001', 'FC-13-304.2', 'FC-2703.2/5', 'FC-13-105.65', 'A-301.1/65', 'FC-13-1007', 'FC-13-150325', 'FC-13-906.7', 'FC-13-105.65', 'FC-13-906.2', 'FC-13-105.65', 'LR-1', 'FC-13-2703.5', 'FC-13-315', 'FC-13-2701.8.1', 'FC-13-903', 'FC-13-304.12', 'FC-13-605.6', 'FC-13-605.6', 'FC-13-300353', 'FC-13-304.1.2', '10-715', '10-715', 'FC-13-915.1', 'F-1106.2.8', 'FC-13-105.65', 'PM15-304.1(H)', 'FC-13-105.69', 'FC-13-2701.8', 'FC-13-270181', 'F-310.3', 'F-903.5', 'F-1104.3', 'F-407.2', 'FC-13-901', 'FC-13-2703.5', 'FC-13-2703.5', 'F-5003.4.1', 'FC-13-270351', 'F-906.1', 'F-5003.5', 'F-2403.4.3', 'F-6107.3', 'F-1031.10.2', 'F-5003.5.1', 'F-315.3', 'FC-13-308.19', 'A-301.1/65', 'LO-1', 'FC-13-273262', 'FC-13-2703.7', 'FC-13-270351', 'FC-13-300372', 'FC-13-503', 'FC-13-1003.4', 'FC-13-605.5', 'F-5704.3.3.1', 'FC-13-300353', 'F-1106.2.1', 'FC-13-3801', 'F-5003.4.1', 'FC-13-906.1', 'FC-13-915.1A', 'F-5003.5.1', 'F-106.8', 'F-503.4', 'PM15-315.2', 'FC-13-1007.2', 'FC-13-1005.2', 'F-407.2', 'F-1106.2.4', 'F-1104.28', 'FC-13-270351', 'PM15-305.3', 'FC-13-915.1A', 'F-906.2', 'F-1104.28', 'F-604.5', 'FC-13-906.3', 'PM15-108.1', 'FC-13-906.2', 'FC-13-270181', 'F-1031.10.2', 'F-906.2', 'FC-13-30431', 'LO-1', 'PM15-304.1(H)', 'FC-13-273262', 'FC-13-906.7', 'FC-13-505', 'FC-13-915.1A', 'F-906.7', 'FC-13-906.6', 'FC-13-906.2', 'FC-13-2703.3', 'FC-13-915', 'PM15-108.1', 'FC-13-2703.5', 'FC-13-915.1', 'F-1106.2.8', 'FC-13-105.65', 'PM15-304.1(H)', 'FC-13-105.69', 'FC-13-2701.8', 'FC-13-270181', 'F-310.3', 'F-903.5', 'F-1104.3', 'F-407.2', 'FC-13-901', 'FC-13-2703.5', 'FC-13-2703.5', 'F-5003.4.1', 'FC-13-270351', 'F-906.1', 'F-5003.5', 'F-2403.4.3', 'F-6107.3', 'F-1031.10.2', 'F-5003.5.1', 'F-315.3', 'FC-13-308.19', 'A-301.1/65', 'LO-1', 'FC-13-273262', 'FC-13-2703.7', 'FC-13-270351', 'FC-13-300372', 'FC-13-503', 'FC-13-1003.4', 'FC-13-605.5', 'F-5704.3.3.1', 'FC-13-300353', 'F-1106.2.1', 'FC-13-3801', 'F-5003.4.1', 'FC-13-906.1', 'FC-13-915.1A', 'F-5003.5.1', 'F-106.8', 'F-503.4', 'PM15-315.2', 'FC-13-1007.2', 'FC-13-1005.2', 'F-407.2', 'F-1106.2.4', 'F-1104.28', 'FC-13-270351', 'PM15-305.3', 'FC-13-915.1A', 'F-906.2', 'F-1104.28', 'F-604.5', 'FC-13-906.3', 'PM15-108.1', 'FC-13-906.2', 'FC-13-270181', 'F-1031.10.2', 'F-906.2', 'FC-13-30431', 'LO-1', 'PM15-304.1(H)', 'FC-13-273262', 'FC-13-906.7', 'FC-13-505', 'FC-13-915.1A', 'F-906.7', 'FC-13-906.6', 'FC-13-906.2', 'FC-13-2703.3', 'FC-13-915', 'PM15-108.1', 'FC-13-2703.5', 'FC-13-915.1', 'F-1106.2.8', 'FC-13-105.65', 'PM15-304.1(H)', 'FC-13-105.69', 'FC-13-2701.8', 'FC-13-270181', 'F-310.3', 'F-903.5', 'F-1104.3', 'F-407.2', 'FC-13-901', 'FC-13-2703.5', 'FC-13-2703.5', 'F-5003.4.1', 'FC-13-270351', 'F-906.1', 'F-5003.5', 'F-2403.4.3', 'F-6107.3', 'F-1031.10.2', 'F-5003.5.1', 'F-315.3', 'FC-13-308.19', 'A-301.1/65', 'LO-1', 'FC-13-273262', 'FC-13-2703.7', 'FC-13-270351', 'FC-13-300372', 'FC-13-503', 'FC-13-1003.4', 'FC-13-605.5', 'F-5704.3.3.1', 'FC-13-300353', 'F-1106.2.1', 'FC-13-3801', 'F-5003.4.1', 'FC-13-906.1', 'FC-13-915.1A', 'F-5003.5.1', 'F-106.8', 'F-503.4', 'PM15-315.2', 'FC-13-1007.2', 'FC-13-1005.2', 'F-407.2', 'F-1106.2.4', 'F-1104.28', 'FC-13-270351', 'PM15-305.3', 'FC-13-915.1A', 'F-906.2', 'F-1104.28', 'F-604.5', 'FC-13-906.3', 'PM15-108.1', 'FC-13-906.2', 'FC-13-270181', 'F-1031.10.2', 'F-906.2', 'FC-13-30431', 'LO-1', 'PM15-304.1(H)', 'FC-13-273262', 'FC-13-906.7', 'FC-13-505', 'FC-13-915.1A', 'F-906.7', 'FC-13-906.6', 'FC-13-906.2', 'FC-13-2703.3', 'FC-13-915', 'PM15-108.1', 'FC-13-2703.5', 'FC-13-605.3', 'FC-13-2703.5.1', 'FC-13-1007.2', 'FC-13-605.6', 'LO-1', 'FC-13-1005', 'FC-13-1503.2.6', 'FC-13-906.2', 'FC-13-105.65', 'FC-13-915.1(A)', 'A-701.1/3', 'A-301.1/65', 'FC-13-315.2', 'FC-13-2705', 'FC-13-1007.2', 'LR-1', 'FC-13-906.6', 'PM15-605.3', 'FC-13-1005.2', 'FC-13-315.2.3', 'FC-13-605.6', 'A-301.1/65', 'FC-13-2703.5', 'FC-13-2701.8.1', 'LR-1', 'FC-13-604.1', 'FC-13-270181', 'FC-13-2703.5', 'FC-13-270351', 'PM15-604.3', 'FC-13-915.1A', 'LO-R', 'FC-13-1007.2', 'F-304.1.2', 'F-604.4', 'LO-1', 'A-301.1/65', 'PM15-304.7', 'F-2803.5.3', 'PM15-302.7', 'FC-13-503.21', 'F-1031.3', 'F-1031.4', 'F-304.2', 'F-604.6', '10-723(2)', 'F-1106.2.8', 'F-5303.5.3', nan, 'PM15-108.1', 'PM15-304.1(G)', 'CP-305', 'CP-312A', 'CP-01', 'PM15-108.1', 'PM15-304.1(G)', 'CP-305', 'CP-312A', 'CP-01', 'FC-13-315', 'F-906.2', 'FC-13-310.3', 'FC-13-2703.5', 'F-2311.2.3.2', 'F-407.2', 'FC-13-308.19', 'F-1105.5.4.2.4', 'FC-13-906.2', 'F-5003.5', 'FC-13-2701.8', 'FC-13-1007.1', 'FC-13-315', 'F-906.2', 'FC-

Prefixes look like FC, PM, F, A, LO, LR, and some that just have numbers.

In [ ]:
junkviolations["violatio_1"].nunique()

312

In [ ]:
junkviolations["violatio_1"].unique()

array(['UNSAFE STRUCTURE', 'ARCHITECT/ENGINEER SERVICES',
       'PIERS & WATERFRONT STRUCTURES INSPECTION REQUIRED',
       'PIERS AND WATERFRT STRUCT INSP', nan, 'HIGH WEEDS-CUT',
       'RUBBISH/GARBAGE EXTERIOR-OWNER', 'CLIP VIOLATION NOTICE',
       'NEW USE', 'OBTAIN LIC INDICATED', 'FIRE APPARATUS ROADS',
       'FLAMMABLE & COMBUSTIBLE LIQUIDS', 'STORAGE IN BUILDINGS',
       'STORAGE MEANS OF EGRESS', 'NFPA 704 SIGNS',
       'FIRE EXTINGUISHERS TAGGED', 'HAZMAT LICENSE REQUIRED',
       'ELECTRICAL- HAZARD', 'VENTILATION- DRYER EXHAUST',
       'SAFETY DATA SHEETS/CONTAINER', 'OUT-OF-SERVICE TAG',
       'MECHANICAL- MECHANICAL EQUIPMENT', 'MULTIPLUG ADAPTORS',
       'PORTABLE HEATING/COOKING EQUIP', 'VEGETATION',
       'SECURING COMPRESSED CYLINDERS', 'MARKING OF CONTAINERS',
       'PROTECTION FROM VEHICLES',
       'HAZARDOUS MATERIAL STORAGE REQUIREMENTS', 'OPEN JUNCTION BOXES',
       'TIRE STORAGE', 'FAIL OBTAIN LICENSE\n', 'SMOKING PROHIBITED',
       'WASTE CANS', 'EGRESS READILY OPENABLE',
       'ILLUMINATION EMERGENCY POWER', 'WASTE MATERIAL',
       'PORTABLE FIRE EXTINGUISHERS', 'MARKING', 'CONTAINER CONTENTS',
       'SIZE & DISTRIBUTION', 'FIRE ALARM TESTED/CERTIFIED',
       'FIRE SUPPRESSION CERTIFICATION', 'LEDGES/PLATFORMS/ELEVATORS',
       'DRAPERIES/CURTAINS', 'PERM Z- NEW USE',
       'MEANS OF EGRESS MAINTENANCE', 'EXTERIOR STRUCT UNSAFE COND 7',
       'CERTIFICATION', 'LOCATION NEAR COMBUSTIBLES',
       'GENERAL REQ.- CITE CODE SECTIO', 'EXTERIOR AREA SANITATION',
       'STORAGE', 'EXTERIOR AREA WEEDS', 'EXTINGUISHER MOUNTED',
       'EXIT SIGNS', 'DUST/HOUSEKEEPING', 'VACANT LOT STANDARD',
       'HAZARDOUS MATERIALS', 'EXTENSION CORDS',
       'WORKING SPACE/CLEARANCE', 'OPEN FLAME COOKING DEVICES',
       'COMBUSTIBLE WASTE/VEGETATION', 'COMBUSTIBLE STORAGE',
       'HAZARDOUS MATERIAL- USE, DISPENSING, & H&LING',
       'EXTINGUISHER- CONSPICUOUS LOC.', 'FIRE BREAKS/VEGETATION',
       'CORROSIVE MATERIALS', 'CUTTING & WELDING (HOT WORK)',
       'VIOL C&I MESSAGE', 'OUTSIDE STORAGE/PROPERTY LINE',
       'SIZE AND DISTRIBUTION', 'CAL LO', 'FLAM/FIN-APRV WASTE CANS REQ',
       'RENEW LIC INDICATED', 'FIRE EXTINGUISHERS\r\n',
       'MARKING OF CONTAINERS\r\n', 'VEGETATION\r\n',
       'WASTE MATERIAL\r\n', 'FIRE EXTINGUISHERS REQUIRED\r\n',
       'WASTE HANDLING\r\n', 'FIRE EXTING-INSTALL MAX 75FT',
       'FIRE EXTING-NEEDS INSP/TAG', 'VEHICLE REPAIR IN THE ROW',
       'EXTINGUISHER - CONSPICUOUS LOC', 'WELDING-PERMIT REQ?D',
       'EXTERIOR AREA ACCESSORY STRUCT', 'CLEARANCE FROM COMBUSTIBLES',
       'NO SMOKING HAZ MAT', 'CUTTING/WELDING PROHIBITED',
       'CO- NEW USE OCCUPIED PRE-CO', 'EXTINGUISHERS REQRD (SPECIFY)',
       'EXCEEDS PERMIT-SIGN', 'UNAPPROVED CONDITIONS\r\n', 'STORAGE\r\n',
       'TIRE DEALER LICENSE', 'SMOKING PROHIBITED \r\n',
       'NO SMOKING SIGNS', 'EXIT SIGN ILLUMINATION', 'ELECTRICAL -HAZARD',
       'CONTROL OF COMBUSTIBLES', 'EXT A-VACANT LOT CLEAN/MAINTAI',
       'EXTERIOR STRUCT  IDENTIF', 'VIOL NONE FOUND',
       'SEPARATION OF PILES', 'HYDRANT CERTIFICATION',
       'HYDRANT OPERATING STEM/THREAD', 'FIRE SYSTEMS MAINTAINED',
       'BOLT LOCKS', 'EXIT SIGNS REQUIRED', 'EXTINGUISHER UNOBSTRUCTED',
       "SUPPRESSION SYSTEM REQ'D", 'AISLES',
       'MEANS OF EGRESS OBSTRUCTION', 'VACANT WATERFRONT STRUCTURE',
       'VACANT WATERFRONT STRUCTURE FAILURE TO POST',
       'VACANT WATERFRONT STRUCTURE FAILURE TO PROVIDE BARRIER',
       'FDC LOCKING CAPS', 'FIRE EXTINGUISHER HANGERS & BRACKETS\r\n',
       'EXTENSION CORDS\r\n', 'SECURING COMPRESSED CYLINDERS\r\n',
       'OBSTRUCTIONS\r\n', 'HAZARD IDENTIFICATION SIGNS\r\n',
       'FIRE LANE CLEAR', 'HAZMAT-EMERG INFO CONTAINER',
       'EXT RUBBISH/EXCESS STORAGE', "PREMISES IDENTIFICATION REQ'D",
       'COMPR GAS-SEC CYL', 'HAZMAT-INDIV CARTON ETC LABEL',
       'CONTROL OF COMBUSTIBLES\r\n', 'HAZMAT-LIC REQ?D',
       'VEHICLE IMPACT PROTECTION', 'POWER TAP INSTALLATION\r\n',
       'MEANS OF EGRESS\r\n', 'EXTERIOR STRUCT UNSAFE COND 2',
       'INTERIOR SURFACES', 'DISPOSAL OF OILY WASTE\r\n',
       'ACCESS ROAD OBSTRUCTIONS\r\n', 'REPAIR GARAGES/MOTOR FUEL',
       'ADDRESS IDENTIFICATION\r\n', 'NO SMOKING SIGNS\r\n',
       'UNLAWFUL STRUCTURE',
       'VEHICLE SALVAGE, TIRE REBUILDING, & TIRE STORAGE',
       'TIRE STORAGE\r\n', 'CHANGE IN OCCUPANCY',
       'PERSON CONTINUES TO OCCUPY', 'EXTERIOR STRUCT UNSAFE COND 8',
       'CYLINDER TANK VALVES', 'DISPOSAL OF OILY WASTE',
       'ACCESS FOR FIRE FIGHTING', 'DIMENSIONS', 'RUBBISH & GARBAGE',
       'VACANT LOT LICENSE', 'ID STRUCTURE',
       'EXTERIOR STRUCT UNSAFE COND 9', 'EXTERIOR AREA MOTOR VEHICLE',
       'VACANT STRUCTURE AND LAND', 'VACANT STRUCTURE LICENSE',
       'ADMINISTRATION GENERAL', 'INCOMPATIBLE MATERIALS',
       'PARTIAL DEMOLITION', 'ALTER INTERIOR PORTION',
       'MASONRY FENCE WALL', 'ELECTRIC HAZARD', 'OPEN BURNING PROHIBITED',
       'EXTERIOR STRUCT UNSAFE COND 4', 'VACANT STRUCTURE & LAND',
       'BLDG PERMIT REQUIRED',
       'LARGE VACANT PROPERTIES- OPENINGS IN GOOD REPAIR',
       'EXTERIOR AREA GRAFFITI', 'SPECIAL ASSEMBLY OCC LO',
       'MAINTENANCE OF EXITS/LIGHTING', 'FUEL FIRED APPLIANCE(S)',
       'MEANS OF EGRESS ILLUMINATION', 'ELECTRICAL- WATER DAMAGED',
       'FDC SIGNAGE REQUIRED', 'TEMPORARY LIGHTING',
       'LICENSES REQUIRED\r\n', 'FIRE LANE MARKED',
       'RENEW LICENSE INDICATED', 'EXTERIOR STRUCTURALLY UNSAFE',
       'INDIVIDUAL PILES', 'DISTANCE FROM LOT LINES',
       'RELEASE OF HAZARDOUS MATERIALS', 'HEATERS PROHIBITED AREAS',
       'EXTERIOR WALLS', 'HOUSEKEEPING', 'MOTOR VEHICLE PARKING/STORAGE',
       'SPONTANEOUS IGNITION', 'REQUIRED GRAFFITI REMOVAL',
       'NUISANCE-PREVENT', 'RELEASE OF HAZARDOUS MATERIALS \r\n',
       'CLEARANCE FROM COMBUSTIBLES\r\n', 'SMOKING',
       'STORAGE OF SAFETY DATA SHEETS\r\n', 'SIGNS\r\n',
       'CEILING CLEARANCE\r\n', 'ABATEMENT OF ELECTRICAL HAZARDS\r\n',
       'REMOVAL\r\n', 'SMOKING PROHIBITED\r\n',
       'SPRAY BOOTHS FIRE PROTECTION', 'STORAGE IN BUILDINGS\r\n',
       'VIOLATED CEASE OPERATIONS ORDER', 'FIRE-ELECT EXT CORDS PROHIB',
       'EXT-STORG MAX HEIGHT', 'HAZMAT-NO SMK HAZ RM/<25? AREA',
       'FIRE DOORS CLOSE/LATCH', 'HEIGHT',
       'FIRE PROTECTION WATER SUPPLIES', 'FIRE DEPARTMENT CONNECTIONS',
       'RUBBISH AND GARBAGE', 'DEAD ENDS', 'COMPRESSED GASES',
       'HAZMAT-REM DEF CON+TNK REP/DIS', 'GROUNDING',
       'LITTER ON VACANT LOTS', 'FIRE ACCESS ROADS\r\n',
       'ROOF DEFICIENCIES',
       'SUPPRESSION SYSTEM TESTING & MAINTENANCE\r\n',
       'EXIT SIGN ILLUMINATION\r\n', 'SAFETY DATA SHEETS\r\n',
       'WASTE CANS\r\n', 'CLEARANCE TO COMBUSTIBLES\r\n',
       'EMERGENCY LIGHTING POWER TEST\r\n', 'DEFECTIVE CONTAINERS/TANKS',
       'PORTABLE FIRE EXTINGUISHERS\r\n', 'FACADES', 'EXIT DOORS\r\n',
       'OBTAIN LICENSE INDICATED', 'CORRIDORS & AISLES VIOLATION',
       'ELECTRICAL- LIGHTING', 'STORAGE EQUIPMENT ROOMS',
       'EMERGENCY LIGHTING TESTED', 'MULTIPLUG ADAPTORS\r\n',
       'EXTERIOR STRUCTURE ROOF DRAINAGE',
       'EXTERIOR AREA ACCESSORY STRUCTURES', 'EXIT SIGNS\r\n',
       'SELF- OR AUTOMATIC-CLOSING DOORS\r\n',
       'EXTERIOR AREA MOTOR VEHICLE WITHIN THE PROPERTY LINE',
       'OPEN FLAMES & SPARKS', 'HAZMAT-PROTEC FROM VEH TRAFFIC',
       'OCCUPIED W/O TCO OR CO',
       'MEANS OF EGRESS DOOR OPERATION & LOCKS\r\n',
       'ALTER ELECTRICAL WIRING', 'INSPECTION, TESTING & MAINTENANCE\r\n',
       'ILLUMINATION EMERGENCY POWER\r\n', 'PERIODIC TESTING\r\n',
       'OBTAIN LICENSE INDICATED.', 'NON-REGULATED LACKS PERMIT',
       'WASTE ACCUMULATION PROHIBITED\r\n',
       'EXT A-MOTOR VEH MUST BE REMOV', 'FIRE EXTINGUISHERS DISPENSERS',
       'WET CHEMICAL SYSTEM TEST', 'EXIT DOORS SELF CLOSING/LATCHING',
       'LICENSE OBTAIN', 'SWO- CONSTR W/O BLDG PERMIT', 'LO SIGN',
       'PERMB- INSTALL DUCTWORK', 'IGNITION SOURCE VIOLATION',
       'DEMOL- STARTED BEFORE MIN POST', 'PERMB- WK DONE W/O NOTIFY INSP',
       'DEMOL- NOTICE REMOVED TOO SOON', 'OPERATIONS/CONSTRUCTION PERMIT',
       'PERMB- REV ALTERAT NOT IN ORIG', 'PERMB- INSTALL INT PARTITIONS',
       'HAZARDOUS MATERIALS\r\n', 'OPEN FLAMES AND SPARKS',
       'HOT WORK/FIRE EXTINGUISHER', 'FIRE-ELECT CLEARANCE REQ',
       'FIRE EXTING-INST FUELING AREA', 'CONDITION OF PERMIT VIOLATED',
       'REPAIR GARAGES/MOTOR FUEL\r\n', 'RECORDS\r\n',
       'AUTO WRECKING LICENSE', 'EXTENSION CORD GROUNDING\r\n',
       'MOTOR VEHICLE REPAIR', 'MOTOR VEHICLE REPAIR SPACES\r\n',
       'CUTTING & WELDING (HOT WORK)\r\n',
       'FIRE EXTINGUISHER CONSPICUOUS LOCATION\r\n',
       'LIQUID STORAGE CABINETS\r\n',
       'OBSTRUCTION OF FIRE APPARATUS ACCESS ROADS\r\n',
       'WET CHEMICAL SYSTEM TEST\r\n', 'VENTILATION\r\n',
       'FDC CLEAR SPACE', 'DRY CHEMICAL SYSTEM TEST',
       'PULL STATION SIGNS', 'FILL EXTERIOR OPENINGS',
       'SANITARY PIPING SYSTEM', 'RESPONSIBILITY FOR CLEANUP',
       'HAZMAT-MAINT MSDS/ON PREMISES',
       'HAZ-MAT DEFECTIVE CONTAINERS/TANKS',
       'UNIT STORAGE BATTERY SYS TEST', 'PILE DIMENSIONS\r\n',
       'COMBUSTIBLE WASTE MATERIAL ACCUMULATION\r\n',
       'DEFECTIVE CONTAINERS/TANKS\r\n', 'FLOOD HAZARD',
       'TESTING/MAINTENANCE', 'FIRE DEPARTMENT ACCESS LOCATION\r\n',
       'COMPRESSED GASES\r\n', 'LABEL OR PLACARD\r\n',
       'OUTDOOR STORAGE PILE SIZE LIMITS\r\n',
       'RESPONSIBILITY FOR CLEANUP\r\n',
       'COMBUSTIBLE WASTE/VEGETATION\r\n',
       'MEANS OF EGRESS MAINTENANCE\r\n',
       'OUTDOOR STORAGE DISTANCE FROM STORAGE TO EXPOSURES\r\n',
       'LEAKING TANK DISPOSITION\r\n', 'COMBUSTIBLE VEGETATION\r\n',
       'CLEAR MEANS OF EGRESS\r\n', 'DISTANCE BETWEEN PILES',
       'CONTAINER & PORTABLE TANK STORAGE\r\n',
       'STATIONARY COMPRESSED GAS CONTAINERS, CYLINDERS & TANKS\r\n',
       'SOURCES OF IGNITION\r\n', 'AUTO WRECKING/SALVAGE LICENSE'],
      dtype=object)

This is a lot!! And what's with the \r\n?

In [ ]:
junkviolations.columns

Index(['address_lic', 'map_section', 'map_parcel', 'parcel_full',
       'business_count', 'geocode_x_lic', 'geocode_y_lic', 'geometry',
       'casenumber', 'casecreate', 'casecomple', 'casetype', 'casestatus',
       'caserespon', 'casepriori', 'violationn', 'violationd', 'violationc',
       'violatio_1', 'violations', 'violationr', 'violatio_2', 'mostrecent',
       'address_viol', 'unit_num', 'zip', 'opa_owner'],
      dtype='object')

In [ ]:
#comparing case create date and violation date. They are mostly the same.
junkviolations.loc[50:60, ["casecreate","violationd"]].tail()

    casecreate  violationd
57  2017-11-17  2017-11-17
57  2018-09-10  2018-09-07
58         NaN         NaN
59         NaN         NaN
60         NaN         NaN

In [ ]:
#dropping useless violationn, redundant violationd
junkviolations.drop(columns=["violationd", "violationn"], inplace=True)

In [ ]:
#looking at data grouped by parcel
junkviolations.groupby("parcel_full").first()

,address_lic,map_section,map_parcel,business_count,geocode_x_lic,geocode_y_lic,geometry,casenumber,casecreate,casecomple,...,violatio_1,violations,violationr,violatio_2,mostrecent,address_viol,unit_num,zip,opa_owner,systemofre
parcel_full,,,,,,,,,,,,,,,,,,,,,
004N240112,2201-09 SPRING GARDEN ST,004N24,0112,1,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",694977,2019-07-10,2019-10-28,...,OBTAIN LIC INDICATED,COMPLIED,None,None,2019-10-28,2201-15 SPRING GARDEN ST,None,19130-3511,E LINNETT LP,HANSEN
009S060029,1056 S 31ST ST,009S06,0029,1,2.684776e+06,231458.753416,"POLYGON ((2684793.810 231346.359, 2684722.606 ...",652749,2018-09-04,2019-03-22,...,VACANT LOT LICENSE,CLOSEDCASE,None,None,2019-03-06,1056 S 31ST ST,None,19121-0000,GRAYS FERRY HOLDING INC,HANSEN
009S060032,3111 GRAYS FERRY AVE,009S06,0032,1,2.684602e+06,231312.000000,"POLYGON ((2684634.992 231397.724, 2684640.581 ...",CF-2022-002203,2022-01-10,2017-06-21,...,RESPONSIBILITY FOR CLEANUP,OPEN,None,None,2022-01-10,3111 GRAYS FERRY AVE,None,19146-2706,SOMERMAN SHIRLEY B,ECLIPSE
009S060037,1056 S 31ST ST,009S06,0037,1,2.684776e+06,231458.753416,"POLYGON ((2684793.810 231346.359, 2684722.606 ...",652749,2018-09-04,2019-03-22,...,VACANT LOT LICENSE,CLOSEDCASE,None,None,2019-03-06,1056 S 31ST ST,None,19121-0000,GRAYS FERRY HOLDING INC,HANSEN
009S060043,3111 GRAYS FERRY AVE,009S06,0043,1,2.684602e+06,231312.000000,"POLYGON ((2684634.992 231397.724, 2684708.683 ...",CF-2022-002203,2022-01-10,2017-06-21,...,RESPONSIBILITY FOR CLEANUP,OPEN,None,None,2022-01-10,3111 GRAYS FERRY AVE,None,19146-2706,SOMERMAN SHIRLEY B,ECLIPSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150N240018,None,150N24,0018,1,2.671240e+06,266612.192963,"POLYGON ((2672176.106 266044.413, 2672100.590 ...",CF-2021-056096,2021-06-24,2021-08-09,...,FIRE EXTINGUISHERS TAGGED,COMPLIED,2021-08-09,COMPLIED - OWNER REPAIR,2021-08-09,5050 UMBRIA ST,E,19128-4347,ELITE SPORTS FACTORY HOLD,ECLIPSE
150N240031,5112 UMBRIA ST,150N24,0031,1,2.671240e+06,266612.192963,"POLYGON ((2671287.317 266579.049, 2671213.614 ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
150N240050,5112 UMBRIA ST,150N24,0050,1,2.671240e+06,266612.192963,"POLYGON ((2671285.560 266581.577, 2671198.612 ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
150N240056,5010 UMBRIA ST,150N24,0056,1,2.671947e+06,265972.998998,"POLYGON ((2672430.931 265735.444, 2672374.887 ...",653583,2018-09-10,2019-01-22,...,VEGETATION,COMPLIED,None,None,2019-01-22,5010 UMBRIA ST,None,19128-4347,MOYER CHRISTOPHER E KATHRYN H/W,HANSEN
155N090023,1771 TOMLINSON RD,155N09,0023,1,2.733795e+06,293260.496906,"POLYGON ((2733578.817 292692.283, 2733477.479 ...",CF-2021-021336,2021-03-25,2022-06-09,...,FIRE EXTINGUISHERS DISPENSERS,COMPLIED,2021-12-06,COMPLIED - OWNER REPAIR,2022-06-09,1771 TOMLINSON RD,F,19116-3847,ROOSEVELT BOULEVARD ASSOC,ECLIPSE

In [ ]:
junkviolations.drop(["systemofre"], axis=1, inplace=True)

In [ ]:
junkviolations.nunique()

address_lic        129
map_section         84
map_parcel         111
parcel_full        168
business_count      10
geocode_x_lic      121
geocode_y_lic      121
geometry           167
casenumber         403
casecreate         272
casecomple         247
casetype             2
casestatus           3
caserespon          19
casepriori           6
violationn        1542
violationd         285
violationc         332
violatio_1         312
violations           8
violationr         106
violatio_2          10
mostrecent         301
address_viol       120
unit_num             5
zip                113
opa_owner          122
dtype: int64

In [ ]:
print("The number of violations with unique IDs is", junkviolations["violationn"].nunique())

The number of violations with unique IDs is 1542

In [ ]:
junkviolations[junkviolations["violationn"].isna()]

,address_lic,map_section,map_parcel,parcel_full,business_count,geocode_x_lic,geocode_y_lic,geometry,casenumber,casecreate,...,violationc,violatio_1,violations,violationr,violatio_2,mostrecent,address_viol,unit_num,zip,opa_owner
3,6101 W PASSYUNK AVE,047S21,0023,047S210023,1,2.680928e+06,223375.011346,"POLYGON ((2680829.298 223301.310, 2680808.700 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6101 W PASSYUNK AVE,047S21,0044,047S210044,1,2.680928e+06,223375.011346,"POLYGON ((2680825.903 223299.337, 2680819.922 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,4500 N FAIRHILL ST,121N24,0019,121N240019,3,2.700609e+06,260924.365235,"POLYGON ((2700644.551 260831.211, 2700616.257 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,520 W ANNSBURY ST,133N06,0023,133N060023,3,2.700609e+06,260924.365235,"POLYGON ((2700644.551 260831.211, 2700616.257 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,4201-19 ARAMINGO AVE,082N02,0028,082N020028,1,2.714910e+06,253705.347795,"POLYGON ((2714993.639 253591.465, 2714972.585 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,4201 ARAMINGO AVE,082N02,0019,082N020019,1,2.714910e+06,253705.347795,"POLYGON ((2714993.639 253591.465, 2714972.585 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4927 ARENDELL AVE,114N19,0205,114N190205,2,2.740101e+06,272814.424766,"POLYGON ((2740335.567 272928.392, 2739832.982 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,None,114N19,0150,114N190150,2,2.740101e+06,272814.424766,"POLYGON ((2740335.567 272928.392, 2739832.982 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,4031 ORCHARD ST,083N04,0039,083N040039,2,2.713776e+06,256055.000000,"POLYGON ((2713883.535 256127.871, 2713838.108 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,4001-31 ORCHARD ST,083N04,0074,083N040074,2,2.713776e+06,256055.000000,"POLYGON ((2713688.910 255946.073, 2713731.056 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,4945 LANCASTER AVE,074N04,0027,074N040027,2,2.677126e+06,243867.995771,"POLYGON ((2677158.578 243909.381, 2677108.984 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,400 W ALLEGHENY AVE,038N23,0028,038N230028,2,2.700583e+06,253287.000000,"POLYGON ((2700745.247 253109.700, 2700645.419 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1236 S MILLICK ST,025S13,0019,025S130019,1,2.670506e+06,232459.774015,"POLYGON ((2670535.813 232466.887, 2670533.603 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,3640 N 2ND ST,045N17,0038,045N170038,1,2.701771e+06,255982.602236,"POLYGON ((2701838.728 255999.970, 2701831.454 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,3630 N 22ND ST,046N05,0015,046N050015,1,2.692606e+06,257265.513536,"POLYGON ((2692657.194 257275.178, 2692653.280 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,5112 UMBRIA ST,150N24,0031,150N240031,1,2.671240e+06,266612.192963,"POLYGON ((2671287.317 266579.049, 2671213.614 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,5112 UMBRIA ST,150N24,0050,150N240050,1,2.671240e+06,266612.192963,"POLYGON ((2671285.560 266581.577, 2671198.612 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,1715 S 25TH ST,013S18,0187,013S180187,1,2.687310e+06,228188.970205,"POLYGON ((2687366.667 228235.514, 2687352.917 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,9201R EADOM ST,136N16,0086,136N160086,1,2.739268e+06,271884.024792,"POLYGON ((2739406.607 271946.018, 2739184.048 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,7370 JAMES ST,114N08,0092,114N080092,2,2.730175e+06,264784.326740,"POLYGON ((2730216.900 264822.860, 2730237.199 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,4300 TACONY ST,088N02,0076,088N020076,1,2.715788e+06,256822.000000,"POLYGON ((2715810.501 256688.592, 2715557.714 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,4346 TACONY ST,088N02,0067,088N020067,1,2.715788e+06,256822.000000,"POLYGON ((2715934.382 256713.640, 2715810.501 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,6030 W PASSYUNK AVE,047S18,0019,047S180019,5,2.681519e+06,222692.641725,"POLYGON ((2682660.272 222860.086, 2682507.745 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,236 W ALLEGHENY AVE,038N23,0030,038N230030,2,2.701056e+06,253174.000000,"POLYGON ((2701098.597 252983.662, 2701081.101 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,6221 W PASSYUNK AVE # D,047S20,0099,047S200099,5,2.679799e+06,223080.769950,"POLYGON ((2679771.937 223010.061, 2679738.058 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,6221 W PASSYUNK AVE,047S20,0093,047S200093,1,2.679655e+06,223091.435556,"POLYGON ((2679635.884 222972.720, 2679576.316 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,6221 W PASSYUNK AVE,047S20,None,047S20,1,2.680006e+06,223187.946180,"POLYGON ((2680069.596 223091.758, 2680001.237 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,6131 W PASSYUNK AVE,047S21,0034,047S210034,2,2.680553e+06,223445.973742,"POLYGON ((2680622.911 223243.623, 2680525.899 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,None,047S22,0019,047S220019,1,2.680141e+06,224276.727494,"POLYGON ((2680118.358 224010.294, 2680099.303 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,None,047S22,0000,047S220000,1,2.680141e+06,224276.727494,"POLYGON ((2680311.548 224550.757, 2680311.530 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,3301-15 S 61ST ST,047S22,0034,047S220034,1,2.680141e+06,224276.727494,"POLYGON ((2680099.303 223973.795, 2680064.303 ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

All the null violationns have a lot of other nas! So I will drop them.

In [ ]:
junkviolations["violationn"].dropna(inplace=True)

In [ ]:
junkviolations.tail()

,address_lic,map_section,map_parcel,parcel_full,business_count,geocode_x_lic,geocode_y_lic,geometry,casenumber,casecreate,...,violationc,violatio_1,violations,violationr,violatio_2,mostrecent,address_viol,unit_num,zip,opa_owner
166,6247 W PASSYUNK AVE,047S20,0071,047S200071,3,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ...",CF-2022-027991,2022-04-05,...,F-5003.4.1,STORAGE OF SAFETY DATA SHEETS\r\n,COMPLIED,2022-06-23,COMPLIED - OWNER REPAIR,2022-06-24,6247 W PASSYUNK AVE,None,19153-3509,"NGO RICHARD, NGO STEVEN"
166,6247 W PASSYUNK AVE,047S20,0071,047S200071,3,2.679286e+06,223056.180343,"POLYGON ((2679266.293 223243.072, 2679413.183 ...",CF-2021-099465,2021-10-08,...,FC-13-2501,"VEHICLE SALVAGE, TIRE REBUILDING, & TIRE STORAGE",COMPLIED,2021-11-29,COMPLIED - LICENSE/CERTIFICATE/REPORT OBTAINED,2021-11-29,6247 W PASSYUNK AVE,None,19153-3509,"NGO RICHARD, NGO STEVEN"
167,2201-09 SPRING GARDEN ST,004N24,0112,004N240112,1,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",694977,2019-07-10,...,LO-1,OBTAIN LIC INDICATED,COMPLIED,None,None,2019-10-28,2201-15 SPRING GARDEN ST,None,19130-3511,E LINNETT LP
167,2201-09 SPRING GARDEN ST,004N24,0112,004N240112,1,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",694977,2019-07-10,...,LR-1,RENEW LIC INDICATED,COMPLIED,None,None,2019-10-28,2201-15 SPRING GARDEN ST,None,19130-3511,E LINNETT LP
167,2201-09 SPRING GARDEN ST,004N24,0112,004N240112,1,2.690249e+06,240420.666163,"POLYGON ((2690335.698 240461.367, 2690321.702 ...",694981,2019-07-10,...,FC-13-105611,REPAIR GARAGES/MOTOR FUEL,COMPLIED,None,None,2020-02-04,2201-15 SPRING GARDEN ST,None,19130-3511,E LINNETT LP

# Getting Violations for Fire Locations (incl w/o Junkyard Licenses)

In [35]:
firelicenses = gpd.GeoDataFrame.from_file("https://github.com/CoWoGeo/PUS2022_CWolk/raw/main/ProjectLanthamWolk/FireBusinessLicenses.geojson")

In [39]:
firelicenses.crs

<Derived Projected CRS: EPSG:2272>
Name: NAD83 / Pennsylvania South (ftUS)
Axis Info [cartesian]:
- X[east]: Easting (US survey foot)
- Y[north]: Northing (US survey foot)
Area of Use:
- name: United States (USA) - Pennsylvania - counties of Adams; Allegheny; Armstrong; Beaver; Bedford; Berks; Blair; Bucks; Butler; Cambria; Chester; Cumberland; Dauphin; Delaware; Fayette; Franklin; Fulton; Greene; Huntingdon; Indiana; Juniata; Lancaster; Lawrence; Lebanon; Lehigh; Mifflin; Montgomery; Northampton; Perry; Philadelphia; Schuylkill; Snyder; Somerset; Washington; Westmoreland; York.
- bounds: (-80.53, 39.71, -74.72, 41.18)
Coordinate Operation:
- name: SPCS83 Pennsylvania South zone (US Survey feet)
- method: Lambert Conic Conformal (2SP)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [40]:
firelicenses.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_name          72 non-null     object
 1   has_junkyard_license  72 non-null     object
 2   MAPREG                72 non-null     object
 3   ADDR_SOURC            70 non-null     object
 4   RECMAP                72 non-null     object
 5   zip                   69 non-null     object
 6   licensetyp            69 non-null     object
 7   licensesta            69 non-null     object
 8   business_n            69 non-null     object
 9   business_m            69 non-null     object
 10  geometry              72 non-null     geometry
dtypes: geometry(1), object(10)
memory usage: 6.3+ KB

In [45]:
#dropping license status bc it's just confusing
fires = firelicenses.drop(columns=("licensesta"))

In [46]:
# getting count of business names before I delete it bc rows will become irrelevant
fires["business_count"] = fires.groupby("MAPREG")["business_n"].transform('nunique')

In [47]:
fires.drop(columns=("business_n"), inplace=True)

In [52]:
fires.drop(columns=("business_m"), inplace=True)

In [49]:
fires

,company_name,has_junkyard_license,MAPREG,ADDR_SOURC,RECMAP,zip,licensetyp,business_m,geometry,business_count
0,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Hazardous Materials,"390 WEST SEDGLEY AVENUE PHILADELPHIA, PA 1914...","POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
1,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Auto Wrecking / Junk Yard,"390 W SEDGLEY AVE PHILADELPHIA, PA 19140 USA","POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
2,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Auto Wrecking / Junk Yard,"390 w sedgley ave philadelphia, PA 19140 USA","POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
3,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Auto Wrecking / Junk Yard,"390 SEDGLEY AVE PHILADELPHIA, PA 19140 USA","POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
4,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Motor Vehicle Repair / Retail Mobile Dispensing,"390 WEST SEDGLEY AVENUE PHILADELPHIA, PA 1914...","POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
...,...,...,...,...,...,...,...,...,...,...
67,Allegheny Iron and Metal,No,083N050014,2200 ADAMS AVE,083N05,19124,Scales and Scanners,"2200 E ADAMS AVE PHILADELPHIA, PA 19124 USA","POLYGON ((2714513.939 256158.361, 2714510.617 ...",3
68,Allegheny Iron and Metal,No,083N050014,2200 ADAMS AVE,083N05,19124,Hazardous Materials,"2200 E ADAMS AVE PHILADELPHIA, PA 19124 USA","POLYGON ((2714513.939 256158.361, 2714510.617 ...",3
69,Allegheny Iron and Metal,No,083N050014,2200 ADAMS AVE,083N05,19124,Hazardous Materials,"2250 E ADAMS AVE PHILADELPHIA, PA 19124 USA","POLYGON ((2714513.939 256158.361, 2714510.617 ...",3
70,Allegheny Iron and Metal,No,083N050014,2200 ADAMS AVE,083N05,19124,Dumpster License - Construction,"2200 E ADAMS AVE PHILADELPHIA, PA 19124 USA","POLYGON ((2714513.939 256158.361, 2714510.617 ...",3
71,Big Head Auto Salvage,No,047S230011,3225 S 61ST ST,047S23,19153-3502,Hazardous Materials,"963 GRANT RD FOLCROFT, PA 19032 USA","POLYGON ((2680849.855 223701.259, 2680839.309 ...",1

In [68]:
#getting rid of duplicate license types from same parcel
fires_simple = fires.drop_duplicates()

In [69]:
fires_simple

,company_name,has_junkyard_license,MAPREG,ADDR_SOURC,RECMAP,zip,licensetyp,geometry,business_count
0,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Hazardous Materials,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
1,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Auto Wrecking / Junk Yard,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
4,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Motor Vehicle Repair / Retail Mobile Dispensing,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
5,Titan Auto Recycling,Yes,044N080163,390 W SEDGLEY AVE,044N08,19140-4500,Vacant Residential Property / Lot,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",8
11,Titan Auto Recycling,Yes,044N070161,390 W SEDGLEY AVE,044N07,19140-4500,Towing,"POLYGON ((2701140.433 255796.897, 2701143.248 ...",3
12,Titan Auto Recycling,Yes,044N070161,390 W SEDGLEY AVE,044N07,19140-4500,Motor Vehicle Repair / Retail Mobile Dispensing,"POLYGON ((2701140.433 255796.897, 2701143.248 ...",3
13,Titan Auto Recycling,Yes,044N070161,390 W SEDGLEY AVE,044N07,19140-4500,Tow Company,"POLYGON ((2701140.433 255796.897, 2701143.248 ...",3
15,Titan Auto Recycling,Yes,044N070161,390 W SEDGLEY AVE,044N07,19140-4500,Hazardous Materials,"POLYGON ((2701140.433 255796.897, 2701143.248 ...",3
16,Titan Auto Recycling,Yes,044N070161,390 W SEDGLEY AVE,044N07,19140-4500,Auto Wrecking / Junk Yard,"POLYGON ((2701140.433 255796.897, 2701143.248 ...",3
17,SD Richman and Sons,Yes,078N150014,2435 WHEATSHEAF LN,078N15,19137-1097,Hot Work,"POLYGON ((2715170.058 252783.321, 2715157.056 ...",1
18,SD Richman and Sons,Yes,078N150014,2435 WHEATSHEAF LN,078N15,19137-1097,Auto Wrecking / Junk Yard,"POLYGON ((2715170.058 252783.321, 2715157.056 ...",1
19,SD Richman and Sons,Yes,078N150014,2435 WHEATSHEAF LN,078N15,19137-1097,Scales and Scanners,"POLYGON ((2715170.058 252783.321, 2715157.056 ...",1
20,SD Richman and Sons,Yes,078N150014,2435 WHEATSHEAF LN,078N15,19137-1097,Hazardous Materials,"POLYGON ((2715170.058 252783.321, 2715157.056 ...",1
21,SD Richman and Sons,Yes,078N150014,2435 WHEATSHEAF LN,078N15,19137-1097,Motor Vehicle Repair / Retail Mobile Dispensing,"POLYGON ((2715170.058 252783.321, 2715157.056 ...",1
22,Waste Management - Philadelphia Transfer Station,No,009S090011,3651 GRAYS FERRY AVE,009S09,19146-2703,Motor Vehicle Repair / Retail Mobile Dispensing,"POLYGON ((2682768.727 231554.674, 2682767.606 ...",1
23,Waste Management - Philadelphia Transfer Station,No,009S090011,3651 GRAYS FERRY AVE,009S09,19146-2703,Scales and Scanners,"POLYGON ((2682768.727 231554.674, 2682767.606 ...",1
24,Waste Management - Philadelphia Transfer Station,No,009S090011,3651 GRAYS FERRY AVE,009S09,19146-2703,Dumpster License - Construction,"POLYGON ((2682768.727 231554.674, 2682767.606 ...",1
25,Waste Management - Philadelphia Transfer Station,No,009S090011,3651 GRAYS FERRY AVE,009S09,19146-2703,Hazardous Materials,"POLYGON ((2682768.727 231554.674, 2682767.606 ...",1
26,Nicholas Scrap Metal,Yes,101N070226,3812 OLD YORK RD,101N07,19140-3715,Hazardous Materials,"POLYGON ((2697425.723 257563.859, 2697425.741 ...",1
27,Nicholas Scrap Metal,Yes,101N070226,3812 OLD YORK RD,101N07,19140-3715,Dumpster License - Private Property,"POLYGON ((2697425.723 257563.859, 2697425.741 ...",1
29,Nicholas Scrap Metal,Yes,101N070226,3812 OLD YORK RD,101N07,19140-3715,Auto Wrecking / Junk Yard,"POLYGON ((2697425.723 257563.859, 2697425.741 ...",1
30,Nicholas Scrap Metal,Yes,101N070226,3812 OLD YORK RD,101N07,19140-3715,Scales and Scanners,"POLYGON ((2697425.723 257563.859, 2697425.741 ...",1
32,Delaware Valley Recycling,No,047S220031,None,047S22,19153-3501,Scales and Scanners,"POLYGON ((2679422.663 225775.476, 2679544.937 ...",1
33,Delaware Valley Recycling,No,047S220031,None,047S22,19153-3501,Hazardous Materials,"POLYGON ((2679422.663 225775.476, 2679544.937 ...",1
34,Multiple - ABM Automotive or AL's Auto Services,No,023S090332,246 S 59TH ST,023S09,19139-3817,Motor Vehicle Repair / Retail Mobile Dispensing,"POLYGON ((2671677.631 237162.631, 2671682.940 ...",1
35,Gold Medal Enviomental,No,037S090011,1620 S 49TH ST,037S09,None,None,"POLYGON ((2681517.286 230296.487, 2681511.858 ...",0
36,McCarthy Tire Service,No,025N150065,3465 MELVALE ST,025N15,None,None,"POLYGON ((2712667.787 248942.079, 2712633.179 ...",0
37,Thim Export,No,116N030022,6801R NEW STATE RD # D,116N03,19135,Hot Work,"POLYGON ((2727741.695 261540.454, 2727882.714 ...",2
38,Thim Export,No,116N030022,6801R NEW STATE RD # D,116N03,19135,Dumpster License - Private Property,"POLYGON ((2727741.695 261540.454, 2727882.714 ...",2
39,Thim Export,No,116N030022,6801R NEW STATE RD # D,116N03,19135,Hazardous Materials,"POLYGON ((2727741.695 261540.454, 2727882.714 ...",2
40,Orthodox Auto Company,Yes,111N220010,5247-57 UNRUH AVE,111N22,19135-2912,Towing,"POLYGON ((2727858.623 261131.420, 2727876.458 ...",2
44,Orthodox Auto Company,Yes,111N220010,5247-57 UNRUH AVE,111N22,19135-2912,Dumpster License - Private Property,"POLYGON ((2727858.623 261131.420, 2727876.458 ...",2
45,Orthodox Auto Company,Yes,111N220010,5247-57 UNRUH AVE,111N22,19135-2912,Hazardous Materials,"POLYGON ((2727858.623 261131.420, 2727876.458 ...",2
46,Orthodox Auto Company,Yes,111N220010,5247-57 UNRUH AVE,111N22,19135-2912,Auto Wrecking / Junk Yard,"POLYGON ((2727858.623 261131.420, 2727876.458 ...",2
49,Orthodox Auto Company,Yes,111N220010,5247-57 UNRUH AVE,111N22,19135-2912,Handbill Distribution,"POLYGON ((2727858.623 261131.420, 2727876.458 ...",2
52,EMR Philadelphia - Delco,No,037N160051,178 W CLEARFIELD ST,037N16,19133-3611,Hazardous Materials,"POLYGON ((2701681.184 252521.160, 2701543.478 ...",1
53,EMR Philadelphia - Delco,No,037N160051,178 W CLEARFIELD ST,037N16,19133-3611,Scales and Scanners,"POLYGON ((2701681.184 252521.160, 2701543.478 ...",1
55,101 W VENANGO ST,No,045N150032,3600 N FRONT ST,045N15,None,None,"POLYGON ((2702824.610 255570.467, 2702905.992 ...",0
56,Philadelphia Metal and Resource Recovery,Yes,066N100089,2200 E SOMERSET ST,066N10,19134-3900,Scales and Scanners,"POLYGON ((2706265.507 248315.541, 2706162.166 ...",4
57,Philadelphia Metal and Resource Recovery,Yes,066N100089,2200 E SOMERSET ST,066N10,19134-3900,Hazardous Materials,"POLYGON ((2706265.507 248315.541, 2706162.166 ...",4
58,Philadelphia Metal and Resource Recovery,Yes,066N100089,2200 E SOMERSET ST,066N10,19134-3900,Auto Wrecking / Junk Yard,"POLYGON ((2706265.507 248315.541, 2706162.166 ...",4
62,Philadelphia Metal and Resource Recovery,Yes,066N100089,2200 E SOMERSET ST,066N10,19134-4233,Scales and Scanners,"POLYGON ((2706265.507 248315.541, 2706162.166 ...",4
63,Multiple - 6030 W Passyunk Ave,Yes,050S210035,2600 W PASSYUNK AVE,050S21,19145,Outdoor Advertising Sign,"POLYGON ((2678216.336 222440.976, 2678229.101 ...",1
65,Allegheny Iron and Metal,No,083N050014,2200 ADAMS AVE,083N05,19124,Hazardous Materials,"POLYGON ((2714513.939 256158.361, 2714510.617 ...",3
66,Allegheny Iron and Metal,No,083N050014,2200 ADAMS AVE,083N05,19124,Scales and Scanners,"POLYGON ((2714513.939 256158.361, 2714510.617 ...",3
70,Allegheny Iron and Metal,No,083N050014,2200 ADAMS AVE,083N05,19124,Dumpster License - Construction,"POLYGON ((2714513.939 256158.361, 2714510.617 ...",3
71,Big Head Auto Salvage,No,047S230011,3225 S 61ST ST,047S23,19153-3502,Hazardous Materials,"POLYGON ((2680849.855 223701.259, 2680839.309 ...",1

### One-hot encoding fire location licenses to be able to merge them with violations

In [55]:
fire_1he = pd.get_dummies(fires_simple[["licensetyp"]]).reset_index().drop("index", axis=1)
fire_1he

,licensetyp_Auto Wrecking / Junk Yard,licensetyp_Dumpster License - Construction,licensetyp_Dumpster License - Private Property,licensetyp_Handbill Distribution,licensetyp_Hazardous Materials,licensetyp_Hot Work,licensetyp_Motor Vehicle Repair / Retail Mobile Dispensing,licensetyp_Outdoor Advertising Sign,licensetyp_Scales and Scanners,licensetyp_Tow Company,licensetyp_Towing,licensetyp_Vacant Residential Property / Lot
0,0,0,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,1,0
5,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1,0,0
7,0,0,0,0,1,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,1,0,0,0
12,0,0,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,1,0,0,0,0,0
14,0,0,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,1,0,0,0
16,0,1,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,1,0,0,0,0,0,0,0
19,0,0,1,0,0,0,0,0,0,0,0,0
20,1,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,1,0,0,0
22,0,0,0,0,0,0,0,0,1,0,0,0
23,0,0,0,0,1,0,0,0,0,0,0,0
24,0,0,0,0,0,0,1,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,1,0,0,0,0,0,0
28,0,0,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,1,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,1,0
31,0,0,1,0,0,0,0,0,0,0,0,0
32,0,0,0,0,1,0,0,0,0,0,0,0
33,1,0,0,0,0,0,0,0,0,0,0,0
34,0,0,0,1,0,0,0,0,0,0,0,0
35,0,0,0,0,1,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,1,0,0,0
37,0,0,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,1,0,0,0
39,0,0,0,0,1,0,0,0,0,0,0,0
40,1,0,0,0,0,0,0,0,0,0,0,0
41,0,0,0,0,0,0,0,0,1,0,0,0
42,0,0,0,0,0,0,0,1,0,0,0,0
43,0,0,0,0,1,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,1,0,0,0
45,0,1,0,0,0,0,0,0,0,0,0,0
46,0,0,0,0,1,0,0,0,0,0,0,0

In [70]:
fires_simple.columns

Index(['company_name', 'has_junkyard_license', 'MAPREG', 'ADDR_SOURC',
       'RECMAP', 'zip', 'licensetyp', 'geometry', 'business_count'],
      dtype='object')

In [71]:
fires_simple_columns = fires_simple[["company_name", "MAPREG", 
                                     "has_junkyard_license", "ADDR_SOURC", 
                                     "RECMAP", "business_count", "geometry"]]

In [72]:
fires_simple_columns

,company_name,MAPREG,has_junkyard_license,ADDR_SOURC,RECMAP,business_count,geometry
0,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ..."
1,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ..."
4,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ..."
5,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ..."
11,Titan Auto Recycling,044N070161,Yes,390 W SEDGLEY AVE,044N07,3,"POLYGON ((2701140.433 255796.897, 2701143.248 ..."
12,Titan Auto Recycling,044N070161,Yes,390 W SEDGLEY AVE,044N07,3,"POLYGON ((2701140.433 255796.897, 2701143.248 ..."
13,Titan Auto Recycling,044N070161,Yes,390 W SEDGLEY AVE,044N07,3,"POLYGON ((2701140.433 255796.897, 2701143.248 ..."
15,Titan Auto Recycling,044N070161,Yes,390 W SEDGLEY AVE,044N07,3,"POLYGON ((2701140.433 255796.897, 2701143.248 ..."
16,Titan Auto Recycling,044N070161,Yes,390 W SEDGLEY AVE,044N07,3,"POLYGON ((2701140.433 255796.897, 2701143.248 ..."
17,SD Richman and Sons,078N150014,Yes,2435 WHEATSHEAF LN,078N15,1,"POLYGON ((2715170.058 252783.321, 2715157.056 ..."
18,SD Richman and Sons,078N150014,Yes,2435 WHEATSHEAF LN,078N15,1,"POLYGON ((2715170.058 252783.321, 2715157.056 ..."
19,SD Richman and Sons,078N150014,Yes,2435 WHEATSHEAF LN,078N15,1,"POLYGON ((2715170.058 252783.321, 2715157.056 ..."
20,SD Richman and Sons,078N150014,Yes,2435 WHEATSHEAF LN,078N15,1,"POLYGON ((2715170.058 252783.321, 2715157.056 ..."
21,SD Richman and Sons,078N150014,Yes,2435 WHEATSHEAF LN,078N15,1,"POLYGON ((2715170.058 252783.321, 2715157.056 ..."
22,Waste Management - Philadelphia Transfer Station,009S090011,No,3651 GRAYS FERRY AVE,009S09,1,"POLYGON ((2682768.727 231554.674, 2682767.606 ..."
23,Waste Management - Philadelphia Transfer Station,009S090011,No,3651 GRAYS FERRY AVE,009S09,1,"POLYGON ((2682768.727 231554.674, 2682767.606 ..."
24,Waste Management - Philadelphia Transfer Station,009S090011,No,3651 GRAYS FERRY AVE,009S09,1,"POLYGON ((2682768.727 231554.674, 2682767.606 ..."
25,Waste Management - Philadelphia Transfer Station,009S090011,No,3651 GRAYS FERRY AVE,009S09,1,"POLYGON ((2682768.727 231554.674, 2682767.606 ..."
26,Nicholas Scrap Metal,101N070226,Yes,3812 OLD YORK RD,101N07,1,"POLYGON ((2697425.723 257563.859, 2697425.741 ..."
27,Nicholas Scrap Metal,101N070226,Yes,3812 OLD YORK RD,101N07,1,"POLYGON ((2697425.723 257563.859, 2697425.741 ..."
29,Nicholas Scrap Metal,101N070226,Yes,3812 OLD YORK RD,101N07,1,"POLYGON ((2697425.723 257563.859, 2697425.741 ..."
30,Nicholas Scrap Metal,101N070226,Yes,3812 OLD YORK RD,101N07,1,"POLYGON ((2697425.723 257563.859, 2697425.741 ..."
32,Delaware Valley Recycling,047S220031,No,None,047S22,1,"POLYGON ((2679422.663 225775.476, 2679544.937 ..."
33,Delaware Valley Recycling,047S220031,No,None,047S22,1,"POLYGON ((2679422.663 225775.476, 2679544.937 ..."
34,Multiple - ABM Automotive or AL's Auto Services,023S090332,No,246 S 59TH ST,023S09,1,"POLYGON ((2671677.631 237162.631, 2671682.940 ..."
35,Gold Medal Enviomental,037S090011,No,1620 S 49TH ST,037S09,0,"POLYGON ((2681517.286 230296.487, 2681511.858 ..."
36,McCarthy Tire Service,025N150065,No,3465 MELVALE ST,025N15,0,"POLYGON ((2712667.787 248942.079, 2712633.179 ..."
37,Thim Export,116N030022,No,6801R NEW STATE RD # D,116N03,2,"POLYGON ((2727741.695 261540.454, 2727882.714 ..."
38,Thim Export,116N030022,No,6801R NEW STATE RD # D,116N03,2,"POLYGON ((2727741.695 261540.454, 2727882.714 ..."
39,Thim Export,116N030022,No,6801R NEW STATE RD # D,116N03,2,"POLYGON ((2727741.695 261540.454, 2727882.714 ..."
40,Orthodox Auto Company,111N220010,Yes,5247-57 UNRUH AVE,111N22,2,"POLYGON ((2727858.623 261131.420, 2727876.458 ..."
44,Orthodox Auto Company,111N220010,Yes,5247-57 UNRUH AVE,111N22,2,"POLYGON ((2727858.623 261131.420, 2727876.458 ..."
45,Orthodox Auto Company,111N220010,Yes,5247-57 UNRUH AVE,111N22,2,"POLYGON ((2727858.623 261131.420, 2727876.458 ..."
46,Orthodox Auto Company,111N220010,Yes,5247-57 UNRUH AVE,111N22,2,"POLYGON ((2727858.623 261131.420, 2727876.458 ..."
49,Orthodox Auto Company,111N220010,Yes,5247-57 UNRUH AVE,111N22,2,"POLYGON ((2727858.623 261131.420, 2727876.458 ..."
52,EMR Philadelphia - Delco,037N160051,No,178 W CLEARFIELD ST,037N16,1,"POLYGON ((2701681.184 252521.160, 2701543.478 ..."
53,EMR Philadelphia - Delco,037N160051,No,178 W CLEARFIELD ST,037N16,1,"POLYGON ((2701681.184 252521.160, 2701543.478 ..."
55,101 W VENANGO ST,045N150032,No,3600 N FRONT ST,045N15,0,"POLYGON ((2702824.610 255570.467, 2702905.992 ..."
56,Philadelphia Metal and Resource Recovery,066N100089,Yes,2200 E SOMERSET ST,066N10,4,"POLYGON ((2706265.507 248315.541, 2706162.166 ..."
57,Philadelphia Metal and Resource Recovery,066N100089,Yes,2200 E SOMERSET ST,066N10,4,"POLYGON ((2706265.507 248315.541, 2706162.166 ..."
58,Philadelphia Metal and Resource Recovery,066N100089,Yes,2200 E SOMERSET ST,066N10,4,"POLYGON ((2706265.507 248315.541, 2706162.166 ..."
62,Philadelphia Metal and Resource Recovery,066N100089,Yes,2200 E SOMERSET ST,066N10,4,"POLYGON ((2706265.507 248315.541, 2706162.166 ..."
63,Multiple - 6030 W Passyunk Ave,050S210035,Yes,2600 W PASSYUNK AVE,050S21,1,"POLYGON ((2678216.336 222440.976, 2678229.101 ..."
65,Allegheny Iron and Metal,083N050014,No,2200 ADAMS AVE,083N05,3,"POLYGON ((2714513.939 256158.361, 2714510.617 ..."
66,Allegheny Iron and Metal,083N050014,No,2200 ADAMS AVE,083N05,3,"POLYGON ((2714513.939 256158.361, 2714510.617 ..."
70,Allegheny Iron and Metal,083N050014,No,2200 ADAMS AVE,083N05,3,"POLYGON ((2714513.939 256158.361, 2714510.617 ..."
71,Big Head Auto Salvage,047S230011,No,3225 S 61ST ST,047S23,1,"POLYGON ((2680849.855 223701.259, 2680839.309 ..."

In [73]:
fireparcels = fires_simple_columns.drop_duplicates()

In [75]:
fireparcels.reset_index(drop=True, inplace=True)

In [76]:
fireparcels

,company_name,MAPREG,has_junkyard_license,ADDR_SOURC,RECMAP,business_count,geometry
0,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ..."
1,Titan Auto Recycling,044N070161,Yes,390 W SEDGLEY AVE,044N07,3,"POLYGON ((2701140.433 255796.897, 2701143.248 ..."
2,SD Richman and Sons,078N150014,Yes,2435 WHEATSHEAF LN,078N15,1,"POLYGON ((2715170.058 252783.321, 2715157.056 ..."
3,Waste Management - Philadelphia Transfer Station,009S090011,No,3651 GRAYS FERRY AVE,009S09,1,"POLYGON ((2682768.727 231554.674, 2682767.606 ..."
4,Nicholas Scrap Metal,101N070226,Yes,3812 OLD YORK RD,101N07,1,"POLYGON ((2697425.723 257563.859, 2697425.741 ..."
5,Delaware Valley Recycling,047S220031,No,None,047S22,1,"POLYGON ((2679422.663 225775.476, 2679544.937 ..."
6,Multiple - ABM Automotive or AL's Auto Services,023S090332,No,246 S 59TH ST,023S09,1,"POLYGON ((2671677.631 237162.631, 2671682.940 ..."
7,Gold Medal Enviomental,037S090011,No,1620 S 49TH ST,037S09,0,"POLYGON ((2681517.286 230296.487, 2681511.858 ..."
8,McCarthy Tire Service,025N150065,No,3465 MELVALE ST,025N15,0,"POLYGON ((2712667.787 248942.079, 2712633.179 ..."
9,Thim Export,116N030022,No,6801R NEW STATE RD # D,116N03,2,"POLYGON ((2727741.695 261540.454, 2727882.714 ..."
10,Orthodox Auto Company,111N220010,Yes,5247-57 UNRUH AVE,111N22,2,"POLYGON ((2727858.623 261131.420, 2727876.458 ..."
11,EMR Philadelphia - Delco,037N160051,No,178 W CLEARFIELD ST,037N16,1,"POLYGON ((2701681.184 252521.160, 2701543.478 ..."
12,101 W VENANGO ST,045N150032,No,3600 N FRONT ST,045N15,0,"POLYGON ((2702824.610 255570.467, 2702905.992 ..."
13,Philadelphia Metal and Resource Recovery,066N100089,Yes,2200 E SOMERSET ST,066N10,4,"POLYGON ((2706265.507 248315.541, 2706162.166 ..."
14,Multiple - 6030 W Passyunk Ave,050S210035,Yes,2600 W PASSYUNK AVE,050S21,1,"POLYGON ((2678216.336 222440.976, 2678229.101 ..."
15,Allegheny Iron and Metal,083N050014,No,2200 ADAMS AVE,083N05,3,"POLYGON ((2714513.939 256158.361, 2714510.617 ..."
16,Big Head Auto Salvage,047S230011,No,3225 S 61ST ST,047S23,1,"POLYGON ((2680849.855 223701.259, 2680839.309 ..."

In [58]:
tmp_2 = fires_simple[["MAPREG"]].reset_index().drop("index", axis=1).join(fire_1he)
tmp_2.shape

(47, 13)

In [79]:
tmp_2.describe()

,licensetyp_Auto Wrecking / Junk Yard,licensetyp_Dumpster License - Construction,licensetyp_Dumpster License - Private Property,licensetyp_Handbill Distribution,licensetyp_Hazardous Materials,licensetyp_Hot Work,licensetyp_Motor Vehicle Repair / Retail Mobile Dispensing,licensetyp_Outdoor Advertising Sign,licensetyp_Scales and Scanners,licensetyp_Tow Company,licensetyp_Towing,licensetyp_Vacant Residential Property / Lot
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000
mean,0.127660,0.042553,0.063830,0.021277,0.255319,0.042553,0.106383,0.021277,0.170213,0.021277,0.042553,0.021277
std,0.337318,0.204030,0.247092,0.145865,0.440755,0.204030,0.311661,0.145865,0.379883,0.145865,0.204030,0.145865
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [82]:
tmp_2.reset_index(inplace=True, drop=True)

In [83]:
tmp_2

,index,MAPREG,licensetyp_Auto Wrecking / Junk Yard,licensetyp_Dumpster License - Construction,licensetyp_Dumpster License - Private Property,licensetyp_Handbill Distribution,licensetyp_Hazardous Materials,licensetyp_Hot Work,licensetyp_Motor Vehicle Repair / Retail Mobile Dispensing,licensetyp_Outdoor Advertising Sign,licensetyp_Scales and Scanners,licensetyp_Tow Company,licensetyp_Towing,licensetyp_Vacant Residential Property / Lot
0,0,044N080163,0,0,0,0,1,0,0,0,0,0,0,0
1,1,044N080163,1,0,0,0,0,0,0,0,0,0,0,0
2,2,044N080163,0,0,0,0,0,0,1,0,0,0,0,0
3,3,044N080163,0,0,0,0,0,0,0,0,0,0,0,1
4,4,044N070161,0,0,0,0,0,0,0,0,0,0,1,0
5,5,044N070161,0,0,0,0,0,0,1,0,0,0,0,0
6,6,044N070161,0,0,0,0,0,0,0,0,0,1,0,0
7,7,044N070161,0,0,0,0,1,0,0,0,0,0,0,0
8,8,044N070161,1,0,0,0,0,0,0,0,0,0,0,0
9,9,078N150014,0,0,0,0,0,1,0,0,0,0,0,0
10,10,078N150014,1,0,0,0,0,0,0,0,0,0,0,0
11,11,078N150014,0,0,0,0,0,0,0,0,1,0,0,0
12,12,078N150014,0,0,0,0,1,0,0,0,0,0,0,0
13,13,078N150014,0,0,0,0,0,0,1,0,0,0,0,0
14,14,009S090011,0,0,0,0,0,0,1,0,0,0,0,0
15,15,009S090011,0,0,0,0,0,0,0,0,1,0,0,0
16,16,009S090011,0,1,0,0,0,0,0,0,0,0,0,0
17,17,009S090011,0,0,0,0,1,0,0,0,0,0,0,0
18,18,101N070226,0,0,0,0,1,0,0,0,0,0,0,0
19,19,101N070226,0,0,1,0,0,0,0,0,0,0,0,0
20,20,101N070226,1,0,0,0,0,0,0,0,0,0,0,0
21,21,101N070226,0,0,0,0,0,0,0,0,1,0,0,0
22,22,047S220031,0,0,0,0,0,0,0,0,1,0,0,0
23,23,047S220031,0,0,0,0,1,0,0,0,0,0,0,0
24,24,023S090332,0,0,0,0,0,0,1,0,0,0,0,0
25,25,037S090011,0,0,0,0,0,0,0,0,0,0,0,0
26,26,025N150065,0,0,0,0,0,0,0,0,0,0,0,0
27,27,116N030022,0,0,0,0,0,1,0,0,0,0,0,0
28,28,116N030022,0,0,1,0,0,0,0,0,0,0,0,0
29,29,116N030022,0,0,0,0,1,0,0,0,0,0,0,0
30,30,111N220010,0,0,0,0,0,0,0,0,0,0,1,0
31,31,111N220010,0,0,1,0,0,0,0,0,0,0,0,0
32,32,111N220010,0,0,0,0,1,0,0,0,0,0,0,0
33,33,111N220010,1,0,0,0,0,0,0,0,0,0,0,0
34,34,111N220010,0,0,0,1,0,0,0,0,0,0,0,0
35,35,037N160051,0,0,0,0,1,0,0,0,0,0,0,0
36,36,037N160051,0,0,0,0,0,0,0,0,1,0,0,0
37,37,045N150032,0,0,0,0,0,0,0,0,0,0,0,0
38,38,066N100089,0,0,0,0,0,0,0,0,1,0,0,0
39,39,066N100089,0,0,0,0,1,0,0,0,0,0,0,0
40,40,066N100089,1,0,0,0,0,0,0,0,0,0,0,0
41,41,066N100089,0,0,0,0,0,0,0,0,1,0,0,0
42,42,050S210035,0,0,0,0,0,0,0,1,0,0,0,0
43,43,083N050014,0,0,0,0,1,0,0,0,0,0,0,0
44,44,083N050014,0,0,0,0,0,0,0,0,1,0,0,0
45,45,083N050014,0,1,0,0,0,0,0,0,0,0,0,0
46,46,047S230011,0,0,0,0,1,0,0,0,0,0,0,0

In [84]:
fires_oh = fireparcels.merge(tmp_2.groupby("MAPREG").max(), on="MAPREG")

In [86]:
fires_oh.drop(columns="index", inplace=True)

### Joining Fire Locations (+ OHE License) with L&I Violations

In [87]:
#spatial join, keeping extra columns in case I want to compare them
fireviolations = gpd.sjoin(fires_oh,violations_proj, how="left", lsuffix="fire", rsuffix="viol")

In [88]:
fireviolations

,company_name,MAPREG,has_junkyard_license,ADDR_SOURC,RECMAP,business_count,geometry,licensetyp_Auto Wrecking / Junk Yard,licensetyp_Dumpster License - Construction,licensetyp_Dumpster License - Private Property,...,licensetyp_Outdoor Advertising Sign,licensetyp_Scales and Scanners,licensetyp_Tow Company,licensetyp_Towing,licensetyp_Vacant Residential Property / Lot,index_viol,caserespon,casepriori,violationc,violatio_1
0,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",1,0,0,...,0,0,0,0,1,36424.0,CODE ENFORCEMENT INVESTIGATOR,HAZARDOUS,FC-13-270351,MARKING OF CONTAINERS
0,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",1,0,0,...,0,0,0,0,1,36423.0,CODE ENFORCEMENT INVESTIGATOR,HAZARDOUS,FC-13-270181,CONTAINER CONTENTS
0,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",1,0,0,...,0,0,0,0,1,259829.0,CSU INVESTIGATOR,UNSAFE,PM15-304.1(G),EXTERIOR WALLS
0,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",1,0,0,...,0,0,0,0,1,259830.0,CSU INVESTIGATOR,UNSAFE,A-304.1/1,ARCHITECT/ENGINEER SERVICES
0,Titan Auto Recycling,044N080163,Yes,390 W SEDGLEY AVE,044N08,8,"POLYGON ((2700968.775 255483.242, 2700835.206 ...",1,0,0,...,0,0,0,0,1,36425.0,CODE ENFORCEMENT INVESTIGATOR,HAZARDOUS,FC-13-906.2,FIRE EXTINGUISHERS TAGGED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,Allegheny Iron and Metal,083N050014,No,2200 ADAMS AVE,083N05,3,"POLYGON ((2714513.939 256158.361, 2714510.617 ...",0,1,0,...,0,1,0,0,0,371611.0,CI,STANDARD,FC-13-315,COMBUSTIBLE STORAGE
15,Allegheny Iron and Metal,083N050014,No,2200 ADAMS AVE,083N05,3,"POLYGON ((2714513.939 256158.361, 2714510.617 ...",0,1,0,...,0,1,0,0,0,214689.0,FIRE SAFETY INVESTIGATOR,STANDARD,F-906.2,FIRE EXTINGUISHERS\r\n
15,Allegheny Iron and Metal,083N050014,No,2200 ADAMS AVE,083N05,3,"POLYGON ((2714513.939 256158.361, 2714510.617 ...",0,1,0,...,0,1,0,0,0,371550.0,CI,STANDARD,FC-13-605.3,WORKING SPACE/CLEARANCE
15,Allegheny Iron and Metal,083N050014,No,2200 ADAMS AVE,083N05,3,"POLYGON ((2714513.939 256158.361, 2714510.617 ...",0,1,0,...,0,1,0,0,0,371615.0,CI,STANDARD,FC-13-2701.8,SAFETY DATA SHEETS/CONTAINER
16,Big Head Auto Salvage,047S230011,No,3225 S 61ST ST,047S23,1,"POLYGON ((2680849.855 223701.259, 2680839.309 ...",0,0,0,...,0,0,0,0,0,168269.0,FIRE SAFETY INVESTIGATOR,STANDARD,FC-13-2701.5,HAZMAT LICENSE REQUIRED

In [89]:
#cleaning that /r/n and /n crap from the violation descriptions
fireviolations["violatio_1"].replace(r'\r\n','', regex=True, inplace=True)

In [90]:
fireviolations["violatio_1"].replace(r'\n','', regex=True, inplace=True)

In [91]:
# realized we don't need these columns
fireviolations.drop(columns=["index_viol", "violationc"], inplace=True)

In [92]:
fireviolations.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 235 entries, 0 to 16
Data columns (total 22 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   company_name                                                235 non-null    object
 1   MAPREG                                                      235 non-null    object
 2   has_junkyard_license                                        235 non-null    object
 3   ADDR_SOURC                                                  208 non-null    object
 4   RECMAP                                                      235 non-null    object
 5   business_count                                              235 non-null    int64
 6   geometry                                                    235 non-null    geometry
 7   licensetyp_Auto Wrecking / Junk Yard                        235 non-null    uint8
 8   licensetyp_Dumpster License - Construction                  235 non-null    uint8
 9   licensetyp_Dumpster License - Private Property              235 non-null    uint8
 10  licensetyp_Handbill Distribution                            235 non-null    uint8
 11  licensetyp_Hazardous Materials                              235 non-null    uint8
 12  licensetyp_Hot Work                                         235 non-null    uint8
 13  licensetyp_Motor Vehicle Repair / Retail Mobile Dispensing  235 non-null    uint8
 14  licensetyp_Outdoor Advertising Sign                         235 non-null    uint8
 15  licensetyp_Scales and Scanners                              235 non-null    uint8
 16  licensetyp_Tow Company                                      235 non-null    uint8
 17  licensetyp_Towing                                           235 non-null    uint8
 18  licensetyp_Vacant Residential Property / Lot                235 non-null    uint8
 19  caserespon                                                  223 non-null    object
 20  casepriori                                                  223 non-null    object
 21  violatio_1                                                  233 non-null    object
dtypes: geometry(1), int64(1), object(8), uint8(12)
memory usage: 22.9+ KB

In [100]:
#cleaning up column names
fireviolations.rename(columns={"MAPREG":"parcel_full", "ADDR_SOURC":"address", "RECMAP":"map_section"}, inplace=True)

In [96]:
fireviolations.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 235 entries, 0 to 16
Data columns (total 22 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   company_name                                                235 non-null    object
 1   parcel_full                                                 235 non-null    object
 2   has_junkyard_license                                        235 non-null    object
 3   address                                                     208 non-null    object
 4   map_section                                                 235 non-null    object
 5   business_count                                              235 non-null    int64
 6   geometry                                                    235 non-null    geometry
 7   licensetyp_Auto Wrecking / Junk Yard                        235 non-null    uint8
 8   licensetyp_Dumpster License - Construction                  235 non-null    uint8
 9   licensetyp_Dumpster License - Private Property              235 non-null    uint8
 10  licensetyp_Handbill Distribution                            235 non-null    uint8
 11  licensetyp_Hazardous Materials                              235 non-null    uint8
 12  licensetyp_Hot Work                                         235 non-null    uint8
 13  licensetyp_Motor Vehicle Repair / Retail Mobile Dispensing  235 non-null    uint8
 14  licensetyp_Outdoor Advertising Sign                         235 non-null    uint8
 15  licensetyp_Scales and Scanners                              235 non-null    uint8
 16  licensetyp_Tow Company                                      235 non-null    uint8
 17  licensetyp_Towing                                           235 non-null    uint8
 18  licensetyp_Vacant Residential Property / Lot                235 non-null    uint8
 19  caserespon                                                  223 non-null    object
 20  casepriori                                                  223 non-null    object
 21  violatio_1                                                  233 non-null    object
dtypes: geometry(1), int64(1), object(8), uint8(12)
memory usage: 22.9+ KB

In [98]:
fireviolations.describe()

,business_count,licensetyp_Auto Wrecking / Junk Yard,licensetyp_Dumpster License - Construction,licensetyp_Dumpster License - Private Property,licensetyp_Handbill Distribution,licensetyp_Hazardous Materials,licensetyp_Hot Work,licensetyp_Motor Vehicle Repair / Retail Mobile Dispensing,licensetyp_Outdoor Advertising Sign,licensetyp_Scales and Scanners,licensetyp_Tow Company,licensetyp_Towing,licensetyp_Vacant Residential Property / Lot
count,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000
mean,3.272340,0.536170,0.178723,0.110638,0.068085,0.851064,0.089362,0.400000,0.004255,0.493617,0.042553,0.110638,0.234043
std,2.842421,0.499754,0.383938,0.314353,0.252430,0.356785,0.285874,0.490944,0.065233,0.501026,0.202278,0.314353,0.424303
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

I won't one-hot encode the violation data because then we will lose counts and it'll become way too hard to read the types of violations. We can always do that later. Already some interesting things showing up at a glance here!

### Exporting Fire Location/Licenses and Violations (Violations not OHE) to GeoJSON

In [99]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [101]:
drive.mount("content")

Mounted at content

In [102]:
cd /content/content/MyDrive/Colab Notebooks

/content/content/MyDrive/Colab Notebooks

In [103]:
fireviolations.to_file("/content/content/MyDrive/Colab Notebooks/FireLicensesandViolations.geojson", driver="GeoJSON")

# You can ignore this old step: Messily Looking at Mismatches in Geocode and Geometry Columns

In [ ]:
junkviolations.nunique()

address_lic        129
map_section         84
map_parcel         111
parcel_full        168
business_count      10
geocode_x_lic      121
geocode_y_lic      121
geometry           167
index_viol        1542
objectid          1542
casenumber         403
casecreate         272
casecomple         247
casetype             2
casestatus           3
caserespon          19
casepriori           6
violationn        1542
violationd         285
violationc         332
violatio_1         312
violations           8
violationr         106
violatio_2          10
mostrecent         301
address_viol       120
unit_num             5
zip                113
censustrac          37
opa_owner          122
systemofre           2
geocode_x_viol     162
geocode_y_viol     167
dtype: int64

In [ ]:
#selecting just the columns I want to compare
junkgeo = junkviolations[["geocode_x_lic", "geocode_x_viol",
                          "geocode_y_lic", "geocode_y_viol", "geometry"]]

In [ ]:
junkgeo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2152 entries, 0 to 167
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   geocode_x_lic   2152 non-null   float64
 1   geocode_x_viol  2121 non-null   float64
 2   geocode_y_lic   2152 non-null   float64
 3   geocode_y_viol  2121 non-null   float64
 4   geometry        2152 non-null   geometry
dtypes: float64(4), geometry(1)
memory usage: 100.9 KB

In [ ]:
junkgeo["geocode_x_lic"]

0      2.678437e+06
0      2.678437e+06
0      2.678437e+06
0      2.678437e+06
0      2.678437e+06
           ...
166    2.679286e+06
166    2.679286e+06
167    2.690249e+06
167    2.690249e+06
167    2.690249e+06
Name: geocode_x_lic, Length: 2152, dtype: float64

In [ ]:
weirdgeo = junkgeo.groupby(["geocode_x_lic"])

In [ ]:
idx = [x[0] for x in weirdgeo.groups.values() if len(x) == 1]

In [ ]:
idx

[98, 63, 60, 146, 145, 147, 149, 136, 119, 108, 130, 137, 141, 107, 123, 122]

In [ ]:
mismatches = junkgeo.loc[[71, 39, 36, 100, 95, 1, 91, 76, 67, 85, 54, 20, 66, 
                          35, 25, 82, 80, 79, 27]]
mismatches

,geocode_x_lic,geocode_x_viol,geocode_y_lic,geocode_y_viol,geometry
71,2.700817e+06,2.700800e+06,248719.992220,248728.625163,"POLYGON ((2700857.520 248711.701, 2700783.745 ..."
71,2.700817e+06,2.700800e+06,248719.992220,248728.625163,"POLYGON ((2700857.520 248711.701, 2700783.745 ..."
71,2.700817e+06,2.700800e+06,248719.992220,248728.625163,"POLYGON ((2700857.520 248711.701, 2700783.745 ..."
71,2.700817e+06,2.700800e+06,248719.992220,248728.625163,"POLYGON ((2700857.520 248711.701, 2700783.745 ..."
71,2.700817e+06,2.700800e+06,248719.992220,248728.625163,"POLYGON ((2700857.520 248711.701, 2700783.745 ..."
...,...,...,...,...,...
27,2.732425e+06,2.732130e+06,265003.685308,263167.735625,"POLYGON ((2732380.592 265561.662, 2732387.279 ..."
27,2.732425e+06,2.732130e+06,265003.685308,263167.735625,"POLYGON ((2732380.592 265561.662, 2732387.279 ..."
27,2.732425e+06,2.732130e+06,265003.685308,263167.735625,"POLYGON ((2732380.592 265561.662, 2732387.279 ..."
27,2.732425e+06,2.732130e+06,265003.685308,263167.735625,"POLYGON ((2732380.592 265561.662, 2732387.279 ..."
27,2.732425e+06,2.732130e+06,265003.685308,263167.735625,"POLYGON ((2732380.592 265561.662, 2732387.279 ..."

So it seems to be due to NaNs, but the ones with data seem to match!

In [ ]:
missing = junkgeo[junkgeo.isna().any(axis=1)]
print(missing.index)

Int64Index([  3,   4,  33,  34,  42,  43,  46,  47,  58,  59,  60,  85,  98,
            107, 108, 112, 113, 119, 122, 123, 125, 126, 136, 141, 145, 146,
            147, 149, 155, 156, 157],
           dtype='int64')

In [ ]:
missing.count()

geocode_x_lic     31
geocode_x_viol     0
geocode_y_lic     31
geocode_y_viol     0
geometry          31
dtype: int64

I have no idea what I'm doing lol but it looks like almost all mismatches in uniques, NaNs, etc is due to missing geocode data in the violations set, though there are a few cases where the same geometry has very slightly different license geocode data. And the different numbers of index values I get through these methods must be from the data being expanded or not with groupby. So I'm not going to worry about those non-matching numbers anymore.